<div [ngBusy]="busy">
<table class="table table-hover table-strip ">
  <thead>
  <tr>
  <th>EnquiryID</th>
  <th>Name</th>
  <th>EmailID</th>
  <th>ContactNo</th>
  <th>EnquiryMessage</th>
  <th>ReplyMessage</th>
  <th>createdDate</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let x of result">
  <td>{{x.enquiryID}}</td>
  <td>{{x.name}}</td>
  <td>{{x.emailID}}</td>
  <td>{{x.contactNo}}</td>
  <td>{{x.enquiryMessage}}</td>
  <td>{{x.replyMessage}}</td>
  <td>{{x.createdDate}}</td>
  <td><a class="btn btn-success p-2 m-1" [routerLink]="['/../admin/admin/update-enquiry']" target="_blank"  [queryParams]="{ enquiryID: (x.enquiryID) }"> Reply</a></td>  
  <td><a class="btn btn-danger p-2 m-1" [routerLink]="['/../admin/admin/Delete-enquiry']" target="_blank" [queryParams]="{ enquiryID: (x.enquiryID) }"> Delete</a></td>
  
  </tr>
  </tbody>
  </table>
</div>