<div class="container-fluid">
  <h1>Nirman IAS Banner </h1>
  <form #BannerForm="ngForm"(ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>BannerID</label>
      <input type="text" name="BannerID" class="form-control" [(ngModel)]="Banner.BannerID">
    </div>
    <div class="form-group">
      <label>BannerTitle</label>
      <input type="text" name="BannerTitle" class="form-control" [(ngModel)]="Banner.BannerTitle">
    </div>
    <div class="form-group">
      <label>BannerImagesPath</label>
      <input type="text" name="BannerImagesPath" class="form-control" [(ngModel)]="Banner.BannerImagesPath">
    </div>
    <div>
    <label>SubTitle</label>
    <textarea type="text" name="SubTitle" class="form-control" [(ngModel)]="Banner.SubTitle"></textarea>
    </div>
    <div>
      <label>Remarks</label>
      <textarea type="text" name="Remarks" class="form-control" [(ngModel)]="Banner.Remarks"></textarea>
    </div>
    <div class="form-group">
      <label>CreatedBy</label>
      <input type="text" name="CreatedBy" class="form-control" [(ngModel)]="Banner.CreatedBy">
    </div>
    <div class="form-group">
      <label>CreatedDate</label>
      <input type="text" name="CreatedDate" class="form-control" [(ngModel)]="Banner.CreatedDate">
    </div>
    <div class="form-group">
      <label>ModifiedBy</label>
      <input type="text" name="ModifiedBy" class="form-control" [(ngModel)]="Banner.ModifiedBy">
    </div>
    <div class="form-group">
      <label>ModifiedDate</label>
      <input type="text" name="ModifiedDate" class="form-control" [(ngModel)]="enquiry.ModifiedDate">
    </div>
    <div class="form-group">
      <label>Active</label>
      <input type="boolean" name="Active" class="form-control" [(ngModel)]="enquiry.Active">
    </div>
    <button type="submit"  class="btn btn-primary btn-lg ml-2">Submit Now</button>
    </form>
  </div>