<div class="row">
  <h2 class="container-fluid bg-danger text-white text-center p-2 m-2">Audio Article : Nirman IAS</h2>
  <div class="container [ngBusy]">
      <div *ngFor="let x of pageOfItems">
          <div class="shadow p-2">
              <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 rounded  p-2">
                              <img src={{x.currentAffairsImgPath}}  class="p-1 img-fluid" />
                      </div>
                      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 rounded  p-1">                              
                          <div class="p-1">
                              <h5 class="h5">{{x.title}}</h5>                    
                              <p class="text-justify small">{{x.summary}} </p>
                                      <div class="p-2 container">
                                              <a href={{x.pdfPath}}
                                              target="_blank" rel={{x.title}} title={{x.title}}
                                              class="border0 blink  p-2 m-2">
                                              <i class="fa fa-file-pdf-o  fa-3x "  aria-hidden="true"></i>
                                            </a>
                                            <br>
                                            <p class="fa fa-clock-o small  p-2 m-2 ">{{x.modifiedDate}}</p>
                                            <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: (x.pdfPath) }" class="small p-2 btn-success"  rel={{x.title}} title={{x.title}}>Read More...</a>        
                                          </div>
                                     </div>        
                          
                      </div>
              </div>
          </div>
          </div>
          <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
  </div>