<div class="row">
  <h2 class="bg-danger container-fluid text-center p-2 text-white">Indian Society : Nirman IAS</h2>
</div>
<div class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img class="img-fluid img-thumbnail rounded" src="./assets/NIAS_Books/7.jpg">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="shadow p-2 m-2 bg-secondary">
          <a href="./assets/NIAS_Books/NIAS_Book_Contents/Indian_Society/Indian_Society_Index.pdf" target="_blank" class="p-2 m-2  text-white text-center">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>  
            Indian Society Book Index</a>
        </div>
        <div class="shadow p-2 m-2 bg-secondary">
          <a href="./assets/NIAS_Books/NIAS_Book_Contents/Indian_Society/Perspectives_of_Indian_Society.pdf" target="_blank" class="p-2 m-2 text-white text-center">        
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                Indian Society Book </a>
        </div>
      </div>
    </div>
  </div>

</div>