<div class="row">
  <h2 class="container-fluid bg-danger text-white text-center p-2 m-2">Nirman IAS Talks And Interview</h2>
</div>
<div class="container-fluid">  
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="text-center m-2 p-2">
        <a href="https://youtu.be/QBiRgmz4mdA" target="_blank">
          <div class="card">
            <div class="card-body bg-dark text-white">
              <img src="../../../../assets/NIAS_Success_Tips/NIAS_New_Cold_War.jpg" class="img-fluid">
            </div>
            <div class="card-footer bg-secondary shadow">
              <h5 class="text-white">New Cold War</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="text-center m-2 p-2">
        <a href="https://youtu.be/o0UmhQT3i30" target="_blank">
          <div class="card">
            <div class="card-body bg-dark text-white">
              <img src="../../../../assets/NIAS_Success_Tips/NIAS_AmericanArmyExitSyria.jpg" class="img-fluid">
            </div>
            <div class="card-footer bg-secondary shadow">
              <h5 class="text-white">American Army Exit Syria</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="text-center m-2 p-2">
        <a href="https://youtu.be/Bgnv_zIGg2Q" target="_blank">
          <div class="card">
            <div class="card-body bg-dark text-white">
              <img src="../../../../assets/NIAS_Success_Tips/NIAS_China_And_India_HeadToHead.jpg" class="img-fluid">
            </div>
            <div class="card-footer bg-secondary shadow">
              <h5 class="text-white">China And India Head To Head</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="text-center m-2 p-2">
          <a href="https://youtu.be/2rEKRSuWLUk" target="_blank">
            <div class="card">
              <div class="card-body bg-dark text-white">
                <img src="../../../../assets/NIAS_Success_Tips/NIAS_International_Relations(IR)_Part1.jpg" class="img-fluid">
              </div>
              <div class="card-footer bg-secondary shadow">
                <h5 class="text-white">International Relations(IR)</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="text-center m-2 p-2">
            <a href="https://youtu.be/TUC3106zI5k" target="_blank">
              <div class="card">
                <div class="card-body bg-dark text-white">
                  <img src="../../../../assets/NIAS_Success_Tips/IndianForeignPolicySWOT_Analysis.jpg" class="img-fluid">
                </div>
                <div class="card-footer bg-secondary shadow">
                  <h5 class="text-white">Indian Foreign Policy SWOT Analysis</h5>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="text-center m-2 p-2">
            <a href="https://www.youtube.com/embed/CPp5vaDJcRo" target="_blank">
              <div class="card">
                <div class="card-body bg-dark text-white">
                  <img src="../../../../assets/NIAS_Success_Tips/Iti.JPG" class="img-fluid">
                </div>
                <div class="card-footer bg-secondary shadow">
                  <h5 class="text-white">इति चतुर्वेदी रैंक - 15 (SDM) BPSC</h5>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="text-center m-2 p-2">
            <a href="https://www.youtube.com/embed/xGF86UjrwpA" target="_blank">
              <div class="card">
                <div class="card-body bg-dark text-white">
                  <img src="../../../../assets/NIAS_Success_Tips/Garima.JPG" class="img-fluid">
                </div>
                <div class="card-footer bg-secondary shadow">
                  <h5 class="text-white">गरिमा गुप्ता P.O. BPSC</h5>
                </div>
              </div>
            </a>
          </div>
        </div>

        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="text-center m-2 p-2">
              <a href="../../../../assets/NIAS_Success_Tips/NIAS_Interview.jpg" target="_blank">
                <div class="card">
                  <div class="card-body bg-dark text-white">
                    <img src="../../../../assets/NIAS_Success_Tips/NIAS_Interview.jpg" class="img-fluid">
                  </div>
                  <div class="card-footer bg-secondary shadow">
                    <h5 class="text-white">Part -1 : संघ लोक सेवा आयोग साक्षात्कार परीक्षा - 2019 </h5>
                  </div>
                </div> 
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="text-center m-2 p-2">
              <a href="../../../../assets/NIAS_Success_Tips/NIAS_Interview_1.jpg" target="_blank">
                <div class="card">
                  <div class="card-body bg-dark text-white">
                    <img src="../../../../assets/NIAS_Success_Tips/NIAS_Interview_1.jpg" class="img-fluid">
                  </div>
                  <div class="card-footer bg-secondary shadow">
                    <h5 class="text-white">Part -2 : संघ लोक सेवा आयोग साक्षात्कार परीक्षा - 2019 </h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
   
        </div>
</div>