<h2 class="container-fluid bg-danger text-white text-center p-2 m-2">Class Notes</h2>
<div class="container-fluid p-2">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card m-2 p-2 shadow">
                <div class="card-header bg-danger text-white">
                        <h2>Paper -I</h2>
                       <span>भारतीय विरासत और संस्कृति, विश्व का इतिहास एवं भूगोल और भारतीय समाज</span> 
                </div>
                <div class="card-body">
                    <table class="table table-hover table-fluid">
                        <tr>
                            <th>Topic Title</th>
                            <th>Subject</th>
                            <th>Lang(H/E)</th>
                            <th>Updated Date</th>
                          </tr>
                          <tr>
                              <td>          
                                  <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/>  <a href="./assets/ClassNotes/History_Culture.pdf" target="_blank">भारतीय संस्कृति</a>               
                              </td>
                              <td>History</td>
                              <td>H</td>
                              <td>16 Feb 2019</td>
                            </tr>
                      <tr>
                        <td>          
                            <a href="./assets/ClassNotes/Modern_History.pdf" target="_blank">आधुनिक भारत</a>               
                        </td>
                        <td>History</td>
                        <td>H</td>
                        <td>21 Jan 2019</td>
                      </tr>
                      <tr>
                          <td>
                              <a href="./assets/ClassNotes/Art_Cult.pdf" target="_blank">कला एवं संस्कृति</a>               
                          </td>
                          <td>History</td>
                        <td>H</td>
                        
                          <td>20 Jan 2019</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="./assets/ClassNotes/Society.pdf" target="_blank">भारतीय समाज</a>
                            </td>
                            <td>History</td>
                          <td>H</td>
                          
                            <td>20 Jan 2019</td>
                          </tr>
                        
                  </table>
                  
                    </div>
                    <div class="card-footer bg-info text-right">
                        <a [routerLink]="['/InsertEnquiry']"  class=" text-white bg-danger p-2">
                          Request More Question Set <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                         </a>
                        </div>


            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card m-2 p-2 shadow">
                <div class="card-header bg-danger text-white">
                        <h2>Paper -II</h2>
                       <span>शासन व्यवस्था, संविधान शासन प्रणाली, सामाजिक न्याय तथा अंतराष्ट्रीय संबंध</span> 
                </div>
                <div class="card-body">
                    <table class="table table-hover table-fluid">
                        <tr>
                            <th>Topic Title</th>
                            <th>Subject</th>
                            <th>Lang(H/E)</th>
                            <th>Updated Date</th>
                          </tr>
                          <tr>
                              <td>          
                                  <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/>
                                    <a href="./assets/ClassNotes/NIAS_iR.pdf" target="_blank">विश्व राजनीति</a>               
                              </td>
                              <td>विश्व राजनीति</td>
                              <td>H</td>
                              <td>03 Mar 2019</td>
                            </tr>
                      <tr>
                        <td>          
                            <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/>
                              <a href="./assets/ClassNotes/NIAS_Polity_Samitiya.pdf" target="_blank">समितिया</a>               
                        </td>
                        <td>Polity</td>
                        <td>H</td>
                        <td>03 Mar 2019</td>
                      </tr>
                      <tr>
                          <td>          
                              <a href="./assets/ClassNotes/NIAS_Governance.pdf" target="_blank">शासन व्यवस्था</a>               
                          </td>
                          <td>शासन व्यवस्था</td>
                          <td>H</td>
                          <td>19 Feb 2019</td>
                        </tr>

                     </table>
                  
                    </div>
                    <div class="card-footer bg-info text-right">
                        <a [routerLink]="['/InsertEnquiry']"  class=" text-white bg-danger p-2">
                          Request More Question Set <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                         </a>
                        </div>


            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card m-2 p-2 shadow">
                <div class="card-header bg-danger text-white">
                        <h2>Paper -III</h2>
                       <span>प्रौधौगिकी, आर्थिक विकास , जैव विविधता, पयार्वरण, सुरक्षा तथा आपदा प्रबंधन</span> 
                </div>
                <div class="card-body">
                    <table class="table table-hover table-fluid">
                        <tr>
                            <th>Topic Title</th>
                            <th>Subject</th>
                            <th>Lang(H/E)</th>
                            <th>Updated Date</th>
                          </tr>
                          <tr>
                              <td>          
                                  <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/>  
                                  <a href="./assets/ClassNotes/NIAS_Biology.pdf" target="_blank">रक्त नलिका </a>               
                              </td>
                              <td>विज्ञानं(Science) </td>
                              <td>H</td>
                              <td>03 MAR 2019</td>
                            </tr>
                          <tr>
                            <td>          
                               <a href="./assets/ClassNotes/NIAS_Disaster_Management.pdf" target="_blank">आपदा प्रंबंधन का सेंडाइ फ्रेमवर्क</a>               
                            </td>
                            <td>आपदा प्रंबंधन</td>
                            <td>H</td>
                            <td>20 Feb 2019</td>
                          </tr>
                          <tr>
                            <td>          
                                 <a href="./assets/ClassNotes/NIAS_Economy_Agriculture_Subsidy.pdf" target="_blank">कृषि सब्सिडी के प्रकार</a>               
                            </td>
                            <td>Economy Agriculture</td>
                            <td>H</td>
                            <td>20 Feb 2019</td>
                          </tr>
                  </table>
                  
                    </div>
                    <div class="card-footer bg-info text-right">
                        <a [routerLink]="['/InsertEnquiry']"  class=" text-white bg-danger p-2">
                          Request More Question Set <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                         </a>
                        </div>


            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card m-2 p-2 shadow">
                <div class="card-header bg-danger text-white">
                        <h2>Paper -IV</h2>
                       <span>नीतिशास्त्रा, सत्यनिष्ठा और अभिरुचि</span> 
                </div>
                <div class="card-body">
                    <table class="table table-hover table-fluid">
                        <tr>
                            <th>Topic Title</th>
                            <th>Subject</th>
                            <th>Lang(H/E)</th>
                            <th>Updated Date</th>
                          </tr>
                      <tr>
                        <td>          
                            <a href="./assets/ClassNotes/Society.pdf" target="_blank">भारतीय समाज</a>
                        </td>
                        <td>History</td>
                        <td>H</td>
                        <td>21 Jan 2019</td>
                      </tr>
                     
                  </table>
                  
                    </div>
                    <div class="card-footer bg-info text-right">
                        <a [routerLink]="['/InsertEnquiry']"  class=" text-white bg-danger p-2">
                          Request More Question Set <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                         </a>
                        </div>


            </div>
        </div>
    </div>

