<div class="row">
    <h2 class="bg-danger text-white text-center  w-100 p-2 m-2">Offline Test With Answer</h2>
    <div class="container">
    <table class="table table-hover table-fluid">
        <tr>
            <th>MCQ Paper</th>
            <th>Answer</th>
            <th>Updated Date</th>
          </tr>
          <tr>
            <td>          
                <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/>
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ17.pdf" target="_blank">
                  समसामयिकी टेस्ट 17 प्रश्न + उत्तर
                </a>               
            </td>
            <td>
               
            </td>
            <td>17 APR 2019</td>
          </tr>
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ16.pdf" target="_blank">
                  समसामयिकी टेस्ट 16 प्रश्न + उत्तर
                </a>               
            </td>
            <td>
               
            </td>
            <td>16 APR 2019</td>
          </tr>
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ15.pdf" target="_blank">
                  समसामयिकी टेस्ट 15 प्रश्न + उत्तर
                </a>               
            </td>
            <td>
               
            </td>
            <td>13 APR 2019</td>
          </tr>
          <tr>
              <td>          
                  <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ14.pdf" target="_blank">
                    समसामयिकी टेस्ट 14 प्रश्न + उत्तर
                  </a>               
              </td>
              <td>
                 
              </td>
              <td>09 APR 2019</td>
            </tr>
            <tr>
                <td>          
                    <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ13.pdf" target="_blank">
                      समसामयिकी टेस्ट 13 प्रश्न + उत्तर
                    </a>               
                </td>
                <td>
                   
                </td>
                <td>09 APR 2019</td>
              </tr>
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ12.pdf" target="_blank">
                  समसामयिकी टेस्ट 12 प्रश्न + उत्तर
                </a>               
            </td>
            <td>
               
            </td>
            <td>05 APR 2019</td>
          </tr>
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ11.pdf" target="_blank">
                  समसामयिकी टेस्ट 11 प्रश्न + उत्तर
                </a>               
            </td>
            <td>
               
            </td>
            <td>04 APR 2019</td>
          </tr>
          
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ10.pdf" target="_blank">
                  समसामयिकी टेस्ट 10 प्रश्न + उत्तर
                </a>               
            </td>
            <td>
            </td>
            <td>02 APR 2019</td>
          </tr>
          
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ09.pdf" target="_blank">
                  समसामयिकी टेस्ट 09 प्रश्न + उत्तर
                </a>               
            </td>
            <td>
            </td>
            <td>01 APR 2019</td>
          </tr>
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ08.pdf" target="_blank">
                  समसामयिकी टेस्ट 08
                </a>               
            </td>
            <td>
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ08Answer.pdf" target="_blank">
                  समसामयिकी टेस्ट 08 उत्तर
                </a>  
            </td>
            <td>30 Mar 2019</td>
          </tr>
          
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ07.pdf" target="_blank">
                  समसामयिकी टेस्ट 07
                </a>               
            </td>
            <td>
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ07Answer.pdf" target="_blank">
                  समसामयिकी टेस्ट 07 उत्तर
                </a>  
            </td>
            <td>29 Mar 2019</td>
          </tr>
          
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ06.pdf" target="_blank">
                  समसामयिकी टेस्ट 06
                </a>               
            </td>
            <td>
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ06Answer.pdf" target="_blank">
                  समसामयिकी टेस्ट 06 उत्तर
                </a>  
            </td>
            <td>28 Mar 2019</td>
          </tr>
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ05.pdf" target="_blank">
                  समसामयिकी टेस्ट 05
                </a>               
            </td>
            <td>
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ05Answer.pdf" target="_blank">
                  समसामयिकी टेस्ट 05 उत्तर
                </a>  
            </td>
            <td>25 Mar 2019</td>
          </tr>
        
         
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ04.pdf" target="_blank">
                  समसामयिकी टेस्ट 04
                </a>               
            </td>
            <td>
                <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ04Answer.pdf" target="_blank">
                  समसामयिकी टेस्ट 04 उत्तर
                </a>  
            </td>
            <td>19 Mar 2019</td>
          </tr>
        
          <tr>
              <td>          
                  <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ03.pdf" target="_blank">
                    समसामयिकी टेस्ट 03
                  </a>               
              </td>
              <td>
                  <a href="./assets/CurrentAffairs/NIAS_MCQ/NIAS_MCQ03Answer.pdf" target="_blank">
                    समसामयिकी टेस्ट 03 उत्तर
                  </a>  
              </td>
              <td>18 Mar 2019</td>
            </tr>
          <tr>
              <td>          
                  <a href="./assets/CurrentAffairs/NIAS_MCQ/MCQ02.pdf"  target="_blank">
                    समसामयिकी टेस्ट 02
                  </a>               
              </td>
              <td>
                  <a href="./assets/CurrentAffairs/NIAS_MCQ/MCQ02Answer.pdf" target="_blank">
                    समसामयिकी टेस्ट 02 उत्तर
                  </a>  
              </td>
              <td>16 Mar 2019</td>
            </tr>
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_MCQ/MCQ01.pdf" target="_blank">
                  समसामयिकी टेस्ट 01
                </a>               
            </td>
            <td>
                <a href="./assets/CurrentAffairs/NIAS_MCQ/MCQ01Answer.pdf" target="_blank">
                  समसामयिकी टेस्ट 01 उत्तर
                </a>  
            </td>
            <td>15 Mar 2019</td>
          </tr>
    </table> 
    </div>
    </div>