<div class="container-fluid">
  <form enctype="multipart/form-data" method="post" #CourseForm="ngForm"  (ngSubmit)="onFormSubmit()">
     <!-- <div class="form-group">
       <label >CourseID </label>
   <input type="text" name="CourseID" required  #CourseID="ngModel" class="form-control"  [(ngModel)]="Course.CourseID">
   
   <div class="validation-error" *ngIf="CourseID.invalid && CourseID.touched">This field is required.</div>
    </div>  -->
   <div class="form-group">
        <label>CourseType </label>
       <input type="text" name="CourseType" #CourseType="ngModel" class="form-control"
       [(ngModel)]="Course.CourseType" required>
       <div class="validation-error" *ngIf="CourseType.invalid && CourseType.touched">This field is required.</div>
            </div>
        <div>
        <label>CourseCode</label>
        <input type="text" name="CourseCode"  #CourseCode="ngModel" class="form-control" required [(ngModel)]="Course.CourseCode" >
        <div class="validation-error" *ngIf="CourseCode.invalid && CourseCode.touched">This field is required.</div>
        </div>
        <div>
          <label>CourseName</label>
          <textarea type="text" name="CourseName"  #CourseName="ngModel" class="form-control" required [(ngModel)]="Course.CourseName"></textarea>
          <div class="validation-error" *ngIf="CourseName.invalid && CourseName.touched">This field is required.</div>
          </div>
          <div>
            <label>Remarks</label>
            <textarea type="text" name="Remarks"  #Remarks="ngModel" class="form-control" required [(ngModel)]="Course.Remarks"></textarea>
            <div class="validation-error" *ngIf="Remarks.invalid && Remarks.touched">This field is required.</div>
            </div>
         <button [disabled]="!CourseForm.valid" type="submit"  class="btn btn-primary btn-lg m-3">Submit Now</button> 
            </form> 
   </div>
   