<div class="container-fluid">
  <h1>Nirman IAS CategoryMaster </h1>
  <form #CourceForm="ngForm"(ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>CourseID</label>
      <input type="text" name="CourseID" class="form-control" [(ngModel)]="Category.CourseID">
    </div>
    <div class="form-group">
      <label>CourseType</label>
      <input type="text" name="CourseType" class="form-control" [(ngModel)]="Category.CourseType">
    </div>
    <div class="form-group">
      <label>CourseCode</label>
      <input type="text" name="CourseCode" class="form-control" [(ngModel)]="Category.CourseCode">
    </div>
    <div>
    <label>CourseName</label>
    <textarea type="text" name="CourseName" class="form-control" [(ngModel)]="Category.CourseName"></textarea>
    </div>
    <div>
      <label>Remarks</label>
      <textarea type="text" name="Remarks" class="form-control" [(ngModel)]="Category.Remarks"></textarea>
    </div>
    <div class="form-group">
      <label>CreatedBy</label>
      <input type="text" name="CreatedBy" class="form-control" [(ngModel)]="Category.CreatedBy">
    </div>
    <div class="form-group">
      <label>CreatedDate</label>
      <input type="text" name="CreatedDate" class="form-control" [(ngModel)]="Category.CreatedDate">
    </div>
    <div class="form-group">
      <label>ModifiedBy</label>
      <input type="text" name="ModifiedBy" class="form-control" [(ngModel)]="Category.ModifiedBy">
    </div>
    <div class="form-group">
      <label>ModifiedDate</label>
      <input type="text" name="ModifiedDate" class="form-control" [(ngModel)]="Category.ModifiedDate">
    </div>
    <div class="form-group">
      <label>Active</label>
      <input type="boolean" name="Active" class="form-control" [(ngModel)]="Category.Active">
    </div>
    <button type="submit"  class="btn btn-primary btn-lg ml-2">Submit Now</button>
    </form>
  </div>