<div class="btn btn-success text-white">
    <a [routerLink]="['/ListPreviousYearQuestionAnswer']" target="_blank" class=" text-white">
      <i class="fa fa-newspaper-o text-white" aria-hidden="true"></i>
       Show Previous Year Question Answer
      </a>
    </div>
  <div class="text-center p-2 h3">Create Previous Year Question Answer</div>
  <hr>
  
  <div class="container-fluid" [ngBusy]="busy">
    <form enctype="multipart/form-data" method="post" #PreviousYearQuestionAnswerForm="ngForm" (ngSubmit)="onFormSubmit();PreviousYearQuestionAnswerForm.reset()">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label>Category &nbsp;&nbsp;</label>
            <select name="Category" class="form-control"
              (change)="GetSubCategory($event.target.id)" class="dropdown p-2">
              <option value="0">--All--</option>
              <option *ngFor="let cat of CategoryList" id={{cat.categoryID}} value={{cat.categoryID}}>
                {{cat.categoryName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label>Sub Category &nbsp;&nbsp;&nbsp;</label>
            <select name="SubCategory" #SubCategory="ngModel" class="form-control" [(ngModel)]="Current.SubCategory"
              class="dropdown p-2">
              <option value="0">--All--</option>
              <option *ngFor="let SubCat of SubCategoryList" id={{SubCat.subCategoryID}} value={{SubCat.subCategoryID}}>
                {{SubCat.subCategoryName}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <!-- <div>
          <div class="form-group">
              <label>Pre/Mains &nbsp;&nbsp;&nbsp;</label>
              <select name="Pre_Mains" #Pre_Mains="ngModel" class="form-control" [(ngModel)]="Current.Pre_Mains"
                class="dropdown p-2">
                <option value="0">--All--</option>
                <option *ngFor="let SubCat of MasterCat" id={{SubCat.masterID}} value={{SubCat.masterID}}>
                  {{SubCat.masterValue}}
                </option>
              </select>
            </div>
      </div> -->
      <div>
        <label>Question Paper Name</label>
        <input type="text" name="QuestionPaperName" #QuestionPaperName="ngModel" class="form-control" required [(ngModel)]="Current.QuestionPaperName">
        <div class="validation-error" *ngIf="QuestionPaperName.invalid && QuestionPaperName.touched">This field is required.</div>
      </div>
      <div>
        <label>Question Paper Path</label>
        <textarea type="text" name="QuestionPaperPath" #QuestionPaperPath="ngModel" class="form-control" required [(ngModel)]="Current.QuestionPaperPath"></textarea>
        <div class="validation-error" *ngIf="QuestionPaperPath.invalid && QuestionPaperPath.touched">This field is required.</div>
      </div>
      <div>
        <label>Answer Paper Name</label>  
        <input type="text" name="AnswerPaperName" #AnswerPaperName="ngModel" class="form-control" required [(ngModel)]="Current.AnswerPaperName">
        <div class="validation-error" *ngIf="AnswerPaperName.invalid && AnswerPaperName.touched">This field is required.</div>
      </div>
      <div>
          <label>Answer Paper Path</label>
          <textarea type="text" name="AnswerPaperPath" #AnswerPaperPath="ngModel" class="form-control" required [(ngModel)]="Current.AnswerPaperPath"></textarea>
          <div class="validation-error" *ngIf="AnswerPaperPath.invalid && AnswerPaperPath.touched">This field is required.</div>
        </div>
      <div>
        <label>Remarks</label>
        <textarea type="text" name="Remarks" #Remarks="ngModel" class="form-control" required
          [(ngModel)]="Current.Remarks"></textarea>
        <div class="validation-error" *ngIf="Remarks.invalid && Remarks.touched">This field is required.
        </div>
      </div>
      <button [disabled]="!PreviousYearQuestionAnswerForm.valid" type="submit" class="btn btn-primary btn-lg m-3">Submit Now</button>
    </form>
  </div>