<div class="container-fluid"  [ngBusy]="busy">
  <form enctype="multipart/form-data" method="post" #FacultyMasterForm="ngForm"  (ngSubmit)="onFormSubmit()">
  <div class="form-group">
       <label >FacultyName </label>
   <input type="text" name="FacultyName" required  #FacultyName="ngModel" class="form-control"  [(ngModel)]="Faculty.FacultyName"  >
   
   <div class="validation-error" *ngIf="FacultyName.invalid && FacultyName.touched">This field is required.</div>
    </div> 
   <div class="form-group">
        <label>Subject</label>
       <input type="text" name="Subject" #Subject="ngModel" class="form-control"
       [(ngModel)]="Faculty.Subject  " required>
       <div class="validation-error" *ngIf="Subject.invalid && Subject.touched">This field is required.</div>
            </div>
             <div class="form-group">
        <label>RefeenceName </label>
       <input type="text" name="RefeenceName" #RefeenceName="ngModel" class="form-control"
       [(ngModel)]="Faculty.RefeenceName" required>
       <div class="validation-error" *ngIf="RefeenceName.invalid && RefeenceName.touched">This field is required.</div>
            </div>
         <div class="form-group">
        <label>Address </label>
       <input type="text" name="Address" #Address="ngModel" class="form-control"
       [(ngModel)]="Faculty.Address" required>
       <div class="validation-error" *ngIf="Address.invalid && Address.touched">This field is required.</div>
            </div>
       <div class="form-group">
        <label>EmailID </label>
       <input type="email" name="EmailID" #EmailID="ngModel" class="form-control"
       [(ngModel)]="Faculty.EmailID" required>
       <div class="validation-error" *ngIf="EmailID.invalid && EmailID.touched">This field is required.</div>
            </div>
              <div class="form-group">
        <label>ContactNo </label>
       <input type="text" name="ContactNo" #ContactNo="ngModel" class="form-control"
       [(ngModel)]="Faculty.ContactNo" required>
       <div class="validation-error" *ngIf="ContactNo.invalid && ContactNo.touched">This field is required.</div>
      </div>
      <div class="form-group">
        <label>Remarks </label>
       <input type="text" name="Remarks" #Remarks="ngModel" class="form-control"
       [(ngModel)]="Faculty.Remarks" required>
       <div class="validation-error" *ngIf="Remarks.invalid && Remarks.touched">This field is required.</div>
            </div>
       
         <button [disabled]="!FacultyMasterForm.valid" type="submit"  class="btn btn-primary btn-lg m-3">Submit Now</button> 
            </form> 
   </div>
   