<div class="row bg-info text-white text-center">
    <h2>Nirman IAS Topers Answer Copy</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="shadow m-2 p-2 rounded card bg-info">
              <div class="card-header text-white text-center">
                  <h3> साक्षी गर्ग [ रैंक - 350 ]</h3>
               </div>
                <div class="card-body text-white text-center">
                    <a href="./assets/NIAS_TopersAnswerCopy/SakshiGarg_WorldHistory.pdf" target="_blank" class="text-white"><i class="fa fa-file-pdf-o" aria-hidden="true"> </i> विश्व इतिहास (World History)</a><br>
                    <a href="./assets/NIAS_TopersAnswerCopy/SakshiGarg_Geography.pdf" target="_blank" class="text-white"><i class="fa fa-file-pdf-o" aria-hidden="true"> </i> भूगोल (Geography)</a><br>
                    <a href="./assets/NIAS_TopersAnswerCopy/SakshiGarg_Governance.pdf" target="_blank" class="text-white"><i class="fa fa-file-pdf-o" aria-hidden="true"> </i> अभिशासन (Governance)   </a>     <br>  
                    <a href="./assets/NIAS_TopersAnswerCopy/SakshiGarg_Polity.pdf" target="_blank" class="text-white"><i class="fa fa-file-pdf-o" aria-hidden="true"> </i> राजव्यवस्था (Polity)   </a>     <br>            
                    <a href="./assets/NIAS_TopersAnswerCopy/SakshiGarg_History_Post_Independance.pdf" target="_blank" class="text-white"><i class="fa fa-file-pdf-o" aria-hidden="true"> </i> आजादी के बाद का भारत (इतिहास) </a>     <br>                      
                </div>                
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="shadow m-2 p-2 rounded card bg-warning">
                <div class="card-header text-center">
                    <h3> रतनदीप गुप्ता [ रैंक - 767 ]</h3>
              </div>
                <div class="card-body text-center">
                    <a href="./assets/NIAS_TopersAnswerCopy/Ratan_Deep_Essay.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"> </i>  निबंध (Essay)</a>
                    
                </div>
               </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="shadow m-2 p-2 rounded card bg-primary">
                        <div class="card-header text-center text-white">
                            <h3> विजय सिंह गुर्जर [ रैंक - 574 ]</h3>
                      </div>
                        <div class="card-body text-center">
                            <a href="./assets/NIAS_TopersAnswerCopy/VijaySinghGurjar_Gs_Mains_Paper_2.pdf" target="_blank" class="text-white"><i class="fa fa-file-pdf-o" aria-hidden="true"> </i>  GS Mains Paper 2</a>
                        </div>
                       </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            </div>
    </div>

</div>