<div class="container-fluid p-2">
  <img src="./assets/NIASVideoInfo.png" class="img-fluid img-thumbnail p-2"/>
    <h2 class="bg-info text-white p-2">Nirman IAS Video Gallery</h2>
    <div class="row bg-light">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe class="p-2 img-fluid shadow" src="https://www.youtube.com/embed/2LQE-eIqjlk" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe  class="p-2 img-fluid shadow"  src="https://www.youtube.com/embed/jW1BptPz0zI" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>       
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe  class="p-2 img-fluid shadow"  src="https://www.youtube.com/embed/B_5sb_BKOZM" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>      
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe  class="p-2 img-fluid shadow"  src="https://www.youtube.com/embed/gO3m5dAQSIU" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>      
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe class="p-2 img-fluid shadow" src="https://www.youtube.com/embed/Po0NesYIoOo" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>      
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe class="p-2 img-fluid shadow" src="https://www.youtube.com/embed/L6wo_953-rk" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe class="p-2 img-fluid shadow" src="https://www.youtube.com/embed/CJaPlVHq3aQ" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>      
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe class="p-2 img-fluid shadow" src="https://www.youtube.com/embed/klbmKiVFp1g" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>  
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe class="p-2 img-fluid shadow" src="https://www.youtube.com/embed/OF6WJPw2dus" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe class="p-2 img-fluid shadow" src="https://www.youtube.com/embed/TVfQJS3qseQ" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>
         </div>  
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe class="p-2 img-fluid shadow" src="https://www.youtube.com/embed/8bO29UUc0iA" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe class="p-2 img-fluid shadow" src="https://www.youtube.com/embed/Jzju55IETn8" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>      
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe class="p-2 img-fluid shadow" src="https://www.youtube.com/embed/so_L-8-ZY_U" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>      
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe class="p-2 img-fluid shadow" src="https://www.youtube.com/embed/lF3M2-C5ve4" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe class="p-2 img-fluid shadow" src="https://www.youtube.com/embed/nJxdDybbMlU" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe> 
         </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
            <iframe class="p-2 img-fluid shadow" src="https://www.youtube.com/embed/Po0NesYIoOo" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"allowfullscreen class="p-2" class="p-2"></iframe>     
         </div>
            
    </div>
  </div>
  <div class="row">
    <div class="p-2 bg-info shadow text-white container-fluid text-center">
     <a href="https://www.youtube.com/channel/UCgJnU1HmRZkRzoyzJVRgq8w?sub_confirmation=1" target="_blank">
      <div class="text-white fa fa-youtube-square fa-2x"> More Video on YouTube</div></a> 
    </div>
  </div>