<h2 class="container-fluid bg-danger text-white text-center p-2 m-2">Preliminary Examination Syllabus</h2>
<div class="row">
  <div class="col-lg-6 col-md-6 col-12">
      <div class="card  mt-2 p-2">
          <h2 class="card-header  bg-info text-white">
              GS Paper I - (200 marks)               
          </h2>
          <div class="card-body bg-light shadow">
      <ol>
        <li>Current events of national and international importance</li>
        <li>History of India and Indian National Movement</li>
        <li>Indian and World Geography - Physical, Social, Economic geography of India and the World.</li>
        <li>Indian Polity and Governance – Constitution, Political System, Panchayati Raj, Public Policy, Rights Issues, etc.</li>
        <li>Economic and Social Development – Sustainable Development, Poverty, Inclusion, Demographics, Social Sector Initiatives, etc.</li>
        <li>General issues on Environmental ecology, Bio-diversity and Climate Change - that do not require subject specialization</li>
        <li>General Science</li>
      </ol>
          </div>
          <div class="card-footer bg-secondary">
            <!-- <div class="bg-secondary text-white float-left">
                <span class=" text-right">Fee : <i class="fa fa-inr" aria-hidden="true"></i>18,500/-</span>
            </div> -->
            <div class="bg-danger text-white float-right">
              <a [routerLink]="['/InsertEnquiry']"  class=" text-white bg-danger p-2">
                Send Your Doubt <i class="fa fa-question-circle-o" aria-hidden="true"></i>
               </a>
               </div>
            </div>
        </div>
  </div>
  <div class="col-lg-6 col-md-6 col-12">
      <div class="card mt-2 p-2">
          <h2 class="card-header bg-info text-white">
             GS Paper II (CSAT) - (200 marks) 
          </h2>
          <div class="card-body">
            <p>UPSC has prescribed syllabus given below for CSAT as second paper of Civil services (prelims) :</p>
      <ol>
        <li>Comprehension.</li>
        <li>Interpersonal Skills including Communication Skills.</li>
        <li>Logical reasoning and analytical ability.</li>
        <li>Decision making and problem solving.</li>
        <li>General Mental ability</li>
        <li>Basic Numeracy (numbers and their relations, orders of magnitude etc (class-10th  level, Data interpretation) (charts, graphs, tables, data sufficiency etc. class- 10th level)</li>
      </ol>
          </div>
          <div class="card-footer bg-secondary">
              <!-- <div class="bg-secondary text-white float-left">
                  <span class=" text-right">Fee : <i class="fa fa-inr" aria-hidden="true"></i>15,500/-</span>
              </div> -->
              <div class="bg-danger text-white float-right">
                <a [routerLink]="['/InsertEnquiry']"  class=" text-white bg-danger p-2">
                  Send Your Doubt <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                 </a>
                 </div>
              </div>
          
        </div>
    </div>
  </div>
  <div class="row  m-2"> 
    <div class="container-fluid p-2 shadow">    
      <p class="text-justify">UPSC wants to ensure the selection of the candidates who have relatively higher logical, analytical skill, decision making power in odd circusmstances, fundamental mathematical abilty along with the knowledge of English with the help of above stated syllabus.</p>
      <p class="text-justify">It is clear with the in depth analysis of this syllabus that if this paper is got prepared with right perspectives, it will become relatively easier and interesting.</p>
      <p class="text-justify">To clear pervaded fears and doubts of the candidates from Hindi medium and especially who have humanity background, All sections of CSAT has been explained further in details. Question paper of 2011-2012 shows that if CSAT will be prepared in right direction with proper guidance, then it would be easiest paper for all the candidates of Hindi medium & English medium.</p>
    </div> 
     </div>
   
     <div class="row bg-info  p-2 text-center">
        <!-- <div class="text-white">
            <span class=" text-right mr-5">Total Fee( Paper-I & Paper-II ) : <i class="fa fa-inr" aria-hidden="true"></i>33,500/-</span>
        </div> -->
        <div class="bg-danger text-white">
          <a [routerLink]="['/InsertEnquiry']"  class=" text-white bg-danger p-2">
            Send Your Doubt <i class="fa fa-question-circle-o" aria-hidden="true"></i>
           </a>
           </div>
       </div>