<div class="container-fluid p-2">
  <h2 class="bg-danger text-white p-2">Nirman IAS Subject Wise Printed Material</h2>
  <div class="row">
      

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  p-2 rounded shadow">         
            <div class="container bg-info text-white">
                <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-1">
                  <img src="./assets/NIAS_Books/2.jpg"  class="img-fluid img-thumbnail shadow"/>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
                <ol>
                  <li>
                      <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/>
                      <a href="./assets/PrintedMaterial/NIAS_Modern_India.pdf" class="text-white" target="_blank">भारतीय संस्कृति (Indian Culture) </a>               
                      <a href="" target="_blank"></a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  p-1">         
            <div class="container bg-warning text-white">
                <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-1">
                  <img src="./assets/NIAS_Books/6.jpg"  class="img-fluid img-thumbnail shadow"/>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
                <ol>
                  <li>
                      <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/>
                      <a href="./assets/PrintedMaterial/NIAS_GEOGRAPHY.pdf" target="_blank">पृथ्वी की आन्तरिक संरचना (GEOGRAPHY) </a>               
                      <a href="" target="_blank"></a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  p-1">         
            <div class="container bg-danger text-white">
                <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-1">
                  <img src="./assets/NIAS_Books/17.JPG"  class="img-fluid img-thumbnail shadow"/>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
                <ol>
                  <li>
                      <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/>
                      <a href="./assets/PrintedMaterial/NIAS_Governance.pdf" class="text-white" target="_blank">अभिशासन (GOVERNANCE)) </a>               
                      <a href="" target="_blank"></a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  p-1">         
            <div class="container bg-primary text-white">
                <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-1">
                  <img src="./assets/NIAS_Books/13.jpg"  class="img-fluid img-thumbnail shadow"/>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
                <ol>
                  <li>
                      <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/>
                      <a href="./assets/PrintedMaterial/NIAS_INTERNAL_SECURITY.pdf" class="text-white" target="_blank">विकास एवं फैलते उग्रवाद ( अतिवाद ) के बीच संबंध (Linkages Between Development and Spread of Extremism)) </a>               
                      <a href="" target="_blank"></a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  p-1">         
            <div class="container bg-secondary text-white">
                <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-1">
                  <img src="./assets/NIAS_Books/9.jpg"  class="img-fluid img-thumbnail shadow"/>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
                <ol>
                  <li>
                      <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/>
                      <a href="./assets/PrintedMaterial/NIAS_Modern_India.pdf" class="text-white" target="_blank">अठारहवी सदी में भारत (Modern India) </a>               
                      <a href="" target="_blank"></a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  p-1">         
            <div class="container bg-dark text-white">
                <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-1">
                  <img src="./assets/NIAS_Books/11.jpg"  class="img-fluid img-thumbnail shadow"/>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
                <ol>
                  <li>
                      <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/>
                      <a href="./assets/PrintedMaterial/NIAS_POLITY.pdf" target="_blank">संविधान (Constitution) </a>               
                      <a href="" target="_blank"></a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  p-1">         
            <div class="container bg-info text-white">
                <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-1">
                  <img src="./assets/NIAS_Books/8.jpg"  class="img-fluid img-thumbnail shadow"/>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
                <ol>
                  <li>
                      <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/>
                      <a href="./assets/PrintedMaterial/NIAS_SOCIAL_JUSTICE.pdf" class="text-white" target="_blank">सामाजिक न्याय (SOCIAL JUSTICE) </a>               
                      <a href="" target="_blank"></a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          
        </div>
      </div>
</div>
