<div class="container-fluid p-2">
  <h2 class="bg-danger text-white text-center p-2">Round The Year PT Special 2019</h2>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-3 shadow">
        <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/PrintedMaterial/NIAS_IndianEconomy.pdf' }" class="small p-2 btn-success">
      <img src="./assets/PrintedMaterial/Images/Economy.jpg" class="img-fluid img-thumbnail shadow" />
    </a>   
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-3 shadow">
        <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/PrintedMaterial/NIAS_Polity_2019.pdf' }" class="small p-2 btn-success">
      <img src="./assets/PrintedMaterial/Images/Polity.jpg" class="img-fluid img-thumbnail shadow" />
    </a>   
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-1 pt-3 shadow">
        <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/PrintedMaterial/NIAS_GOV_Schemes-2019.pdf' }" class="small p-2 btn-success">
      <img src="./assets/PrintedMaterial/Images/GovScheme.jpg" class="img-fluid img-thumbnail shadow" />
    </a>   
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-3 shadow">
        <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/PrintedMaterial/NIAS_EnvironmentAndEcology.pdf' }" class="small p-2 btn-success" >
      <img src="./assets/PrintedMaterial/Images/EnvironmentAndEcology.jpg" class="img-fluid img-thumbnail shadow" />
    </a>   
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-3 shadow">
        <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/PrintedMaterial/NIAS_ScienceAndTechnology.pdf' }" class="small p-2 btn-success" >
      <img src="./assets/PrintedMaterial/Images/ScienceAndTech.jpg" class="img-fluid img-thumbnail shadow" />
    </a>   
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-2  pt-3 shadow">
        <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/PrintedMaterial/INDIA_2019.pdf' }" class="small p-2 btn-success">
        <img src="./assets/PrintedMaterial/Images/IndiaYearBook2019l.jpg" class="img-fluid img-thumbnail shadow" />
      </a>   
      </div>
  </div>
</div>