<div class="container-fluid p-2">
  <h2 class="bg-danger w-100 text-white text-center p-2">UPSC Mains Special 2019</h2>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-3 shadow">
      <h3 class="p-4 m-2 text-center text-white">Ethics </h3>
        <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/NIAS_Courses/UPSC/Ethics-Advance-Booklet.pdf' }" class="small p-4 m-2 btn-success">
      <!-- <img src="./assets/PrintedMaterial/Images/Economy.jpg" class="img-fluid img-thumbnail shadow" /> -->Ethics Advance Booklet</a>
      <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/NIAS_Courses/UPSC/Ethics-basic-consept-Class-Booklet.pdf' }" class="small m-2 p-4 btn-danger">
        <!-- <img src="./assets/PrintedMaterial/Images/Economy.jpg" class="img-fluid img-thumbnail shadow" /> -->Ethics basic concept Class Booklet</a>
        <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/NIAS_Courses/UPSC/Ethics-Case-Study-Booklet.pdf' }" class="small m-2 p-4 btn-dark">
          <!-- <img src="./assets/PrintedMaterial/Images/Economy.jpg" class="img-fluid img-thumbnail shadow" /> -->Ethics Case Study Booklet</a>
          <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/NIAS_Courses/UPSC/Ethics-Currents-Issues.pdf' }" class="small m-2 p-4 btn-primary">
            <!-- <img src="./assets/PrintedMaterial/Images/Economy.jpg" class="img-fluid img-thumbnail shadow" /> -->Ethics Currents Issues</a>
    <!-- </a>    -->
    </div>
      <!--<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-3 shadow">
        <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/PrintedMaterial/NIAS_Polity_2019.pdf' }" class="small p-2 btn-success">
      <img src="./assets/PrintedMaterial/Images/Polity.jpg" class="img-fluid img-thumbnail shadow" />
    </a>   
    </div>
   <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-1 pt-3 shadow">
        <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/PrintedMaterial/NIAS_GOV_Schemes-2019.pdf' }" class="small p-2 btn-success">
      <img src="./assets/PrintedMaterial/Images/GovScheme.jpg" class="img-fluid img-thumbnail shadow" />
    </a>   
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-3 shadow">
        <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/PrintedMaterial/NIAS_EnvironmentAndEcology.pdf' }" class="small p-2 btn-success" >
      <img src="./assets/PrintedMaterial/Images/EnvironmentAndEcology.jpg" class="img-fluid img-thumbnail shadow" />
    </a>   
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-3 shadow">
        <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/PrintedMaterial/NIAS_ScienceAndTechnology.pdf' }" class="small p-2 btn-success" >
      <img src="./assets/PrintedMaterial/Images/ScienceAndTech.jpg" class="img-fluid img-thumbnail shadow" />
    </a>   
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-2  pt-3 shadow">
        <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: './assets/PrintedMaterial/INDIA_2019.pdf' }" class="small p-2 btn-success">
        <img src="./assets/PrintedMaterial/Images/IndiaYearBook2019l.jpg" class="img-fluid img-thumbnail shadow" />
      </a>   
      </div> -->
  </div>
</div>