<table class="table table-hover table-justified">
  <thead>
    <tr>
    <th>MasterID </th>
      <th>MasterValue </th>
      <th>MasterTable </th>
      <th>Sequence </th>
      <th>CreatedBy </th>
      <th>CreatedDate </th>
      <th>ModifiedBy </th>
      <th>ModifiedDate </th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
        <tr *ngFor="let x of result">
      <td>{{x.MasterID }}</td>
        <td>{{x.MasterValue }}</td>
        <td>{{x.MasterTable }}</td>
        <td>{{x.Sequence }}</td>
        <td>{{x.CreatedBy }}</td>
       <td>{{x.CreatedDate }}</td>
       <td>{{x.ModifiedBy }}</td> 
       <td>{{x.ModifiedDate }}</td>
       <td>{{x.Active}}</td>    
       </tr>
       </tbody>
       </table>