<table class="table table-hover table-justified">
  <thead>
    <tr>
    <th>MasterID </th>
      <th>MasterValue </th>
      <th>MasterTable </th>
      <th>Sequence </th>
      <th>CreatedBy </th>
      <th>CreatedDate </th>
      <th>ModifiedBy </th>
      <th>ModifiedDate </th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
        <tr *ngFor="let x of result">
      <td>{{x.masterID }}</td>
        <td>{{x.masterValue }}</td>
        <td>{{x.masterTable }}</td>
        <td>{{x.sequence }}</td>
        <td>{{x.createdBy }}</td>
       <td>{{x.createdDate }}</td>
       <td>{{x.modifiedBy }}</td> 
       <td>{{x.modifiedDate }}</td>
       <td>{{x.active}}</td>    
       </tr>
       </tbody>
       </table>