<div class="container-fluid">
        <div class="card-header text-center" style="color:white;">
            <p>Video Gallery</p>
        </div>
        <div class="card-body">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      
            <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2LQE-eIqjlk"  allow="accelerometer;gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div> 
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="row" id="video">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Atzb3i0qsG0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>  
            </div>
            </div>
            <div class="row" id="video">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/F0MfP3PSuKs" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>  
            
            </div>
            </div>
          
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-reponsive-item" src="https://www.youtube.com/embed/7IEjY2XJMgE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                </div> 
      </div> 
       </div><br>
        </div>
      </div>
      </div> 
      </div>
<!--Resources-->
<div id="services" class="text-center">
      <div class="card-header">
          <h2>Resources</h2>
      </div>
      <div class="card-body"> 
          <br>
          <div class="row slideanim">
              <div class="col-sm-4">
                 <img src="./assets/books-512.png"  width="48" height="48"/>
                  <h4>Current Affairs</h4>
                 
              </div>
              <div class="col-sm-4">
                  <img src="./assets/current affairs.png" width="48" height="48" />
                  <h4>Class Notes</h4>
                 
              </div>
              <div class="col-sm-4">
                 <img src="./assets/icon-man-512.png" width="48" height="48" />
                  <h4>Special Classes</h4>
                 
              </div>
          </div>
          <br><br>
          <div class="row slideanim">
              <div class="col-sm-4">
                 <img src="./assets/info.png" width="48" height="48" />
                  <h4>UPSC Papper Solution</h4>
              </div>
              <div class="col-sm-4">
                  <img src="./assets/key.png" width="48" height="48" />
                  <h4>Talks And Interview</h4>
                  
              </div>
              <div class="col-sm-4">
                  <img src="./assets/wifi.png" width="48" height="48" />
                  <h4>Topper Answer Copy</h4>
                  
              </div>
          </div>
      </div>
  </div>
  <br><br>

<!--class-->
<!-- <div class="container-fluid bg-info card">
  <div class="card-header text-center bg-secoundry">
      <p>Batch-Schedule</p>
  </div>
      <div class="card-body">
      <div class="row">
          <div class="col-lg-6">
              <div class="card">
                  <div class="card-header bg-danger">
                      <div class="text-center ">
                          <p>Running Batch</p>                                                   
                      </div>
                  </div>
                  <div class="card-body">
                          <a href="">UPSC Regular classes  (Timing:09:00am-01:00pm) </a><hr/>
                          <a href="">UPSC Regular classes  (Timing:02:00pm-05:00pm)</a><hr/>
                          <a href="">UPSC Weekly classes  (Saturday Timing:09:00am-5:00pm)</a><hr/>
                          <a href="">CGL Regular classes  (Timing:09:00am-01:00pm) </a><hr/>
                          <a href="">CGL Regular classes  (Timing:02:00pm-05:00pm)</a><hr/>
                          <a href="">CGL Weekly classes  (Saturday Timing:09:00am-5:00pm)</a><hr/>
                         
                          
                  </div>
                  <div class="card-footer float-right bg-danger">
                          <a href="">Know More...</a> 
  
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="card">

              <div class="card-header text-center bg-danger">
                  <p> Upcoming Batch</p>
              </div>
              <div class="card-body">
             <div class="text-center" >
               <p>  Regular Batch: Jan 1,2019</p><hr/>
               <p>    Regular Batch: March 1,2019</p><hr/>
               <p>    Regular Batch: april 1,2019</p><hr/>
               <p>    Regular Batch: april 1,2019</p><hr/>
               <p>   Regular Batch: april 10,2019</p><hr/>
               <p>   Regular Batch: jun 1,2019</p><hr/>
          

             </div> 
          </div>   
          <div class="card-footer float-right bg-danger">
                  <a href="">Know More...</a> 

          </div>
          </div>
          </div>
        
      </div>
  </div> 
  </div> -->
  <div class="container-fluid  card ">
    <div class="card-body">
    <div class="row">
        <div class="col-lg-4" >
            <div class="card">
                <div class="card-header bg-danger">
                    <div class="text-center ">
                        <p>Upcoming Batch-Schedule</p>
                                               
                    </div>
                </div>
                <div class="card-body" id="cur">
                        <a href="">Main-Paper Classes</a><hr/>
                        <a href="">Pre-Paper Classes</a><hr/>
                        <a href="">Main-Paper Classes</a><hr/>
                        <a href="">Pre-Paper Classes</a><hr/>
                        <a href="">History (OPTIONAL)</a><hr/>
                        <a href="">Geography (OPTIONAL)</a><hr/>
                     
                </div>
                <div class="card-footer  bg-danger">
                        <a href="" class="float-right">Read More...</a> 
  
                </div>
            </div>
        </div>
        <div class="col-lg-4">
                <div class="card">
                    <div class="card-header bg-danger">
                        <div class="text-center ">
                            <p>Batch Date-Schedule </p>
                        </div>
                    </div>
                    <div class="card-body">
                            <a href="">20  January  2019</a><hr/>
                            <a href="">15  January  2019</a><hr/>
                            <a href="">13  January  2019</a><hr/>
                            <a href="">13  January  2019</a><hr/>
                            <a href="">12  January  2019</a><hr/>
                            <a href="">12  January  2019</a><hr/>
                            
    
                    </div>
                    <div class="card-footer  bg-danger">
                            <a href="" class="float-right">Read More...</a>
    
                    </div>
                </div>
        </div>
        <div class="col-lg-4">
                <div class="card">
                    <div class="card-header bg-danger">
                        <div class="text-center ">
                            <p>Batch Time-Schedule</p>
                        </div>
                    </div>
                    <div class="card-body">
                            <a href="">04:00 Pm-08:00 Pm</a><hr/>
                            <a href="">10:00 Am-02:00 pm</a><hr/>
                            <a href="">04:00 Pm-08:00 Pm</a><hr/>
                            <a href="">10:00 Am-02:00 Pm</a><hr/>
                            <a href="">09:00 Am-01:00 Pm</a><hr/>
                            <a href="">09:00 Am-01:00 Pm</a><hr/>
                            
    
                    </div>
                    <div class="card-footer  bg-danger">
                           <a href="" class="float-right">Read More...</a> 
    
                    </div>
                </div>
        </div>
    </div>
  </div>
  </div>
  
  
  <br><br>
   <!-- daily 7 weekly artical -->
<div class="card">
      <div class="card-header bg-danger text-center">
          <section class="container p-t-3">
                  <div class="row">
                      <div class="col-lg-12">
                         <p>Daily & Weekly Articals</p>
                      </div>
                  </div>
              </section>
      </div>
          <div class="card-body">
              <section class="carousel slide" data-ride="carousel" id="postsCarousel">
                
                  <div class="container p-t-0 m-t-2 carousel-inner">
                      <div class="row row-equal carousel-item active m-t-0">
                          <div class="col-md-4">
                              <div class="card">
                                  <div class="card-img-top card-img-top-250">
                                      <img class="img-fluid" src="./assets/7.jpg" alt="Carousel 1">
                                  </div>
                                  <div class="card-block p-t-2">
                                     
                                      <h2>
                                          <a href>What is Collegium System of Appointment of Judges?</a>
                                      </h2>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="card">
                                  <div class="card-img-top card-img-top-250">
                                      <img class="img-fluid" src="./assets/8.jpg" alt="Carousel 2">
                                  </div>
                                  <div class="card-block p-t-2"><h2>
                                          <a href>Krushak Assistance for Livelihood and Income Augmentation, KALIA.</a>
                                      </h2>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="card">
                                  <div class="card-img-top card-img-top-250">
                                      <img class="img-fluid" src="./assets/7.jpg" alt="Carousel 3">
                                  </div>
                                  <div class="card-block p-t-2">
                                      
                                      <h2>
                                          <a href>SC Dismisses pleas on Appointment of DGPs.</a>
                                      </h2>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row row-equal carousel-item m-t-0">
                          <div class="col-md-4">
                              <div class="card">
                                  <div class="card-img-top card-img-top-250">
                                      <img class="img-fluid" src="./assets/9.jpg" alt="Carousel 4">
                                  </div>
                                  <div class="card-block p-t-2">
                                      
                                      <h2>
                                          <a href>First human rights TV channel Launched.</a>
                                      </h2>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="card">
                                  <div class="card-img-top card-img-top-250">
                                      <img class="img-fluid" src="./assets/10.jpg" alt="Carousel 5">
                                  </div>
                                  <div class="card-block p-t-2">
                                      
                                      <h2>
                                          <a href>DD Science and India Science launched.</a>
                                      </h2>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 fadeIn wow">
                              <div class="card">
                                  <div class="card-img-top card-img-top-250">
                                      <img class="img-fluid" src="./assets/12.jpg" alt="Carousel 6">
                                  </div>
                                  <div class="card-block p-t-2">
                                      
                                      <h2>
                                          <a href>PM Inaugurates developmental Works in Kerala.</a>
                                      </h2>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
    
              </section>
          </div>
          </div>
        
      <hr><BR>
<!--ACHIEVEMENTS-->
<div class="container-fluid">
      <div class="row bg-info">
          <div class="col-lg-12">
              <!-- <h2 class="text-center"><strong class="text-dark">OUR <strong class="text-danger">ACHIEVEMENTS</strong></strong></h2> -->
              <img src="./assets/achievement.png" width="100%" height="100%"  />
          </div>
      </div>
  </div><br><br>

<!--Current Affairs-->
<div class="container-fluid  card ">
  <div class="card-body">
  <div class="row">
      <div class="col-lg-4" >
          <div class="card">
              <div class="card-header bg-danger">
                  <div class="text-center ">
                      <p>Current Affairs</p>
                                             
                  </div>
              </div>
              <div class="card-body" id="cur">
                      <a href="">2018 Current affairs week - 27 & 28</a><hr/>
                      <a href="">2018 Current affairs week - 23, 24 & 26</a><hr/>
                      <a href="">  2018 Current affairs week - 20, 21 & 22</a><hr/>
                      <a href="">  2018 Current affairs week - 24, 30 & 27</a><hr/>
                   
              </div>
              <div class="card-footer  bg-danger">
                      <a href="" class="float-right">Read More...</a> 

              </div>
          </div>
      </div>
      <div class="col-lg-4">
              <div class="card">
                  <div class="card-header bg-danger">
                      <div class="text-center ">
                          <p>Exam Results & Answer key</p>
                      </div>
                  </div>
                  <div class="card-body">
                          <a href="">Check Results for 8:30 am Batch</a><hr/>
                          <a href="">Check Results for 11:30 pm Batch</a><hr/>
                          <a href="">Check Results for 12:30 am Batch</a><hr/>
                          <a href="">Check Results for 6:30 pm Batch</a><hr/>
                          
  
                  </div>
                  <div class="card-footer  bg-danger">
                          <a href="" class="float-right">Read More...</a>
  
                  </div>
              </div>
      </div>
      <div class="col-lg-4">
              <div class="card">
                  <div class="card-header bg-danger">
                      <div class="text-center ">
                          <p>Exam Related Notifications</p>
                      </div>
                  </div>
                  <div class="card-body">
                          <a href="">Check exam 8:30 am Batch</a><hr/>
                          <a href="">Check exam for 11:30 pm Batch</a><hr/>
                          <a href="">Check exam for 12:30 am Batch</a><hr/>
                          <a href="">Check exam for 6:30 pm Batch</a><hr/>
                          
  
                  </div>
                  <div class="card-footer  bg-danger">
                         <a href="" class="float-right">Read More...</a> 
  
                  </div>
              </div>
      </div>
  </div>
</div>
</div>

