<div class="row bg-danger p-2 text-white ">
    <h2 class="text-center">Nirman IAS Special Classes</h2>
</div>
<div class="container-fluid">
  <div class="row p-2">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="p-2 shadow">
<div class="card">
  <div class="card-header text-center bg-dark text-white">
      शंघाई : सहयोग, संभावनाएं, अवसर एवं चुनैतियां
  </div>
  <div class="card-body text-center bg-info text-white">
      DR. RAHEES SIR
  </div>
  <div class="card-footer bg-secondary  text-white">
    <div class="float-left">14 Feb 2019</div>
    <div class="float-right">
        <a href="./assets/NIAS_Special_Classess/NIAS_QIP_2_2018.pdf" target="_blank" class="text-white"> Read More</a>
    </div>   
  </div>
</div>
</div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="p-2 shadow">
            <div class="card">
              <div class="card-header text-center bg-dark text-white">
                  नये शीतयुद्ध की दस्तक
              </div>
              <div class="card-body text-center bg-info text-white">
                  DR. RAHEES SIR
              </div>
              <div class="card-footer bg-secondary  text-white">
                <div class="float-left">14 Feb 2019</div>
                <div class="float-right">
                    <a class="text-white" href="./assets/NIAS_Special_Classess/NIAS_नये_शीतयुद्ध_की_दस्तक_Cold_War_QIP.pdf" target="_blank"> Read More</a>
                </div>   
              </div>
            </div>
            </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="p-2 shadow">
              <div class="card">
                <div class="card-header text-center bg-dark text-white">
                  आपकी सफलता आपके हाथ
                </div>
                <div class="card-body text-center bg-info text-white">
                    O. P. CHAUDHARY(IAS-2005 BATCH)
                </div>
                <div class="card-footer  text-white bg-secondary">
                  <div class="float-left">14 Feb 2019</div>
                  <div class="float-right ">
                      <a href="./assets/NIAS_Special_Classess/NIAS_ESSAY_1.pdf" target="_blank" class="text-white"> Read More</a>
                  </div>   
                </div>
              </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="p-2 shadow">
                <div class="card">
                  <div class="card-header text-center bg-dark text-white">
                      मानवाधिकार एवं आतंकवाद
                  </div>
                  <div class="card-body text-center bg-info text-white">
                      O. P. CHAUDHARY(IAS-2005 BATCH)
                  </div>
                  <div class="card-footer  text-white bg-secondary">
                    <div class="float-left">14 Feb 2019</div>
                    <div class="float-right">
                        <a class="text-white" href="./assets/NIAS_Special_Classess/NIAS_मानवाधिकार_एवं_आतंकवाद_ESSAY_2.pdf" target="_blank"> Read More</a>
                    </div>   
                  </div>
                </div>
                </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
              <div class="p-2 shadow">
                  <div class="card">
                    <div class="card-header text-center bg-dark text-white">
                        Case Study - 1 
                    </div>
                    <div class="card-body text-center bg-info text-white">
                        NIRMAN IAS
                    </div>
                    <div class="card-footer bg-secondary text-white">
                      <div class="float-left">16 Feb 2019</div>
                      <div class="float-right ">
                          <a href="./assets/NIAS_Special_Classess/NIAS_CASE_STUDY.pdf" target="_blank" class="text-white"> Read More</a>
                      </div>   
                    </div>
                  </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="p-2 shadow">
                    <div class="card">
                      <div class="card-header text-center bg-dark text-white">
                          Science And Tech
                      </div>
                      <div class="card-body text-center bg-info text-white">
                         NIRMAN IAS
                      </div>
                      <div class="card-footer bg-secondary text-white">
                        <div class="float-left">16 Feb 2019</div>
                        <div class="float-right">
                            <a href="./assets/NIAS_Special_Classess/NIAS_Science_Tech.pdf" target="_blank" class="text-white"> Read More</a>
                        </div>   
                      </div>
                    </div>
                    </div>
              </div>
  </div>
</div>
