<table class="table table-hover table-justified">
  <thead>
    <tr>
    <th>SocialMediaID </th>
      <th>SocialMediaName </th>
      <th>Address </th>
      <th>Notes </th>
      <th>CreatedBy </th>
      <th>CreatedDate </th>
      <th>ModifiedBy </th>
      <th>ModifiedDate </th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
        <tr *ngFor="let x of result">
      <td>{{x.socialMediaID}}</td>
        <td>{{x.socialMediaName }}</td>
        <td>{{x.address }}</td>
        <td>{{x.notes }}</td>
        <td>{{x.createdBy }}</td>
       <td>{{x.createdDate }}</td>
       <td>{{x.modifiedBy }}</td> 
       <td>{{x.modifiedDate }}</td>
       <td>{{x.active}}</td>    
       </tr>
       </tbody>
       </table>