<!-- <p>
  niasenquiry works!
</p>
<div class="container-fluid">
  <h2>Enquiry List</h2>
  <ul *ngFor="let Enq of EnquiryList">
    <li>{{Enq.Name}}</li>
    <li>{{Enq.EmailID}}</li>
    <li>{{Enq.ContactNo}}</li>
    <li>{{Enq.EnquiryMessage}}</li>
  </ul>
    {{ EnquiryList.value | json }}
</div> -->
<table class="table table-hover table-justified">
  <thead>
    <tr>
    <th>EnquiryID</th>
      <th>Name</th>
      <th>EmailID</th>
      <th>ContactNo</th>
      <th>EnquiryMessage</th>
      <th>ReplyMessage</th>
      <th>ReferenceEnquiryID</th>
    </tr>
  </thead>
  <tbody>
       
    <tr *ngFor="let x of result">
      <td>{{x.EnquiryID}}</td>
        <td>{{x.Name}}</td>
        <td>{{x.EmailID}}</td>
        <td>{{x.ContactNo}}</td>
        <td>{{x.EnquiryMessage}}</td>
       <td>{{x.ReplyMessage}}</td>
       <td>{{x.ReferenceEnquiryID}}</td>   
       </tr>
       <div class="form-group">
                
        <input type="button" class="btn btn-lg btn-info float-right"  (click)="GetEnquiry()" value="Get Enquiry"/>
      </div>
       </tbody>
       </table>
<div class="container-fluid">
  <h1>Nirman IAS Enquiry </h1>
  <form #EnquiryForm="ngForm">
   Form Value {{ EnquiryForm.value | json }}
    <hr/>
    From Model {{ enquiry | json }}
    <div class="form-group">
      <label>EnquiryID</label>
      <input type="text" name="EnquiryID" class="form-control" [(ngModel)]="enquiry.EnquiryID">
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="Name" class="form-control" [(ngModel)]="enquiry.UserName">
    </div>
    <div class="form-group">
      <label>EmailID</label>
      <input type="text" name="EmailID" class="form-control" [(ngModel)]="enquiry.EmailID">
    </div>
    <div class="form-group">
      <label>ContactNo</label>
      <input type="text" name="ContactNo" class="form-control" [(ngModel)]="enquiry.ContactNo">
    </div>
    <label>Enquiry Message</label>
    <textarea type="text" name="txtEnquiryMessage" class="form-control" [(ngModel)]="enquiry.EnquiryMessage"></textarea>
    <div class="form-group">
      <label>ReplyMessage</label>
      <textarea type="text" name="ReplyMessage" class="form-control" [(ngModel)]="enquiry.ReplyMessage"></textarea>
    </div>
    <div class="form-group">
      <label>ReferenceEnquiryID</label>
      <input type="text" name="ReferenceEnquiryID" class="form-control" [(ngModel)]="enquiry.ReferenceEnquiryID">
    </div>
    <div class="form-group">
      <label>CreatedBy</label>
      <input type="text" name="CreatedBy" class="form-control" [(ngModel)]="enquiry.CreatedBy">
    </div>
    <div class="form-group">
      <label>CreatedDate</label>
      <input type="text" name="CreatedDate" class="form-control" [(ngModel)]="enquiry.CreatedDate">
    </div>
    <div class="form-group">
      <label>ModifiedBy</label>
      <input type="text" name="ModifiedBy" class="form-control" [(ngModel)]="enquiry.ModifiedBy">
    </div>
    <div class="form-group">
      <label>ModifiedDate</label>
      <input type="text" name="ModifiedDate" class="form-control" [(ngModel)]="enquiry.ModifiedDate">
    </div>
    <button type="submit" class="btn btn-primary btn-lg ml-2">Submit Now</button>
    </form>
  </div>