<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="img">
      <img src="./assets/nirmanBuilding.jpg" class="rounded" width="100%" height="480">
    </div>
  </div>
  <div class="row" id="mar">
    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
     <div class="card shadow-lg">
       <div class="card-header bg-danger text-center text-white">
         <span><b>About Our Education</b></span>
     </div>
     <div class="card-body">
       <span>
          Nirman IAS is a premier learning institute, established in 2007 with the aim to mentor
          IAS aspirants with the right approach. We work meticulously and consistently on student’s
          strengths, as well as weaknesses, helping them realize and improve their hidden potential.
          We create an environment of inquisitiveness, which naturally paves way for creative, rational
          and scientific thinking.

          Going by the current wave of UPSC, merely mugging up of facts or concepts can never translate
          in to success. It mandates thorough assessment of an individual’s well-rounded personality and
          balanced bent of mind. Here lies our USP, we focus on ameliorating the analytical skills of an
          individual and develop their personality in a holistic way. Our programs are designed in such
          a way that diverse educational and social background of students works as an asset for every one,
          resulting in a peer learning environment, working at a subtle level.
          Highly experienced faculty and an enviable track record makes us first choice for any IAS aspirant.
       </span>

     </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="card shadow-lg">
          <div class="card-header bg-danger text-center text-white">
            <span><b>Director's Message</b></span>
        </div>
        <div class="card-body">
          <span>
              An educational institute is not just about bricks, mortar, and concrete,
              but about building character, enriching minds, and enriching experiences
              that last a lifetime. Our Institute is a place that helps shape the future
              of its students.
              From the modern education system, styles may have changed, new technologies
              may have emerged, but a values-based education system remains the same.
              Over the years, we have continued to impart holistic education to our children,
              helping to nurture them mentally, emotionally, physically and spiritually.

              Through knowledge and skill every individual can achieve greatness.
              The common values of punctuality, truthfulness, sincerity, following rules,
              cooperation, learning to work, getting along well with others, and inculcating
              a sense of responsibility are all important parts of a well-rounded education.

              “If you want something, you have never had, Then you have got to do something,
              you have never done”
            </span>

        </div>
       </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="card shadow-lg">
            <div class="card-header bg-danger text-center text-white">
              <span><b>Our Vision</b></span>
          </div>
          <div class="card-body">
            <span>
                An educational institute is not just about bricks, mortar, and concrete,
                but about building character, enriching minds, and enriching experiences
                that last a lifetime. Our Institute is a place that helps shape the future
                of its students. From the modern education system, styles may have changed,
                new technologies may have emerged, but a values-based education system
                remains the same.
                Over the years, we have continued to impart holistic education to our children,
                helping to nurture them mentally, emotionally, physically and spiritually.

                Through knowledge and skill every individual can achieve greatness.
                The common values of punctuality, truthfulness, sincerity, following rules,
                cooperation, learning to work, getting along well with others, and inculcating
                a sense of responsibility are all important parts of a well-rounded education.
              </span>

          </div>
         </div>
         </div>
  </div>
</div>


<div id="services" class="text-center">
    <div class="card-header">
        <h2>Our Faculty</h2>
    </div>
    <div class="card-body">
        <br>
        <div class="row slideanim">
            <div class="col-sm-4">
               <img src="./assets/girl.png"  width="300" height="348"/>
                <h4>KAMAL DEV</h4>
                <span>D.U. Post Graduate</span>

            </div>
            <div class="col-sm-4">
               <img src="./assets/girl.png"  width="300" height="348"/>
                <h4>KAMAL DEV</h4>
                <span>D.U. Post Graduate</span>

            </div>
            <div class="col-sm-4">
                <img src="./assets/girl.png"  width="300" height="348"/>
                 <h4>KAMAL DEV</h4>
                 <span>D.U. Post Graduate</span>
 
             </div>
            <!-- <div class="col-sm-4">
                <img src="./assets/current affairs.png" width="48" height="48" />
                <h4>Class Notes</h4>

            </div>
            <div class="col-sm-4">
               <img src="./assets/icon-man-512.png" width="48" height="48" />
                <h4>Special Classes</h4>

            </div> -->
        </div>
        <br><br>
        <div class="row slideanim">
            <div class="col-sm-4 hover01 column">
                <img src="./assets/KD Sir1.jpg"  width="300" height="348"/>
                 <h4>KAMAL DEV</h4>
                 <span>D.U. Post Graduate</span>
 
             </div>
             <div class="col-sm-4">
                <img src="./assets/girl.png"  width="300" height="348"/>
                 <h4>KAMAL DEV</h4>
                 <span>D.U. Post Graduate</span>
 
             </div>
             <div class="col-sm-4">
                <img src="./assets/girl.png"  width="300" height="348"/>
                 <h4>KAMAL DEV</h4>
                 <span>D.U. Post Graduate</span>
 
             </div>
        </div>
    </div>
</div><br><br>