<div class="container-fluid">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="img">
            <img src="./assets/NIAS_DELHI.webp" class="rounded" width="100%" height="480">
        </div>
    </div>
    <div class="container-fluid" id="mar">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
                <div class="card shadow bg-secondary text-white">
                    <div class="card-header bg-danger text-center text-white">
                        <span><b>Our Education</b></span>
                    </div>
                    <div class="card-body text-justify">
                        <p class="text-justify">
                            Nirman IAS is a premier learning institute, established in 2007 with the aim to mentor
                            IAS aspirants with the right approach. We work meticulously and consistently on student’s
                            strengths, as well as weaknesses, helping them realize and improve their hidden potential.
                            We create an environment of inquisitiveness, which naturally paves way for creative,
                            rational
                            and scientific thinking.
                        </p>
                        <p>
                            Going by the current wave of UPSC, merely mugging up of facts or concepts can never
                            translate
                            in to success. It mandates thorough assessment of an individual’s well-rounded personality
                            and
                            balanced bent of mind. Here lies our USP, we focus on ameliorating the analytical skills of
                            an
                            individual and develop their personality in a holistic way. Our programs are designed in
                            such
                            a way that diverse educational and social background of students works as an asset for
                            every one,
                            resulting in a peer learning environment, working at a subtle level.
                        </p>
                        <p>
                            Highly experienced faculty and an enviable track record makes us first choice for any IAS
                            aspirant.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
                <div class="card shadow-lg">
                    <div class="card-header bg-danger text-center text-white">
                        <span><b>Our Vision</b></span>
                    </div>
                    <div class="card-body text-justify">
                        <p>
                            An educational institute is not just about bricks, mortar, and concrete,
                            but about building character, enriching minds, and enriching experiences
                            that last a lifetime.
                        </p>
                        <p>
                            Our Institute is a place that helps shape the future
                            of its students. From the modern education system, styles may have changed,
                            new technologies may have emerged, but a values-based education system
                            remains the same.
                        </p>
                        <p>
                            Over the years, we have continued to impart holistic education to our children,
                            helping to nurture them mentally, emotionally, physically and spiritually.
                        </p>
                        <p>
                            Through knowledge and skill every individual can achieve greatness.
                            The common values of punctuality, truthfulness, sincerity, following rules,
                            cooperation, learning to work, getting along well with others, and inculcating
                            a sense of responsibility are all important parts of a well-rounded education.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid shadow mt-2 mb-2">
        <div class="card shadow">
            <div class="card-header bg-danger text-center text-white">
                <span><b>Director's Message</b></span>
            </div>
            <div class="card-body text-justify p-2 shadow">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <img src="./assets/Faculty/KD_SIR.jpg" class="img-fluid img-thumbnail p-2" />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 text-justify shadow">
                        <p class="text-justify p-2"> An educational institute is not just about bricks, mortar, and
                            concrete,
                            but about building character, enriching minds, and enriching experiences
                            that last a lifetime. Our Institute is a place that helps shape the future
                            of its students.
                        </p>
                        <p class="text-justify p-2">
                            From the modern education system, styles may have changed, new technologies
                            may have emerged, but a values-based education system remains the same.
                            Over the years, we have continued to impart holistic education to our children,
                            helping to nurture them mentally, emotionally, physically and spiritually.
                        </p>
                        <p class="text-justify p-2">
                            Through knowledge and skill every individual can achieve greatness.
                            The common values of punctuality, truthfulness, sincerity, following rules,
                            cooperation, learning to work, getting along well with others, and inculcating
                            a sense of responsibility are all important parts of a well-rounded education.
                        </p>
                        <p class="text-center text-justify p-2 font-weight-bold bg-danger text-white rounded">“If you want
                            something, you have never had, Then you have got to do something,
                            you have never done”</p>
    
                    </div>
                </div>
    
            </div>
        </div>
    </div>
<div id="services" class="container-fluid text-center  mt-2 mb-2">
    <div class="card-header bg-danger text-center text-white">
            <span><b>Our Faculty</b></span>
        </div>
    <div class="card-body img-thumbnail">
        <br>
        <div class="row slideanim">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="./assets/Faculty/RAMESHWAR_SIR.webp" class="img-fluid img-thumbnail p-2 shadow" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="./assets/Faculty/V_K_TRIPATHI_SIR.webp" class="img-fluid img-thumbnail p-2 shadow"  />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="./assets/Faculty/KHURSHID_SIR.webp" class="img-fluid img-thumbnail p-2 shadow" />
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="./assets/Faculty/RAHEES_SIR.webp" class="img-fluid img-thumbnail p-2 shadow" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="./assets/Faculty/ADARSH_SIR.webp" class="img-fluid img-thumbnail p-2 shadow" />
                </div>
               
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="./assets/Faculty/AJIT_SIR.webp" class="img-fluid img-thumbnail p-2 shadow" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="./assets/Faculty/AMIT_JAIN_SIR.webp" class="img-fluid img-thumbnail p-2 shadow" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="./assets/Faculty/GAUTAM_SIR.webp" class="img-fluid img-thumbnail p-2 shadow" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="./assets/Faculty/LOKESH_SIR.webp" class="img-fluid img-thumbnail p-2 shadow" />
            </div>

        </div>
    </div>
</div>
