<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">
    <div class="col-3">
   <div class="panel">
     <div class="panel-body center">
        <blockquote class="testimonial classic" >
         <img src="assets/images/KD Sir1.jpg" height="200px" width="300px" alt="User"/>
         
       </blockquote> 
     </div>
   </div>
      
    </div>
    <div class="col-2-3">
      <div class="panel">
        <div class="pricing-block-content">
          <h3>KD Sir</h3> 
          <p class="pricing-sub">
            Senior Facaulity
          </p>
            <p>Senior Histroy Professor</p>
          </div>
          <ul>
            <li>B</li>
            <li>C</li>
            <li >
              <a (click)="logout()" [class.active]="activetab === '/userdashbord'">Logout</a>
             </li>
          </ul>
          <!-- <q>BIO</q> -->
        
           
        
          <!-- <a href="{{plan.buttonlink}}" class="button">Profile</a> -->
        </div>
      </div>

    </div>
</section> 
