<div class="container-fluid p-2">
  <img src="./assets/NIASVideoInfo.png" class="img-fluid img-thumbnail p-2" />
  <h2 class="bg-info text-white p-2 text-center">Nirman IAS Contact Us</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-head bg-secondary text-white text-center">
          <h2> Head Office - Delhi</h2>
        </div>
        <div class="card-body p-2 bg-info text-white">
          <p>
            <span class="fa fa-address-book fa-2x"></span>
            <span class="blockquote">
              H.No : 996 1st Floor,<br>
              Mukherjee Nagar,<br>(Near Gandhi Vihar Bandh)<br>
              Delhi-110009, India <br>
            </span>
          </p>
          <p class="font-weight-bold blockquote ">
            <i class="fa fa-envelope-o"><a href="mailto:info@nirmanias.com" class="text-white"> Info@nirmanias.com</a></i><br>
            <i class="fa fa-envelope-o"><a href="mailto:nirmanias07@gmail.com" class="text-white">
                nirmanias07@gmail.com</a></i><br>
            <i class="fa fa-phone-square" aria-hidden="true"> (+91) 11 4705-8219</i><br>
            <i class="fa fa-mobile" aria-hidden="true"> (+91) 99115-81653</i><br>
            <i class="fa fa-mobile" aria-hidden="true"> (+91) 97177-67797</i><br>
          </p>
        </div>
        <div class="card-footer  bg-secondary text-white text-center">
          <a href="https://goo.gl/maps/tvwZ8ZXU3Jt" target="_blank">
            <p class="text-white">View On Map</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 secondary">
      <div class="card">
        <div class="card-body p-2 bg-info text-white">
          <img src="./assets/NIAS_DELHI.jpg" class="rounded img-fluid img-thumbnail p-2" />
        </div>
      </div>
    </div>
  </div>
  <h2 class="bg-info text-white p-2 text-center container-fluid">Nirman IAS Branchs</h2>
  <div class="row m-2">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-head bg-secondary text-white text-center">
          <h2> Nirman IAS :- JAIPUR</h2>
        </div>
        <div class="card-body p-2 bg-info text-white">
          <p>
            <span class="fa fa-address-book fa-2x"></span>
            <span class="blockquote">
              Hindaun Heights 57,<br>
              Riddhi Siddhi Gopalpura Bypass,<br>Jaipur- 302019 , India<br>
            </span>
          </p>
          <p class="font-weight-bold blockquote ">
                <i class="fa fa-envelope-o"><a href="mailto:gwaliornias@nirmanias.com" class="text-white">
                    gwaliornias@nirmanias.com</a></i><br>
            <i class="fa fa-mobile" aria-hidden="true"> (+91) 80942-25566</i><br>
            <i class="fa fa-mobile" aria-hidden="true"> (+91) 96805-13367</i><br>
          </p>
        </div>
        <div class="card-footer  bg-secondary text-white text-center">
          <a href="https://goo.gl/maps/ddaFqsji5Kq" target="_blank">
            <p class="text-white">View Map</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-head bg-secondary text-white text-center">
          <h2> Nirman IAS : - Prayagraj</h2>
        </div>
        <div class="card-body p-1 bg-info text-white">
          <p>
            <span class="fa fa-address-book fa-2x"></span>
            <span class="blockquote">
              10/14, Elgin Road, <br>
              Civil Line, Prayag Raj(Allahabad)<br>Utter Pradesh (U.P.)- 211001 , India<br>
            </span>
          </p>
          <p class="font-weight-bold blockquote ">
            
                <i class="fa fa-envelope-o"><a href="mailto:nirmaniasald@gmail.com" class="text-white">
                    nirmaniasald@gmail.com</a></i><br>
                    <i class="fa fa-envelope-o"><a href="mailto:prayagrajnias@nirmanias.com" class="text-white">
                        prayagrajnias@nirmanias.com</a></i><br>
            <i class="fa fa-mobile" aria-hidden="true"> (+91) 99844-74888</i><br>
          </p>
        </div>
        <div class="card-footer  bg-secondary text-white text-center">
          <a href="https://goo.gl/maps/Agf5Q5zM4f72" target="_blank">
            <p class="text-white">View Map</p>
          </a>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-head bg-secondary text-white text-center">
          <h2>Nirman IAS : GWALIOR</h2>
        </div>
        <div class="card-body p-2 bg-info text-white">
          <p>
            <span class="fa fa-address-book fa-2x"></span>
            <span class="blockquote">
              2/3 Aziz Complex, <br>
              New Khera Pati Colony <br>Phool Bagh Gwalior, (MP)- 474001 , India<br>
            </span>
          </p>
          <p class="font-weight-bold blockquote ">
                <i class="fa fa-envelope-o"><a href="mailto: jaipurnias@nirmanias.com" class="text-white">
                    jaipurnias@nirmanias.com</a></i><br>
            <i class="fa fa-mobile" aria-hidden="true"> (+91) 97530-02277</i><br>
          </p>
        </div>
        <div class="card-footer  bg-secondary text-white text-center">
          <a href="https://goo.gl/maps/1BoPdqECvZu" target="_blank">
            <p class="text-white">View Map</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid m-2">
    <div class="row img-fluid img-thumbnail p-2">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.145859066412!2d77.21383991508449!3d28.715186682385212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfe0a9f71d55d%3A0x6b8b117585dfc0c1!2sNirman+IAS!5e0!3m2!1sen!2sin!4v1547904215718" width="100%" height="350"  style="border:0"></iframe>
    </div>
    </div>