<div class="container-fluid p-2">
  <h2 class="bg-info text-white p-2">Nirman IAS Gallery</h2>
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
         <a href="./assets/Gallary/_DSC4360.JPG" target="_blank"><img src="./assets/Gallary/_DSC4360.JPG"  class="img-fluid img-thumbnail p-2"/>   </a>      
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/_DSC4462.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/_DSC4576.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/_DSC4674.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/_DSC4679.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/_DSC4802.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/_DSC4844.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/_DSC4847.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/_DSC4848.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/_DSC5257.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>


       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/_DSC5277.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/_DSC5296.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/_DSC5354.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/_DSC5382.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/IMG_5446.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/IMG_5512.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/IMG_5690.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/IMG_5692.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/IMG_5693.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/IMG_5694.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/IMG_5695.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  p-2">
          <img src="./assets/Gallary/IMG_5696.JPG"  class="img-fluid img-thumbnail p-2"/>        
       </div>     
  </div>
</div>
