<div id="mySidenav" class="sidenav">
  <app-side-menu></app-side-menu>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">    
  <a [routerLink]="['/']"  class="navbar-brand p-1 ml-4">NIRMAN IAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-uppercase" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <div class="col-lg-2 col-md-2 d-none d-sm-block text-right">
                  <span><i class="fa fa-map-marker">&nbsp;&nbsp;Delhi(Head Office)</i></span> <br>
              </div>
          </li>
          <li class="nav-item">
              <div class="col-lg-2 col-md-2  d-none d-sm-block">
                  <span><i class="fa fa-map-marker ">&nbsp;&nbsp;Gwalior</i></span> <br>
              </div>
          </li>
          <li class="nav-item">
              <div class="col-lg-2 col-md-2  d-none d-sm-block">
                  <span><i class="fa fa-map-marker ">&nbsp;&nbsp;Jaipur</i></span> <br>
              </div>
          </li>
          <li class="nav-item">
              <div class="col-lg-2 col-md-2  d-none d-sm-block">
                  <span><i class="fa fa-map-marker ">&nbsp;&nbsp;Prayagraj</i></span><br>
              </div>
          </li>
          <li class="nav-item">
              <div class="col-lg-2 col-md-2  d-none d-sm-block">
                  <a href="mailto:info@nirmanias.com" target="_blank">
                      <i class="fa fa-envelope text-white">&nbsp;&nbsp;info@nirmanias.com</i>
                  </a>
              </div>
          </li>
          <li class="nav-item">
              <div class="col-lg-2 col-md-2  d-none d-sm-block p-1 text-center">
                  <a class="btn-info mt-2 p-2" href=""><small>हिंदी</small></a>
                  <a class="btn-info active p-2  mt-1" href=""><small>ENG</small></a>
              </div>
          </li>
      </ul>
      <form class="form-inline p-1 my-lg-0">
              <div class="input-group mb-1">
                      <input type="text" class="form-control" placeholder="Search.." aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <span class="fa fa-search btn btn-danger" id="Search" title="Search"></span>
                      </div>
                    </div>
      </form>
  </div>
</nav>

<div id="main">
 <span id="SideMenu" style="font-size:30px;cursor:pointer;width: 40px;" 
 class="fixed-top text-white p-2 bg-primary" onclick="SideMenuShow();">&#9776;</span>

</div>
<app-footer></app-footer>

<!-- SocialIcon -->
<div class="icon-bar">
  <a href="https://www.youtube.com/channel/UCgJnU1HmRZkRzoyzJVRgq8w?sub_confirmation=1" target="_blank" class="youtube">
      <i class="fa fa-youtube-play" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/nirman.ias" target="_blank" class="facebook">
      <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
  <a href="https://plus.google.com/102780980116787682106" target="_blank" class="google">
      <i class="fa fa-google" aria-hidden="true"></i></a>
  <a href="https://twitter.com/nirmanias07" target="_blank" class="twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/nirmanias/" target="_blank" class="instagram bg-success">
      <i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>
<!-- <app-live-chat></app-live-chat> -->

<div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" title="Close" style="margin-top: 15px; margin-right: -28px;position: absolute;">
              <i class="fa fa-times-circle-o text-danger img-thumbnail" aria-hidden="true"></i></a>
          <div class="pb-4 w-100 bg-white" style="max-width:270px;">                
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="img-thumbnail pl-3 pr-3" style="font-size: 13px;min-height: 362px;background-color: #ffffffc4;">
                           <app-insert-enquiry></app-insert-enquiry>                            
                          </div>
                      </div>
                  </div>
              </div>
      </div>
  <button type="button" class="MySidePopupBtn btn btn-primary" onclick="openNav()">Enquiry</button> 
