 <!-- <div class="row">
  <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10  shadow-lg " id="page">
     <a  routerLink="../getEnquiry">
           <i class="fa fa-eye fa-2x"></i>
           Enquiry 
       </a>
   </div>
   <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10  shadow-lg" id="page">
       <a href="/">
           <i class="fa fa-book fa-2x"></i>
           Course                     
       </a>
   </div>
</div>
   <div class="row">
   <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10  shadow-lg" id="page">
       <a href="/">
           <i class="fa fa-sliders fa-2x"></i>
           Banner
       </a>
     </div>
     <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10  shadow-lg" id="page">
       <a href="/">
           <i class="fa fa-share-square fa-2x "></i>
           Social Media
     </a>
      </div>
</div>

<div class="row">
<div class="col-lg-5 col-md-5 col-sm-10 col-xs-10  shadow-lg" id="page">
   <a href="/BranchList">
       <i class="fa fa-sign-out fa-2x "></i>
       Branch
   </a>
</div>
<div class="col-lg-5 col-md-5 col-sm-10 col-xs-10  shadow-lg" id="page">
   <a href="/">
       <i class="fa fa-commenting-o fa-2x "></i>
       Chat
   </a>
</div>

</div>
<div class="row">
<div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 shadow-lg" id="page">
   <a href="/">
       <i class="fa fa-user fa-2x"></i>
StudentDetail
   </a>
</div>
<div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 shadow-lg" id="page">
   <a href="/">
       <i class="fa fa-users fa-2x"></i>
       FacultyDetail
   </a>
</div>

</div> -->

        <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10  shadow-lg " id="page">
                   <a [routerLink]="['admin/getEnquiry'] ">
                         <i class="fa fa-eye fa-2x " id="hide"></i>
                         Enquiry
                     </a>
                 </div>
                 <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10  shadow-lg" id="page">
                     <a [routerLink]="['admin/Gallery'] " >
                         <i class="fa fa-picture-o fa-2x" ></i>
                        Gallery                  
                     </a>
                 </div>
              </div>

                 <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10  shadow-lg" id="page">
                                <a [routerLink]="['admin/getchat'] ">
                                    <i class="fa fa-commenting-o fa-2x "></i>
                                    Chat
                                </a>
                             </div>
                 
                   <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10  shadow-lg" id="page">
                     <a >
                         <i class="fa fa-share-square fa-2x "></i>
                         Social Media
                   </a>
                    </div>
              </div>
              
              <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10  shadow-lg" id="page">
                 <a href="/BranchList">
                     <i class="fa fa-sign-out fa-2x "></i>
                     Branch
                 </a>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10  shadow-lg" id="page">
                    <a [routerLink]="['admin/getEnquiry'] ">
                        <i class="fa fa-sliders fa-2x"></i>
                        Banner
                    </a>
                  </div>            
              
              </div>
              <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 shadow-lg" id="page">
                 <a >
                     <i class="fa fa-user fa-2x"></i>
              StudentDetail
                 </a>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 shadow-lg" id="page">
                 <a >
                     <i class="fa fa-users fa-2x"></i>
                     FacultyDetail
                 </a>
              </div>
              
              </div>
        