<div class="row bg-secondary text-white text-center">
    <h2>Topers Answer Copy : Nirman IAS</h2>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="shadow m-2 p-2 rounded card bg-info">
                <div class="card-body text-white text-center">
                    <h3> साक्षी गर्ग </h3>
                    <h5>रैंक - 350</h5>
                </div>
                <div class="card-footer text-white  bg-secondary">
                        <a [routerLink]="['/TopersAnswerCopyForIndividual']"  class="text-white">  Total Answer Copy : 3</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="shadow m-2 p-2 rounded card bg-dark">
                <div class="card-body text-white text-center">
                    <h3> रतनदीप गुप्ता </h3>
                    <h5>रैंक - 767</h5>
                </div>
                <div class="card-footer text-white  bg-secondary">
                        <a [routerLink]="['/TopersAnswerCopyForIndividual']" class="text-white">  Total Answer Copy : 1</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <!-- <div class="shadow m-2 p-2 rounded card bg-dark">
                            <div class="card-body text-white text-center">
                                   <h3> साक्षी गर्ग </h3>
                                    <h5>रैंक - 350</h5>
                            </div>
                            <div class="card-footer text-white  bg-secondary">
                        Total Answer Copy : 10
                                </div>
                                        </div> -->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <!-- <div class="shadow m-2 p-2 rounded card bg-info">
                                <div class="card-body text-white text-center">
                                       <h3> साक्षी गर्ग </h3>
                                        <h5>रैंक - 350</h5>
                                </div>
                                <div class="card-footer text-white  bg-secondary">
                            Total Answer Copy : 10
                                    </div>
                                            </div> -->
        </div>
    </div>

</div>