<table class="table table-hover table-justified">
  <thead>
    <tr>
    <th>UserChatID</th>
      <th>ChatMessage </th>
      <th>UserIP </th>
      <th>ReplyMessage </th>
      <th>ReplyBy </th>
      <th>Remarks </th>
      <th>IsRead </th>
      <th>CraatedBy </th>
      <th>CreatedDate </th>
      <th>ModifiedBy </th>
      <th>ModifiedDate </th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
        <tr *ngFor="let x of result">
      <td>{{x.UserChatID }}</td>
        <td>{{x.ChatMessage }}</td>
        <td>{{x.UserIP }}</td>
        <td>{{x.ReplyMessage }}</td>
        <td>{{x.ReplyBy }}</td>
       <td>{{x.Remarks }}</td>
       <td>{{x.IsRead }}</td> 
       <td>{{x.CraatedBy }}</td>
       <td>{{x.CreatedDate }}</td> 
       <td>{{x.ModifiedBy  }}</td> 
       <td>{{x.ModifiedDate }}</td>
       <td>{{x.Active }}</td>    
       </tr>
       </tbody>
       </table>


<div class="container-fluid">
  <form enctype="multipart/form-data" method="post" #ChatForm="ngForm"(ngSubmit)="onSubmit()">
    <div class="form-group">      <label>UserChatID</label>
      <input type="text" name="UserChatID"
      #UserChatID="ngModel" class="form-control"  [(ngModel)]="ChatModel.UserChatID"  >  
           
 </div>
  <div class="form-group">
      <label >ChatMessage</label>
  <input type="text" name="ChatMessage"   class="form-control"  [(ngModel)]="ChatModel.ChatMessage" placeholder="EmailID" >
   </div> 
  <div class="form-group">
       <label>UserIP </label>
      <input type="text" name="UserIP " class="form-control"
      [(ngModel)]="ChatModel.UserIP " >
           </div>
       <div>
       <label>ReplyMessage </label>
       <textarea type="text" name="ReplyMessage "   class="form-control" 
       placeholder="Enquiry Message" [(ngModel)]="ChatModel.ReplyMessage "></textarea>
       
       </div>
        <div>
        <label>ReplyBy</label>
        <textarea type="text" name="ReplyBy"  class="form-control" 
        placeholder="Enquiry Message" [(ngModel)]="ChatModel.ReplyBy  "></textarea>
        
        </div>
        <div>
          <label>Remarks  </label>
          <textarea type="text" name="Remarks"  #Remarks="ngModel" class="form-control" 
          placeholder="Enquiry Message" [(ngModel)]="ChatModel.Remarks  "></textarea>
          </div>

          <div>
            <label>IsRead  </label>
            <textarea type="text" name="IsRead  "   class="form-control" 
            placeholder="Enquiry Message" [(ngModel)]="ChatModel.IsRead  "></textarea>
              </div>

            <div>
              <label>CraatedBy  </label>
              <textarea type="text" name="CraatedBy"   class="form-control" 
              placeholder="Enquiry Message" [(ngModel)]="ChatModel.CraatedBy  "></textarea>
              
</div>

              <div>
                <label>CreatedDate   </label>
                <textarea type="text" name="CreatedDate"   class="form-control" required
                placeholder="Enquiry Message" [(ngModel)]="ChatModel.CreatedDate   "></textarea>
              </div>

                <div>
                  <label>ModifiedBy    </label>
                  <textarea type="text" name="ModifiedBy"   class="form-control" 
                  placeholder="Enquiry Message" [(ngModel)]="ChatModel.ModifiedBy"></textarea>
                  
                  </div>
                  <div>
                    <label>ModifiedDate     </label>
                    <textarea type="text" name="ModifiedDate"   class="form-control" 
                    placeholder="Enquiry Message" [(ngModel)]="ChatModel.ModifiedDate"></textarea>
                    </div>

                    <div>
                      <label>Active      </label>
                      <textarea type="text" name="Active"   class="form-control" 
                      placeholder="Enquiry Message" [(ngModel)]="ChatModel.Active      "></textarea>
                      </div>
      
  
          <button  type="submit"  class="btn btn-primary btn-lg m-3 ">Submit Now</button> 
           <!-- </form> -->
           </form>
  </div>



