<form action="#" enctype="multipart/form-data" method="post" #EnquiryForm="ngForm"(ngSubmit)="SendMessageToServer()">
  
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3" style="position:fixed;">
    <i class="fa fa-comments-o fa-3x open-button" style="color:blue;"  onclick="openForm()" 
    title="Nirman IAS Academy Live Chat"></i>
  <div class="chat-popup" id="myForm">
    <div class="form-container">
      <div class=""> 
        <i class="fa fa-times-circle-o text-danger img-thumbnail rounded" onclick="closeForm()" aria-hidden="true" style="position: absolute;margin-top:-27px;margin-left: -15px;"> </i>
        <img src="./assets/NirmanIAS_Logo.png" class="img-fluid" />
      <hr>
        <div class="input-group mb-3">
          <input type="text" id="txtReplyMessage"
          #txtReplyMessage="ngModel"
          [(ngModel)]="chatModel.ReplyMessage" placeholder="Converstation Message"  
        style="height: 150px; width: 100%;overflow-y: scroll; background-color: cornflowerblue;">
       {{chatModel.ReplyMessage}} 
      </div>
      <hr>
      <div class="input-group mb-3">
          <input type="text" id="txtChatMessage" #txtChatMessage="ngModel" [(ngModel)]="chatModel.ChatMessage" class="form-control" placeholder="Typeing" />
          <div class="input-group-append">
              <button [disabled]="!EnquiryForm.valid" type="submit"  class="fa fa-arrow-circle-o-right fa-2x rounded shadow"></button> 
          </div>
        </div>
      <hr>
      
       </div>
    </div>
  </div>
</div>

<!-- </form> -->
</form>
<table class="table table-hover table-justified">
  <tbody>
        <tr *ngFor="let x of result">
      <td>{{x.UserChatID}}</td>
        <td>{{x.ChatMessage}}</td>
        <td>{{x.UserIP}}</td>
        <td>{{x.ReplyMessage}}</td>
        <td>{{x.ReplyBy}}</td>
       <td>{{x.Remarks}}</td>
       <td>{{x.IsRead}}</td> 
       <td>{{x.CraatedBy}}</td>
       <td>{{x.CreatedDate}}</td>
       <td>{{x.ModifiedBy}}</td> 
       <td>{{x.ModifiedDate}}</td>
       <td>{{x.Active}}</td>     
       </tr>
       </tbody>
       </table>