  <div class="container-fluid">
    <div class="row bg-secondary p-2">
                <div class="col-md-2 col-lg-2 col-xl-2 "> 
                  <div class="text-justify shadow p-2 bg-success img-thumbnail">
                    <img src="../../../assets/NirmanIASLogo.png" class="img-fluid img-thumbnail bg-success"/>
                    <br>
                    निर्माण IAS एक प्रमुख शिक्षण संस्थान है, जिसे 2007 में आईएएस उम्मीदवारों को सही दृष्टिकोण के साथ सलाह देने के उद्देश्य से स्थापित किया गया था।
                    </div>                    
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2">
                    <p>
                        <a class="text-white" href="!">Know About Us</a>
                    </p>
                    <p>
                        <a class="text-white" href="!">Admission</a>
                    </p>
                    <p>
                        <a class="text-white" href="!">Contact Us</a>
                    </p>
                    <p>
                        <a class="text-white" href="!">Fees</a>
                    </p>
                    <p>
                        <a class="text-white" href="!">Courses</a>
                    </p>
                  
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2">
                    <p>
                        <a class="text-white" href="!">About</a>
                    </p>
                    <p>
                        <a class="text-white" href="!">Cereers</a>
                    </p>
                    <p>
                        <a class="text-white" href="!">Help</a>
                    </p>
                    <p>
                        <a class="text-white" href="!">Location</a>
                    </p>
                    <p>
                        <a class="text-white" href="!">Location</a>
                    </p>
                   </div>
                <div class="col-md-2 col-lg-2 col-xl-2">
                    <p>
                        <a class="text-white" href="!">Help</a>
                    </p>
                    <p>
                        <a class="text-white" href="!">Center</a>
                    </p>
                    <p>
                        <a class="text-white" href="!">Number</a>
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2">
                    <p>
                        <a class="text-white" href="!">Help</a>
                    </p>
                    <p>
                        <a class="text-white" href="!">Latest News</a>
                    </p>
                    <p>
                        <a class="text-white" href="!">cantact</a>
                    </p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                     <a href=""><img src="../assets/NirmanIAS_Logo.png" class="img-fluid img-thumbnail w-100"></a>
                 <br>
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.1457016622494!2d77.21383991456158!3d28.715191387086925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfe0a9f71d55d%3A0x6b8b117585dfc0c1!2sNirman+IAS!5e0!3m2!1sen!2sin!4v1545377773309" width="100%" height="50%" frameborder="0"  allowfullscreen></iframe>
                </div>
          </div>
          </div>
<div class="row text-center">
<div class="container-fluid bg-danger fixed-bottom p-2">  
      <div class="text-white">Copy Right &copy; {{CurrentDate.getFullYear()}} - {{CurrentDate.getFullYear()+10}} Nirman IAS Academy. All Content Rights Reserved.</div>
      <div class="Fixed_RghtCont bg-primary float-right">
          <div class="p-2">
              <a href="http://codelovertechnology.com/" class="text-white" target="_blank">Presented By : CodeLover Technology</a>
          </div>
      </div>
    </div>
 </div>