<div class="row mt-2">
        <div class=" h2 container-fluid p-2 text-center text-white bg-danger">Social Sites</div>
    
    </div>
<!-- Social Media Section Start -->
    <div class="row bg-white p-5"> 
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 bg-secondary">
            <div class="p-2 m-1  shadow Thumbnail">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnirman.ias%2F&tabs=timeline&height=300&small_header=false&adapt_container_width=false&hide_cover=true&show_facepile=false&appId"
                    class="bg-dark p-2" height="300"  scrolling="no"
                    frameborder="0" allowTransparency="true" allow="encrypted-media" style="width: 100%;"></iframe>
           <div class="bg-dark text-white text-center p-2">
                <a href="https://www.facebook.com/nirman.ias" class="text-white"  target="_blank"><i class="fa fa-facebook" aria-hidden="true"> </i> &nbsp;Facebook</a>
           </div>
                </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12  bg-secondary">
            <div class="p-2 m-1 shadow Thumbnail">
                <div class="twitter-timeline w-100 bg-dark p-2" height="500px"  style="border:1px;overflow:scroll;height: 300px;"
                frameborder="0" allowTransparency="true" allow="encrypted-media">
                <a class="twitter-timeline" href="https://twitter.com/nirmanias07?ref_src=twsrc%5Etfw" style="height:300px;overflow:scroll; "></a>
                
            </div>
            <div class="bg-dark text-white text-center p-2">
                    <a href="https://twitter.com/nirmanias07" class="text-white"  target="_blank"><i class="fa fa-twitter" aria-hidden="true"> </i> &nbsp;Twitter</a>
                </div> 
            
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12  bg-secondary">
            <div class="p-2 m-1 shadow Thumbnail">
                    <iframe src="https://www.youtube.com/embed/?listType=user_uploads&list=nirmanias"  style="height:300px; width: 100%; overflow:scroll; "></iframe>             
                    <div class="bg-dark text-white text-center p-2">
                            <a href="https://www.youtube.com/channel/UCgJnU1HmRZkRzoyzJVRgq8w" class="text-white" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"> </i> &nbsp;YouTube</a>
                        </div>
                   </div>
        </div>
    </div>

<!-- Footer Section Start -->

<div class="container-fluid ml-2">
    <div class="row bg-secondary p-2">
        <div class="col-md-2 col-lg-2 col-xl-2 ">
            <div class="text-justify shadow p-2 mb-1 bg-light img-thumbnail">
                <img src="../../../assets/NirmanIAS_Logo.webp" class="img-fluid img-thumbnail bg-light" />
                <br>
                निर्माण IAS एक प्रमुख शिक्षण संस्थान है, जिसे 2007 में आईएएस उम्मीदवारों को सही दृष्टिकोण के साथ सलाह
                देने के उद्देश्य से स्थापित किया गया था।
            </div>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2">
            <p>
                <a [routerLink]="['/']" class=" text-white"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home</a>
            </p>
            <p>
                <a [routerLink]="['/Aboutus']" class=" text-white"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>&nbsp;&nbsp;About
                    Us</a>
            </p>
            <p>
                <a [routerLink]="['/Gallery']" class=" text-white"><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;&nbsp;Gallery</a>
            </p>
            <p>
                <a [routerLink]="['/Video']" class=" text-white"><i class="fa fa-video-camera" aria-hidden="true"></i>&nbsp;&nbsp;Video</a>
            </p>
            <p>
                <a [routerLink]="['/Contact']" class=" text-white"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;Contact</a>
            </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2">
            <p>
                           <a [routerLink]="['/CurrentAffairs']" class=" text-white"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;&nbsp;Current
                    Affairs</a>
            </p>
            <p>
                <a [routerLink]="['/Books']" class=" text-white"><i class="fa fa-align-center" aria-hidden="true"></i>&nbsp;&nbsp;Books</a>
            </p>
            <p>
                <a [routerLink]="['/UPSC_Course']" class=" text-white"><i class="fa fa-book" aria-hidden="true"></i>
                    &nbsp;&nbsp;Courses</a>
            </p>
            <p>
                <a [routerLink]="['/']" class=" text-white"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                    &nbsp;&nbsp;Class Notes</a>
            </p>
            <p>
                <a [routerLink]="['/']" class=" text-white">
                    <i class="fa fa-graduation-cap text-white" aria-hidden="true"></i>
                    &nbsp;&nbsp;Special Classes</a>
            </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2">
            <p>
                <a [routerLink]="['/']" class=" text-white">UPSC Paper Solution</a>
            </p>
            <p>
                <a [routerLink]="['/']" class=" text-white">Talks And Interview</a>
            </p>
            <p>
                <a [routerLink]="['/']" class=" text-white">Topper Answer Copy</a>
            </p>
            <p>
                <a [routerLink]="['/Magazine']" class=" text-white">Nirman IAS Magazine</a>
            </p>
            <p>
                <a [routerLink]="['/']" class=" text-white">Distance Learning Programme(DLP)</a>
            </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2">

            <p>
                <a class="text-white" href="Books">Nirman IAS Books</a>
            </p>
            <p>
                <a [routerLink]="['/']" class=" text-white">Current Regular GS Batch</a>
            </p>
            <p>
                <a [routerLink]="['/']" class=" text-white">Current Optional Batch</a>
            </p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="text-justify shadow p-2 mb-1 bg-light img-thumbnail">
                <a href=""><img src="../assets/NirmanIAS_Logo.webp" class="img-fluid img-thumbnail w-100"></a>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.1457016622494!2d77.21383991456158!3d28.715191387086925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfe0a9f71d55d%3A0x6b8b117585dfc0c1!2sNirman+IAS!5e0!3m2!1sen!2sin!4v1545377773309"
                    width="100%" height="50%" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="container-fluid bg-danger">
        <div class="row">       
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="text-white">Copy Right &copy; {{CurrentDate.getFullYear()}} - {{CurrentDate.getFullYear()+10}}
                        Nirman IAS. All Content Rights Reserved.</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="Fixed_RghtCont bg-primary float-right" style="width: 300px; border-top-left-radius: 25px;">
                        <div class="p-2">
                            <a href="http://codelovertechnology.com/" class="text-white" target="_blank">Presented By : CodeLover
                                Technology</a>
                        </div>
                    </div>
        </div>
    </div>
        
        
    </div>

                        
</div>