<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135982327-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135982327-1');
</script>


<!-- <div class="ng-view" autoscroll="true"></div> -->
<section>
<div class="row">
<div id="mySidenav" class="sidenav">
    <app-side-menu></app-side-menu>
</div>
</div>


<nav class="row navbar navbar-expand-lg navbar-dark bg-primary text-white text-center">    
    <a [routerLink]="['/']"  class="navbar-brand p-1 ml-4" title="NIRMAN IAS Home"><i class="fa fa-home" aria-hidden="true"></i>&nbsp; NIRMAN IAS &nbsp; &nbsp; &nbsp; &nbsp;</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-uppercase w-100 " id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <div class="col-lg-2 col-md-2 d-none d-sm-block text-right">
                        <i class="fa fa-map-marker" data-toggle="tooltip" data-placement="bottom"  title="
                    
===============================
Nirman IAS Head Office - Delhi
===============================
H.No : 996 1st Floor,
Mukherjee Nagar,
(Near Gandhi Vihar Bandh)
Delhi-110009, India 

 Info@nirmanias.com
 nirmanias07@gmail.com
 (+91) 11 4705-8219
 (+91) 95406-76789
 (+91) 97177-67797
===============================

                        ">&nbsp;&nbsp;Delhi</i>
                </div>
            </li>
            <li class="nav-item">
                <div class="col-lg-2 col-md-2  d-none d-sm-block">
                        <i class="fa fa-map-marker" data-toggle="tooltip" data-placement="bottom"  title="
===============================
      Gwalior Nirman IAS
===============================
2/3 Aziz Complex, 
New Khera Pati Colony 
Phool Bagh Gwalior, (MP)- 474001 , India

jaipurnias@nirmanias.com
(+91) 97530-02277
===============================
                        ">&nbsp;&nbsp;Gwalior</i>
                </div>
            </li>
            <li class="nav-item">
                <div class="col-lg-2 col-md-2  d-none d-sm-block">
                        <i class="fa fa-map-marker" data-toggle="tooltip" data-placement="bottom"  title="
===============================
       Jaipur Nirman IAS
===============================
Hindaun Heights 57,
Riddhi Siddhi Gopalpura Bypass,
Jaipur- 302019 , India

gwaliornias@nirmanias.com
(+91) 80942-25566
(+91) 96805-13367
===============================
                        ">&nbsp;&nbsp;Jaipur</i>
                </div>
            </li>
            <li class="nav-item">
                <div class="col-lg-2 col-md-2  d-none d-sm-block">
                        <i class="fa fa-map-marker" data-toggle="tooltip" data-placement="bottom"  title="
===============================
      Prayagraj Nirman IAS
===============================
10/14, Elgin Road, 
Civil Line, Prayagraj(Allahabad)
Utter Pradesh (U.P.)- 211001 , India

 nirmaniasald@gmail.com
 prayagrajnias@nirmanias.com
 (+91) 99844-74888
===============================
                         ">&nbsp;&nbsp;Prayagraj</i>
                </div>
            </li>
            <li class="nav-item">
                <div class="col-lg-2 col-md-2  d-none d-sm-block">
                    <a href="mailto:info@nirmanias.com" target="_blank">
                        <i class="fa fa-envelope text-white">&nbsp;&nbsp;info@nirmanias.com</i>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="col-lg-2 col-md-2  col-sm-12 col-xs-12 text-center">
                        
                    <!-- <a class="btn-info mt-2 p-2" href=""><small>हिंदी</small></a>
                    <a class="btn-info active p-2  mt-1" href=""><small>ENG</small></a> -->
                </div>
            </li>
        </ul>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <form class="form-inline float-right">
                <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search.." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <span class="fa fa-search btn btn-danger" id="Search" title="Search"></span>
                        </div>
                      </div>
        </form>
    </div>
</nav>
</section>
<div id="main">
    <section>
   <span id="SideMenu" style="font-size:28px;cursor:pointer;width: 35px;" 
   class="fixed-top text-white p-1 bg-primary" onclick="SideMenuShow();">&#9776;</span>
</section>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>

<section>
<app-footer></app-footer>

<!-- SocialIcon -->
<div class="icon-bar">
    <a href="https://www.youtube.com/channel/UCgJnU1HmRZkRzoyzJVRgq8w?sub_confirmation=1" target="_blank" class="youtube">
        <i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/nirman.ias" target="_blank" class="facebook">
        <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="https://plus.google.com/102780980116787682106" target="_blank" class="google">
        <i class="fa fa-google" aria-hidden="true"></i></a>
    <a href="https://twitter.com/nirmanias07" target="_blank" class="twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/nirmanias/" target="_blank" class="instagram bg-success">
        <i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>
<app-live-chat></app-live-chat>

 <div id="mySidenav1" class="sidenav1">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" title="Close" style="margin-top: 15px; margin-right: -28px;position: absolute;">
                <i class="fa fa-times-circle-o text-danger img-thumbnail" aria-hidden="true"></i></a>
            <div class="pb-4 w-100 bg-white" style="max-width:270px;">                
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="img-thumbnail pl-3 pr-3" style="font-size: 13px;min-height: 362px;background-color: #ffffffc4;">
                             <app-insert-enquiry></app-insert-enquiry>                            
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    <button type="button" class="MySidePopupBtn btn btn-primary" onclick="openNav()">Enquiry</button> 
</section>
