<div class="row">
    <div class=" offset-lg-3 col-lg-6">
      <div class="card">
       <div class="card-header text-center btn-danger">
          <h1>Log In</h1>
      </div>
     <div class="card-body ">
       <form class="form-horizontal">
          <div class="form-group">
              <label for="fb"><B></B></label>
              <div class="input-group">
                <a href="https://www.facebook.com/" class="btn btn-primary form-control" action="gmail.com" >            
                <span><i style="font-size:25px; color: white;"class="fa fa-facebook">&nbsp;&nbsp;&nbsp;&nbsp; Sign in with facebook</i></span> 
                </a> 
              </div>
          </div>
          <div class="form-group">
              <label for="num"><B></B></label>
              <div class="input-group">
                <a href="https://accounts.google.com/AddSession/signinchooser?hl=en&continue=https%3A%2F%2Fmail.google.com%2Fmail&service=mail&flowName=GlifWebSignIn&flowEntry=AddSession" class="btn btn-danger form-control" action="gmail.com" >            
                   <span><i style="font-size:25px; color: white;"class="fa fa-google-plus">&nbsp;&nbsp;&nbsp;&nbsp; Sign in with Google</i></span> 
                </a>
                  </div>
          </div>
     <div class="form-group">
            <label class="control-label" for="login"></label>
            <input class="form-control" type="text"  id="login" placeholder="First Name" required>
        </div>
       <div class="form-group">
          <label class="control-label"  for="user"></label>
          <input class="form-control" class="form-control" type="password"  id="user" placeholder="Password" required>
       </div> 
       <div class="form-group">
          <label class="control-label" for="login"></label>
          <button class="btn btn-dark form-control" id="login" type="submit" routerLink="../desh"> Log in</button>  
          </div> 
         </form>
     </div>
     
    <div class="card-footer">
    <div class="row">
      <div class="col-lg-5">
        <a href="#" routerLink="../forgot">Forgot Your Password?</a>
      </div>
      <div class="offset-lg-3 col-lg-4">
          <a href="#"  routerLink="../registration">New Here? Sign Up</a>
        </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    <br>
    <br>
  <!--
    <h1>{{ usermodel.NewsID }}  details </h1><br>
  
    <div class="login">
      Usernmae : <input type="text" [(ngModel)]="usermodel.NewsID"/>
      Password : <input type="text" [(ngModel)]="usermodel.NewsTitle"/>
      <input type="button" value="Click Me" (click)="login()" />
    </div> -->
  
  