<div class="container" style="padding-top:60px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
              <div class="container-fluid" [ngBusy]="busy">
                  <form enctype="multipart/form-data" method="post" #LoginForm="ngForm" (ngSubmit)="login()">
              <h1 style="text-align:center">Nirman Admin Login</h1>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user-o"></i></span>
                </div>
                <input type="text" name="UserEmailID" #UserEmailID="ngModel" [(ngModel)]="model.UserEmailID" class="form-control sty1"
                  placeholder="Email" required>
                  <br>
                  <div class="validation-error" *ngIf="UserEmailID.invalid && UserEmailID.touched">Please Enter User Email ID.</div>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password" name="Passward" #Passward="ngModel" [(ngModel)]="model.Password" class="form-control"
                  placeholder="Password" required>
                  <br>
                  <div class="validation-error" *ngIf="Passward.invalid && Passward.touched">Please Enter Valid Password.</div>
              </div>
              <div>
                <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success">
                  {{errorMessage}}
                </p>
              </div>
              <div class="row">
                <div class="col-6">                    
                  <button [disabled]="!LoginForm.valid" type="submit" class="btn btn-primary px-4">Login</button>
                </div>
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-link px-0">Forgot password?</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>