<div class="row bg-danger text-white text-center p-2">
<h3>Nirman IAS State PCS Exams</h3>
</div>

<div class="row">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="text-center m-2 p-2">
        <a href="../../../../assets/NIAS_Courses/State_PCS/MPPSC_Pre_Test_Series_2019.jpg" target="_blank">
        <div class="card">
            <div class="card-body bg-dark text-white">
                    <h2>MP-PSC Test Series</h2>
            </div>
            <div class="card-footer bg-secondary shadow">
<h5 class="text-white">Know More</h5>
            </div>
        </div>
    </a>
</div>
</div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
    </div>
</div>