<!-- <div class="navbar">
    <a [routerLink]="['/']"><b>Home</b></a>
    <a [routerLink]="['/Menu']"><b>Menu</b></a>
    <a [routerLink]="['/niasinsert-enquiry']"><b>Enquiry</b></a>
    <a [routerLink]="['/niasenquiry']"><b>Show Enquiry</b></a>
    <a [routerLink]="['/Contact']"><b>Contact</b></a>
    <a [routerLink]="['/Banner']"><b>Banner</b></a>
    <button (click)="clickMe()"><b>Banner</b></button> 
</div> -->

<nav id="sidebar">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar-header float-left">
     <a href="/" target="_blank"> <img src="../assets/NirmanIAS_Logo.png" class="img-fluid img-thumbnail"></a>
    </div>
    <ul class="list-unstyled ml-4">
        <li class="active">
                <a [routerLink]="['/']" class=" text-white"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        <li>
            
                <a [routerLink]="['/Aboutus']"  class=" text-white"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> About Us</a>               
        </li>
         <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-book" aria-hidden="true"></i> Courses</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                        <a [routerLink]="['/UPSC_Course']"  class=" text-white"><i class="fa fa-book" aria-hidden="true"></i>
                            UPSC Courses</a>
                </li>
                <li>
                        <a [routerLink]="['/StatePCS']"  class=" text-white"><i class="fa fa-book" aria-hidden="true"></i>
                             State PCS</a>
                </li>
                <li>
                        <a [routerLink]="['/TestSeries']"  class=" text-white"><i class="fa fa-book" aria-hidden="true"></i>
                            Test Series</a>
                </li>
            </ul>
        </li> 
        <li>
                <a [routerLink]="['/']"  class=" text-white"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Current Affairs</a>
        </li>
        <li>
                <a [routerLink]="['/Books']"  class=" text-white"><i class="fa fa-align-center" aria-hidden="true"></i> Books</a>
        </li>
        <li>
                <a [routerLink]="['/Gallery']"  class=" text-white"><i class="fa fa-picture-o" aria-hidden="true"></i> Gallery</a>
        </li>
        <li>
                <a [routerLink]="['/Video']"  class=" text-white"><i class="fa fa-video-camera" aria-hidden="true"></i> Video</a>
        </li>
        <li>
                <a [routerLink]="['/Contact']"  class=" text-white"><i class="fa fa-info-circle"  aria-hidden="true"></i> Contact</a>
        </li>
      </ul>
</div>   
</div>
</nav>



