<div class="container-fluid" style="max-width:300px;"> 
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img src="../assets/NirmanIAS_Logo.png" class="img-thumbnail">                       
      </div>
  </div>       
  <form enctype="multipart/form-data"method="post"#BranchForm="ngForm"(ngSubmit)="onSubmit()">
  <div class="form-group"><label>BranchCode </label>
  <input type="text" name="BranchCode" #BranchCode = "ngModel" required
 class="form-control" [(ngModel)]="BranchMaster.BranchCode" >
 <div class="validation-error" *ngIf="BranchCode.invalid && BranchCode.touched">BranchCode is required.</div>
  </div>
  <div class="form-group">
  <label>BranchName</label>
  <input type="text" name="BranchName" #BranchName = "ngModel" required class="form-control"[(ngModel)]="BranchMaster.BranchName">
  <div class="validation-error" *ngIf="BranchName.invalid && BranchName.touched">BranchName is required.</div>
  </div>
  <div class="form-group">
    <label>BranchAddress</label>
    <input type="text" name="BranchAddress" #BranchAddress = "ngModel"  required class="form-control"[(ngModel)]="BranchMaster.BranchAddress">
    <div class="validation-error" *ngIf="BranchAddress.invalid && BranchAddress.touched">BranchAddress is required.</div>
    </div>
  <div class="form-group">
  <label>ContactNo</label>
  <input type="text" name="ContactNo" minlength=10 maxlength=10  class="form-control" required #ContactNo = "ngModel"
  [(ngModel)]="BranchMaster.ContactNo">
  <div class="validation-error" *ngIf="ContactNo.invalid && ContactNo.touched">ContactNo is required.</div>
  </div>
  <div>
  <label>EmailID</label>
  <input type="text" name="EmailID" #EmailID = "ngModel"  required class="form-control"[(ngModel)]="BranchMaster.EmailID">
  <div class="validation-error" *ngIf="EmailID.invalid && EmailID.touched">EmailID is required.</div>
  </div>
  <div>
    <label>Remarks</label>
    <textarea type="text" name="Remarks" #Remarks = "ngModel" required class="form-control"[(ngModel)]="BranchMaster.Remarks"></textarea>
    <div class="validation-error" *ngIf="Remarks.invalid && Remarks.touched">Remark is required.</div>
    </div>
 <button  [disabled]="!BranchForm.valid" type="submit"class="btn btn-primary btn-lg m-3 ">Submit Now</button>
  
  </form>
  </div>