<div class="container-fluid">
  <form enctype="multipart/form-data" method="post" #BranchForm="ngForm"  (ngSubmit)="onFormSubmit()">
    
  
   <div class="form-group">
       <label >BranchCode </label>
   <input type="text" name="BranchCode" required  #BranchCode="ngModel" class="form-control"  [(ngModel)]="Branch.BranchCode"  >
   
   <div class="validation-error" *ngIf="BranchCode.invalid && BranchCode.touched">This field is required.</div>
    </div> 
   <div class="form-group">
        <label>BranchName </label>
       <input type="text" name="BranchName" #BranchName="ngModel" class="form-control"
       [(ngModel)]="Branch.BranchName" required>
       <div class="validation-error" *ngIf="BranchName.invalid && BranchName.touched">This field is required.</div>
            </div>
        <div>
        <label>BranchAddress </label>
        <input type="text" name="BranchAddress"  #BranchAddress="ngModel" class="form-control" required [(ngModel)]="Branch.BranchAddress">
        <div class="validation-error" *ngIf="BranchAddress.invalid && BranchAddress.touched">This field is required.</div>
        </div>
        <div>
          <label>ContactNo </label>
          <input type="text" name="ContactNo"  #ContactNo="ngModel" class="form-control" required [(ngModel)]="Branch.ContactNo">
          <div class="validation-error" *ngIf="ContactNo.invalid && ContactNo.touched">This field is required.</div>
          </div>
          <div>
            <label>EmailID </label>
            <input type="text" name="EmailID"  #EmailID="ngModel" class="form-control" required [(ngModel)]="Branch.EmailID">
            <div class="validation-error" *ngIf="EmailID.invalid && EmailID.touched">This field is required.</div>
            </div>
            <div>
              <label>Remarks </label>
              <input type="text" name="Remarks"  #Remarks="ngModel" class="form-control" required [(ngModel)]="Branch.Remarks">
              <div class="validation-error" *ngIf="Remarks.invalid && Remarks.touched">This field is required.</div>
              </div>
         <button [disabled]="!BranchForm.valid" type="submit"  class="btn btn-primary btn-lg m-3">Submit Now</button> 
            </form> 
   </div>
   