<div class="container-fluid">
  <h1>Nirman IAS Branch </h1>
  <form #BannerForm="ngForm"(ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>BranchCode</label>
      <input type="text" name="BranchCode" class="form-control" [(ngModel)]="Branch.BranchCode">
    </div>
    <div class="form-group">
      <label>BranchName</label>
      <input type="text" name="BranchName" class="form-control" [(ngModel)]="Branch.BranchName">
    </div>
    <div class="form-group">
      <label>BranchAddress</label>
      <input type="text" name="BranchAddress" class="form-control" [(ngModel)]="Branch.BranchAddress">
    </div>
    <div>
    <label>ContactNo</label>
    <textarea type="text" name="ContactNo" class="form-control" [(ngModel)]="Branch.ContactNo"></textarea>
    </div>
    <div>
      <label>EmailID</label>
      <textarea type="text" name="EmailID" class="form-control" [(ngModel)]="Branch.EmailID"></textarea>
    </div>
    <div class="form-group">
      <label>Remarks</label>
      <input type="text" name="Remarks" class="form-control" [(ngModel)]="Branch.Remarks">
    </div>
    <div class="form-group">
      <label>CreatedBy</label>
      <input type="text" name="createdBy" class="form-control" [(ngModel)]="Branch.createdBy">
    </div>
    <div class="form-group">
      <label>CreatedDate</label>
      <input type="text" name="createdDate" class="form-control" [(ngModel)]="Branch.createdDate">
    </div>
    <div class="form-group">
      <label>ModifiedBy</label>
      <input type="text" name="modifiedBy" class="form-control" [(ngModel)]="Branch.modifiedBy">
    </div>
    <div class="form-group">
      <label>ModifiedDate</label>
      <input type="text" name="modifiedDate" class="form-control" [(ngModel)]="Branch.modifiedDate">
    </div>
    <div class="form-group">
      <label>Active</label>
      <input type="boolean" name="active" class="form-control" [(ngModel)]="Branch.active">
    </div>
    <button type="submit"  class="btn btn-primary btn-lg ml-2">Submit Now</button>
    </form>
  </div>