<table class="table table-hover table-justified">
  <thead>
    <tr>
    <th>BannerID</th>
      <th>BannerTitle   </th>
      <th>BannerImagesPath   </th>
      <th>SubTitle   </th>
      <th>Remarks </th>
      <th>CreatedBy </th>
      <th>CreatedDate </th>
      <th>ModifiedBy</th>
      <th>ModifiedDate</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
        <tr *ngFor="let x of result">
      <td>{{x.BannerID  }}</td>
        <td>{{x.BannerTitle  }}</td>
        <td>{{x.BannerImagesPath  }}</td>
        <td>{{x.SubTitle  }}</td>
        <td>{{x.Remarks  }}</td>
       <td>{{x.CreatedBy}}</td>
       <td>{{x.CreatedDate}}</td> 
       <td>{{x.ModifiedBy}}</td>
       <td>{{x.ModifiedDate}}</td> 
       <td>{{x.Active}}</td>    
       </tr>
       </tbody>
       </table>