<div [ngBusy]="busy">
  <table class="table table-hover table-dark ">
    <thead>
    <tr>
    <th>BannerID</th>
    <th>BannerTitle</th>
    <th>BannerImagesPath</th>
    <th>SubTitle</th>
    <th>Remarks</th>
    <th>CreatedBy</th>
    <th>CreatedDate</th>
    <th>ModifiedBy</th>
    <th>ModifiedDate</th>
    <th>Active</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of result">
    <td>{{x.bannerID}}</td>
    <td>{{x.bannerTitle}}</td>
    <td>{{x.bannerImagesPath}}</td>
    <td>{{x.subTitle}}</td>
    <td>{{x.remarks}}</td>
    <td>{{x.createdBy}}</td>
    <td>{{x.createdDate}}</td>
    <td>{{x.modifiedBy}}</td>
    <td>{{x.modifiedDate}}</td>
    <td>{{x.active}}</td>
    </tr>
    </tbody>
    </table>
  </div>