<div class="container-fluid">
  <form enctype="multipart/form-data" method="post" #SubCategoryForm="ngForm"  (ngSubmit)="onFormSubmit()">
     <!-- <div class="form-group">
       <label >CourseID </label>
   <input type="text" name="CourseID" required  #CourseID="ngModel" class="form-control"  [(ngModel)]="Course.CourseID">
   
   <div class="validation-error" *ngIf="CourseID.invalid && CourseID.touched">This field is required.</div>
    </div>  -->
   <div class="form-group">
        <label>CategoryID </label>
       <input type="text" name="CategoryID" #CategoryID="ngModel" class="form-control"
       [(ngModel)]="SubCategory.CategoryID" required>
       <div class="validation-error" *ngIf="CategoryID.invalid && CategoryID.touched">This field is required.</div>
            </div>
        <div>
        <label>SubCategoryCode</label>
        <input type="text" name="SubCategoryCode"  #CourseCode="ngModel" class="form-control" required [(ngModel)]="SubCategory.SubCategoryCode" >
        <div class="validation-error" *ngIf="SubCategoryCode.invalid && SubCategoryCode.touched">This field is required.</div>
        </div>
        <div>
          <label>SubCategoryName</label>
          <textarea type="text" name="SubCategoryName"  #CourseName="ngModel" class="form-control" required [(ngModel)]="SubCategory.SubCategoryName"></textarea>
          <div class="validation-error" *ngIf="SubCategoryName.invalid && SubCategoryName.touched">This field is required.</div>
          </div>
          <div>
            <label>SubCatDescription</label>
            <textarea type="text" name="SubCatDescription"  #SubCatDescription="ngModel" class="form-control" required [(ngModel)]="SubCategory.SubCatDescription"></textarea>
            <div class="validation-error" *ngIf="SubCatDescription.invalid && SubCatDescription.touched">This field is required.</div>
            </div>
            <div>
              <label>Sequence</label>
              <textarea type="text" name="Sequence"  #Sequence="ngModel" class="form-control" required [(ngModel)]="SubCategory.Sequence"></textarea>
              <div class="validation-error" *ngIf="Sequence.invalid && Sequence.touched">This field is required.</div>
              </div>
         <button [disabled]="!SubCategoryForm.valid" type="submit"  class="btn btn-primary btn-lg m-3">Submit Now</button> 
            </form> 
   </div>
   