<div class="row">
    <div style="background-image: url('./assets/Full Transparent Header With Thumbnail Text Slider.png');background-repeat: no-repeat;background-size: cover; opacity:1;"
        class="vh-100 w-100">
        <div class="container-fluid m-2">
            <div class="offset-lg-1 col-lg-10 offset-md-1 col-md-10 col-sm-12 col-xs-12 rounded">
                <img src="../../../assets/NIAS_Header.png" class="img-fluid rounded" >
            </div>
        </div>
    </div>
</div>
<div class="row p-2 " style="background-color: rgb(10, 8, 8);">
        <marquee style="color:goldenrod;"><b>
            <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/> Test series for UPSC Main Exam 2019 (Online,Offline)
                Comprehensive All India Test Series for IAS Prelims & Mains -2019 </b></marquee>
</div>

<!-- </div> -->
<div class="clearfix"></div>
<div class="row bg-danger text-white text-center">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h2 class="text-white">Video Gallery</h2>
        </div>        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="https://www.youtube.com/channel/UCgJnU1HmRZkRzoyzJVRgq8w" target="_blank">
                <div class="text-right text-white">View More</div>
            </a>
        </div>
    </div>
<div class="row bg-light">
        
<div class="container-fluid">
    
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 shadow img-thumbnail">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xGF86UjrwpA"
                    allow="accelerometer;gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 shadow img-thumbnail">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPp5vaDJcRo"
                    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 shadow img-thumbnail">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/F0MfP3PSuKs"
                    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 shadow img-thumbnail">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-reponsive-item" src="https://www.youtube.com/embed/7IEjY2XJMgE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
            </div>
        </div>
    </div>
</div>
</div>
<div class="clearfix"></div>
<div class="row bg-secondary">
        <h2 class="bg-danger text-white text-center p-2 w-100">Nirman IAS Resources</h2>
        
<div class="container-fluid m-3">
    
        <div class="row ">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a [routerLink]="['/CurrentAffairs']">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/currentaffairs.png" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h4>Current Affairs</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a [routerLink]="['/ClassNotes']">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/books-512.png" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h4>Class Notes</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                    <a [routerLink]="['/NIAS_SpecialClasses']">  
                <div class="card shadow p-2 m-1 img-thumbnail">
                    <div class="card-body">
                        <img src="./assets/NirmanIAS_Special_Classes.JPG" class="img-fluid" />
                    </div>
                    <div class="card-footer">
                        <h4>Special Classes</h4>
                    </div>
                </div>
    </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                    <a [routerLink]="['/Books']"  >
                <div class="card shadow p-2 m-1 img-thumbnail">
                    <div class="card-body">
                        <img src="./assets/NIAS_DLP_eLearning.png" class="img-fluid" />
                    </div>
                    <div class="card-footer">
                        <h5>Distance Learning Programme(DLP)</h5>
                    </div>
                </div>
    </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                    <a [routerLink]="['/NIAS_TestYourSelf']"  >
                <div class="card shadow p-2 m-1 img-thumbnail">
                    <div class="card-body">
                        <img src="./assets/info.png" class="img-fluid" />
                    </div>
                    <div class="card-footer">
                        <h5>Test Yourself(Previous Years Paper With Solutions)</h5>
                    </div>
                </div>
            </a> 
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a [routerLink]="['/NIAS_TalksAndInterview']">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/key.png" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h4>Talks And Interview</h4>
                        </div>
    
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                    <a [routerLink]="['/TopersAnswerCopyList']">
                <div class="card shadow p-2 m-1 img-thumbnail">
                    <div class="card-body">
                        <img src="./assets/NIAS_Topper_Answer_Copy.jpg" class="img-fluid" />
                    </div>
                    <div class="card-footer">
                        <h4>Topper Answer Copy</h4>
                    </div>
    
                </div>
    </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a [routerLink]="['/Magazine']">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/NIAS_Magazine.JPG" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h4>Nirman Magazine</h4>
                        </div>
    
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <!-- <a [routerLink]="['/Magazine']"> -->
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/Study-Materials.jpg" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h4>Printed Material</h4>
                        </div>
                    </div>
                <!-- </a> -->
            </div>
        </div>
    </div>
</div>
<div class="row bg-light">
    <div class="bg-danger text-white w-100 text-center"><h2>Nirman IAS : State PCS</h2></div>
    <div class="container-fluid">
        <div class="row p-2">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                        <a href="./assets/NIAS_Courses/State_PCS/NIAS_M_P_Syllabus.pdf" target="_blank">
                            <div class="card shadow p-2 m-1 img-thumbnail">
                                <div class="card-header text-center">
                                        Madhya Pradesh(MP)-PCS
                                </div>
                                <div class="card-body">
                                    <img src="./assets/MP-PCS.gif" class="img-fluid" />
                                </div>
                                <div class="card-footer bg-secondary text-white">
                                        Know More
                                    </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                    <!-- <a [routerLink]="['/Magazine']"> -->
                        <div class="card shadow m-1 img-thumbnail">
                                <div class="card-header text-center">
                                        Uttar Pradesh(UP)-PCS
                                </div>
                                <div class="card-body m-3 p-3">
                                    <img src="./assets/Uttar-Pradesh-Public-Service-Commission.jpg" class="img-fluid" />
                                </div>
                                <div class="card-footer bg-secondary text-white">
                                        Know More
                                    </div>
                            </div>
                        <!-- </a> -->
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                    <!-- <a [routerLink]="['/Magazine']"> -->
                        <div class="card shadow p-2 m-1 img-thumbnail">
                                <div class="card-header text-center">
                                        Bihar(BR)-PCS
                                </div>
                                <div class="card-body">
                                    <img src="./assets/BPSC-logo.png" class="img-fluid" />
                                </div>
                                <div class="card-footer bg-secondary text-white">
                                        Know More
                                    </div>
                            </div>
                        <!-- </a> -->
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                    <!-- <a [routerLink]="['/Magazine']"> -->
                        <div class="card shadow p-2 m-1 img-thumbnail">
                                <div class="card-header text-center">
                                        Rajasthan (RJ)-PCS
                                </div>
                                <div class="card-body">
                                    <img src="./assets/RajasthanPCS.png" class="img-fluid" />
                                </div>
                                <div class="card-footer bg-secondary text-white">
                                    Know More
                                </div>
                            </div>
                        <!-- </a> -->
                                </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2 class="bg-danger text-white text-center p-2">Current Regular GS Batch</h2>
            <table class="table table-hover table-striped">
                <tr>
                    <th>Subject</th>
                    <th>Time</th>
                    <th>Faculty</th>
                </tr>
                <tr>
                    <td> Indian Economy(Pre)</td>
                    <td>08:00 AM - 10:00 AM</td>
                    <td>Mr. RAMESHWAR </td>
                </tr>
                <tr>
                    <td>History(Pre - Ancient India) </td>
                    <td>10:00 AM - 12:30 PM</td>
                    <td>Mr. Karunesh Chaudhary</td>
                </tr>
                <!-- <tr>
                    <td>Ethics</td>
                    <td>03:00 PM - 05:30 PM</td>
                    <td>Dr. KHURSHID ALAM</td>
                </tr> -->
                <tr>
                    <td>Polity (Pre + Mains) </td>
                    <td>06:00 PM - 09:00 PM</td>
                    <td>Mr. V. K. Tripathi</td>
                </tr>
                <tr>
                        <td>CSAT(Reasoning) </td>
                        <td>12:30 PM - 03:00 PM</td>
                        <td>Mr. Sanjeev Tiwari</td>
                    </tr>
                    <tr>
                            <td>CSAT(Math) </td>
                            <td>12:30 PM - 03:00 PM</td>
                            <td>Mr. Niraj Kukreja</td>
                        </tr>                       
            </table>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2 class="bg-danger text-white text-center p-2">Current Optional Batch</h2>
            <table class="table table-hover table-striped border-1">
                <tr>
                    <th>Subject</th>
                    <th>Time</th>
                    <th>Faculty</th>
                </tr>
                <tr>
                    <td> History</td>
                    <td>12:30 PM - 02:30 PM</td>
                    <td>Dr. RAHEESH SINGH </td>
                </tr>
                <tr>
                    <td>Geography </td>
                    <td>12:30 PM - 02:30 PM</td>
                    <td>Mr. AJIT SINGH</td>
                </tr>
                <tr>
                    <td>Sociology</td>
                    <td>03:00 PM -05:30 PM</td>
                    <td>Mr. GAUTAM ANAND</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- daily 7 weekly artical -->
<div class="container-fluid">
    <h2 class="bg-danger text-white text-center p-2">Daily & Weekly Articals</h2>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class=" shadow p-1 m-1 img-thumbnail">
                <img class="img-fluid" src="./assets/Bharat_strike.jpg" alt="Carousel 1"><br>
                <a href="./assets/CurrentAffairs/NIAS_AirStrike.pdf" target="_blank">भारत के एयर स्ट्राइक</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class=" shadow p-1 m-1 img-thumbnail">
                <img class="img-fluid" src="./assets/eCommarce.jpeg" alt="Carousel 2"><br>
                <a href="./assets/CurrentAffairs/NIAS_ई-कॉमर्स-भारत.pdf" target="_blank" >ई-कॉमर्स-भारत</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class=" shadow p-1 m-1 img-thumbnail">
                <img class="img-fluid" src="./assets/smart-india-hackathon-2019-registration-dates.jpg" alt="Carousel 3"><br>
                <a href="./assets/CurrentAffairs/NIAS_स्मार्ट_इंडिया_हैकाथान-2019.pdf" target="_blank" >स्मार्ट इंडिया हैकाथान - 2019</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class=" shadow p-1 m-1 img-thumbnail">
                <img class="img-fluid" src="./assets/NIAS_Rashtrapati.jpg"><br>
                <a href="./assets/CurrentAffairs/NIAS_Rashtrpati_4_Adhyayadesh.pdf" target="_blank" >राष्ट्रपति द्वारा चार अध्यादेश को मंजूरी</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class=" shadow p-1 m-1 img-thumbnail">
                <img class="img-fluid" src="./assets/PassportIndia.jpg" alt="Carousel 4"><br>
                <a href="./assets/CurrentAffairs/NIAS_PASSPORT_POWER_RANKING_2019.pdf" target="_blank" >PASSPORT POWER RANKING 2019</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class=" shadow p-1 m-1 img-thumbnail">
                <img class="img-fluid" src="./assets/Financial-Action-Task-Force-To-Release-Crypto-Regulation-by-June-2019.jpg" alt="Carousel 6"><br>
                <a href="./assets/CurrentAffairs/NIAS_FATF.pdf" target="_blank" >Financial Action Task Force (FATF) (फाइनेंसियल एक्शन टॉस्क फोर्स )</a>
            </div>
        </div>
    </div>
</div>
<!--ACHIEVEMENTS-->
<div class="container-fluid">
    <div class="row bg-secondary m-1">
        <div class="h2 bg-danger text-center p-2 text-white container-fluid">Nirman IAS UPSC Result</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="./assets/NiasResult2018.png" title="Nirman IAS UPSC Result AIR Rank 2018"
                class="img-fluid img-thumbnail p-2" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="./assets/NIASResult2017.jpg" title="Nirman IAS UPSC Result AIR Rank 2017"
                class="img-fluid img-thumbnail p-2" />
        </div>
    </div>
</div>