<div class="row  text-center">
    <!-- <div style="background-image: url('./assets/Full Transparent Header With Thumbnail Text Slider.png');background-repeat: no-repeat;background-size: cover; opacity:1;" 
        class="vh-100 w-100">-->
    <div class="container-fluid m-1">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rounded w-100"
            class="background-repeat: no-repeat;background-size: cover; opacity:1;">
            <img src="../../../assets/NIAS_Header.webp" title="NIRMAN IAS" alt="NIRMAN IAS"
                class="img-fluid rounded shadow">
        </div>
    </div>
    <!-- </div> -->
</div>
<div class="row p-2 " style="background-color: rgb(82, 6, 6);">
    <marquee style="color:goldenrod;"><b>
            <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1" /> Test series for UPSC
            Main Exam 2019 (Online,Offline)
            Comprehensive All India Test Series for IAS Prelims & Mains -2019 </b></marquee>
</div>

<!-- </div> -->
<div class="clearfix"></div>
<div class="row bg-danger text-white text-center">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <h2 class="text-white">Video Gallery</h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <a href="https://www.youtube.com/channel/UCgJnU1HmRZkRzoyzJVRgq8w" target="_blank">
            <div class="text-right text-white">View More</div>
        </a>
    </div>
</div>
<div class="row bg-light">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 shadow img-thumbnail">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xGF86UjrwpA"
                        allow="accelerometer;gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 shadow img-thumbnail">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPp5vaDJcRo"
                        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 shadow img-thumbnail">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/F0MfP3PSuKs"
                        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 shadow img-thumbnail">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-reponsive-item" src="https://www.youtube.com/embed/7IEjY2XJMgE" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row bg-secondary">
    <h2 class="bg-danger text-white text-center p-2 w-100">Nirman IAS Resources</h2>

    <div class="container-fluid m-3">

        <div class="row ">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a [routerLink]="['/CurrentAffairs']">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/currentaffairs.webp" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h4>Current Affairs</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a [routerLink]="['/ClassNotes']">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/books-512.webp" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h4>Class Notes</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a [routerLink]="['/NIAS_SpecialClasses']">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/NirmanIAS_Special_Classes.webp" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h4>Special Classes</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a [routerLink]="['/Books']">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/NIAS_DLP_eLearning.webp" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h5>Distance Learning Programme(DLP)</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a [routerLink]="['/NIAS_TestYourSelf']">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/info.webp" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h5>Test Yourself(Previous Years Paper With Solutions)</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a [routerLink]="['/NIAS_TalksAndInterview']">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/key.webp" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h4>Talks And Interview</h4>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a [routerLink]="['/TopersAnswerCopyList']">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/NIAS_Topper_Answer_Copy.webp" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h4>Topper Answer Copy</h4>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a [routerLink]="['/Magazine']">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/NIAS_Magazine.webp" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h4>Nirman Magazine</h4>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a [routerLink]="['/PrintedMaterialList']">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-body">
                            <img src="./assets/Study-Materials.webp" class="img-fluid" />
                        </div>
                        <div class="card-footer">
                            <h4>Printed Material</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row bg-light">
    <div class="bg-danger text-white w-100 text-center">
        <h2>Nirman IAS : State PCS</h2>
    </div>
    <div class="container-fluid">
        <div class="row p-2">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                <a href="./assets/NIAS_Courses/State_PCS/NIAS_M_P_Syllabus.pdf" target="_blank">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-header text-center">
                            Madhya Pradesh(MP)-PCS
                        </div>
                        <div class="card-body">
                            <img src="./assets/MP-PCS.webp" class="img-fluid" />
                        </div>
                        <div class="card-footer bg-secondary text-white">
                            Know More
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                <a href="./assets/NIAS_Courses/State_PCS/NIAS_UPPCS_Sllybus.PDF" target="_blank">
                    <div class="card shadow m-1 img-thumbnail">
                        <div class="card-header text-center">
                            Uttar Pradesh(UP)-PCS
                        </div>
                        <div class="card-body m-3 p-3">
                            <img src="./assets/Uttar-Pradesh-Public-Service-Commission.webp" class="img-fluid" />
                        </div>
                        <div class="card-footer bg-secondary text-white">
                            Know More
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                <!-- <a [routerLink]="['/Magazine']"> -->
                <div class="card shadow p-2 m-1 img-thumbnail">
                    <div class="card-header text-center">
                        Bihar(BR)-PCS
                    </div>
                    <div class="card-body">
                        <img src="./assets/BPSC-logo.webp" class="img-fluid" />
                    </div>
                    <div class="card-footer bg-secondary text-white">
                        Know More
                    </div>
                </div>
                <!-- </a> -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                <a href="./assets/NIAS_Courses/State_PCS/NIAS_RSA_Syllabus.pdf" target="_blank">
                    <div class="card shadow p-2 m-1 img-thumbnail">
                        <div class="card-header text-center">
                            Rajasthan (RJ)-PCS
                        </div>
                        <div class="card-body">
                            <img src="./assets/RajasthanPCS.webp" class="img-fluid" />
                        </div>
                        <div class="card-footer bg-secondary text-white">
                            Know More
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2 class="bg-danger text-white text-center p-2">Current Regular GS Batch</h2>
            <table class="table table-hover table-striped">
                <tr>
                    <th>Subject</th>
                    <th>Time</th>
                    <th>Faculty</th>
                </tr>
                <tr>
                    <td> Indian Economy(Pre)</td>
                    <td>08:00 AM - 10:00 AM</td>
                    <td>Mr. RAMESHWAR </td>
                </tr>
                <tr>
                    <td>History(Pre - Ancient India) </td>
                    <td>10:00 AM - 12:30 PM</td>
                    <td>Mr. Karunesh Chaudhary</td>
                </tr>
                <tr>
                    <td>Polity (Pre + Mains) </td>
                    <td>06:00 PM - 09:00 PM</td>
                    <td>Mr. V. K. Tripathi</td>
                </tr>
                <tr>
                    <td>CSAT(Reasoning) </td>
                    <td>12:30 PM - 03:00 PM</td>
                    <td>Mr. Sanjeev Tiwari</td>
                </tr>
                <tr>
                    <td>CSAT(Math) </td>
                    <td>12:30 PM - 03:00 PM</td>
                    <td>Mr. Niraj Kukreja</td>
                </tr>
            </table>
            <!-- <app-get-batch-details></app-get-batch-details> -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2 class="bg-danger text-white text-center p-2">Current Optional Batch</h2>
            <table class="table table-hover table-striped border-1">
                <tr>
                    <th>Subject</th>
                    <th>Time</th>
                    <th>Faculty</th>
                </tr>
                <tr>
                    <td> History</td>
                    <td>12:30 PM - 02:30 PM</td>
                    <td>Dr. RAHEESH SINGH </td>
                </tr>
                <tr>
                    <td>Geography </td>
                    <td>12:30 PM - 02:30 PM</td>
                    <td>Mr. AJIT SINGH</td>
                </tr>
                <tr>
                    <td>Sociology</td>
                    <td>03:00 PM -05:30 PM</td>
                    <td>Mr. GAUTAM ANAND</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- daily 7 weekly artical -->
<div class="container-fluid">
    <div class="row bg-danger text-white">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h2 class="text-center p-2">Daily & Weekly Articals</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a [routerLink]="['/CurrentAffairs']">
                <div class="text-right text-white p-4">View More</div>
            </a>
        </div>
    </div>

    <div class="row">
        
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                    <div class=" shadow p-1 m-1 img-thumbnail">
                        <img class="img-fluid" src="./assets/CurrentAffairs/Images/hq.webp"
                            alt="पुलिस संगठन में महिलाओ के लिए मॉडल नीति"><br>
                        <a href="./assets/CurrentAffairs/NIAS_Polic_15-3-2019.pdf"
                            target="_blank">
                            <h3>पुलिस संगठन में महिलाओ के लिए मॉडल नीति</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                    <div class=" shadow p-1 m-1 img-thumbnail">
                        <img class="img-fluid" src="./assets/CurrentAffairs/Images/10.webp"
                            alt="प्रदुषण एवं जनजीवन "><br>
                        <a href="./assets/CurrentAffairs/NIAS_Hawa_15-3-2019.pdf" target="_blank">
                            <h3>प्रदुषण एवं जनजीवन </h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                    <div class=" shadow p-1 m-1 img-thumbnail">
                        <img class="img-fluid" src="./assets/CurrentAffairs/Images/hini.webp"
                            alt="फ्लू महामारी से लड़ने की डब्ल्यू एच ओ (WHO) की रणनीति"><br>
                        <a href="./assets/CurrentAffairs/NIAS_Flu_14-3-2019.pdf"
                            target="_blank">
                            <h3>फ्लू महामारी से लड़ने की डब्ल्यू एच ओ (WHO) की रणनीति</h3>
                        </a>
                    </div>
                </div>


        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class=" shadow p-1 m-1 img-thumbnail">
                <img class="img-fluid" src="./assets/CurrentAffairs/Images/Election.webp"
                    alt="मतदाता : मतदान और इसके सरोकार"><br>
                <a href="./assets/CurrentAffairs/NIAS_मतदाता _और_इसके_सरोकार_13-3-2019.pdf" target="_blank">
                    <h3>मतदाता : मतदान और इसके सरोकार</h3>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class=" shadow p-1 m-1 img-thumbnail">
                <img class="img-fluid" src="./assets/CurrentAffairs/Images/Intellectual-Property.webp"
                    alt="शत्रु संपति का सार्वजनिक उपयोग"><br>
                <a href="./assets/CurrentAffairs/NIAS_शत्रु_संपति_का_सार्वजनिक_उपयोग_12-3-2019.pdf" target="_blank">
                    <h3>शत्रु संपति का सार्वजनिक उपयोग</h3>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class=" shadow p-1 m-1 img-thumbnail">
                <img class="img-fluid"
                    src="./assets/CurrentAffairs/Images/India-Urban-Observatory-Video-Wall-Inaugurated-by-MOHUA-in-New-Delhi.webp"
                    alt="इंडिया अर्बन आब्जवेर्तरी एंड विडियो वाँल"><br>
                <a href="./assets/CurrentAffairs/NIAS_इंडिया_अर्बन_आब्जवेर्तरी_एंड_विडियो_वाँल_12_Mar_2019.pdf"
                    target="_blank">
                    <h3>इंडिया अर्बन आब्जवेर्तरी एंड विडियो वाँल </h3>
                </a>
            </div>
        </div>


    </div>
    <div class="row p-2">
        <app-current-affairs-for-hindu></app-current-affairs-for-hindu>
    </div>
</div>
<!--ACHIEVEMENTS-->
<div class="container-fluid">
    <div class="row bg-secondary m-1">
        <div class="h2 bg-danger text-center p-2 text-white container-fluid">Nirman IAS UPSC Result</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="./assets/NiasResult2018.webp" title="Nirman IAS UPSC Result AIR Rank 2018"
                class="img-fluid img-thumbnail p-2" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="./assets/NIASResult2017.webp" title="Nirman IAS UPSC Result AIR Rank 2017"
                class="img-fluid img-thumbnail p-2" />
        </div>
    </div>
</div>


<!-- Nirman$123#


google-site-verification=mg8hWFvY1YdPbjoryFBaWE_vXbPEbSZxGvhSLVTlrB8 -->