<div class="container-fluid">
  <h1>Nirman IAS CategoryMaster </h1>
  <form #CategoryForm="ngForm"(ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>CategoryID</label>
      <input type="text" name="CategoryID" class="form-control" [(ngModel)]="Category.CategoryID">
    </div>
    <div class="form-group">
      <label>CategoryCode</label>
      <input type="text" name="CategoryCode" class="form-control" [(ngModel)]="Category.CategoryCode">
    </div>
    <div class="form-group">
      <label>CategoryName</label>
      <input type="text" name="CategoryName" class="form-control" [(ngModel)]="Category.CategoryName">
    </div>
    <div>
    <label>Description</label>
    <textarea type="text" name="Description" class="form-control" [(ngModel)]="Category.Description"></textarea>
    </div>
    <div>
      <label>Sequence</label>
      <textarea type="text" name="Sequence" class="form-control" [(ngModel)]="Category.Sequence"></textarea>
    </div>
    <div class="form-group">
      <label>CreatedBy</label>
      <input type="text" name="createdBy" class="form-control" [(ngModel)]="Category.createdBy">
    </div>
    <div class="form-group">
      <label>CreatedDate</label>
      <input type="text" name="createdDate" class="form-control" [(ngModel)]="Category.createdDate">
    </div>
    <div class="form-group">
      <label>ModifiedBy</label>
      <input type="text" name="modifiedBy" class="form-control" [(ngModel)]="Category.modifiedBy">
    </div>
    <div class="form-group">
      <label>ModifiedDate</label>
      <input type="text" name="modifiedDate" class="form-control" [(ngModel)]="Category.modifiedDate">
    </div>
    <div class="form-group">
      <label>Active</label>
      <input type="boolean" name="active" class="form-control" [(ngModel)]="Category.active">
    </div>
    <button type="submit"  class="btn btn-primary btn-lg ml-2">Submit Now</button>
    </form>
  </div>