<div class="container-fluid">
  <form enctype="multipart/form-data" method="post" #CategoryForm="ngForm"  (ngSubmit)="onFormSubmit()">
    
  
   <div class="form-group">
       <label >CategoryID </label>
   <input type="text" name="CategoryID" required  #CategoryID="ngModel" class="form-control"  [(ngModel)]="category.CategoryID"  >
   
   <div class="validation-error" *ngIf="CategoryID.invalid && CategoryID.touched">This field is required.</div>
    </div> 
   <div class="form-group">
        <label>CategoryCode </label>
       <input type="text" name="CategoryCode" #CategoryCode="ngModel" class="form-control"
       [(ngModel)]="category.CategoryCode" required>
       <div class="validation-error" *ngIf="CategoryCode.invalid && CategoryCode.touched">This field is required.</div>
            </div>
        <div>
        <label>CategoryName </label>
        <input type="text" name="CategoryName"  #CategoryName="ngModel" class="form-control" required [(ngModel)]="category.CategoryName" >
        <div class="validation-error" *ngIf="CategoryName.invalid && CategoryName.touched">This field is required.</div>
        </div>
        <div>
          <label>Description </label>
          <textarea type="text" name="Description"  #Description="ngModel" class="form-control" required [(ngModel)]="category.Description"></textarea>
          <div class="validation-error" *ngIf="Description.invalid && Description.touched">This field is required.</div>
          </div>
          <div>
            <label>Sequence </label>
            <textarea type="text" name="Sequence"  #Sequence="ngModel" class="form-control" required [(ngModel)]="category.Sequence"></textarea>
            <div class="validation-error" *ngIf="Sequence.invalid && Sequence.touched">This field is required.</div>
            </div>
         <button [disabled]="!CategoryForm.valid" type="submit"  class="btn btn-primary btn-lg m-3">Submit Now</button> 
            </form> 
   </div>