<div class="card">
    <section id="sec1">
       <div class="card-header ">
          <!-- <h2 class="text-center" style="font-size:30px; color:rgb(243, 240, 240);">Bihar News Live</h2><br> -->
      </div>
      <div class="card-body">
          <div class="container-fluid ">
           <div class="row">
             <div class="col-lg-6 mar">
              <img src="./assets/518700486-612x612.jpg">
             </div>     
           <div class=" col-lg-6 mar">
                  <div class="card shadow" style="font-size:20px;"> 
                 <div class="card-header bg-danger">
                            <div class="text-center" style="font-size:25px; color:rgb(243, 240, 240);">Nirman  IAS</div>
                              </div>
                               <div class="card-body">
                                 <div class="row row-contact-text">
                                   <div class="col-sm-12 font-text">
                                    </div>
                                  </div>
                        <div class="row">
                          <div class="col-lg-12 col-sm-12 font-text">
                             <h2 class="contact-leave-message text-center" style="font-size:25px; color:black;">Send a Message</h2>
                           </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-sm-6 col-xs-12">
                            <form action="http://rashtriyasamanadhikar.com/home/contact_post" method="post" accept-charset="utf-8">
                              <input type="hidden" name="varient_csrf_token" value="4d4e3ef01a438efb9085878d61917a87">
                                 <div class="form-group">
                                   <input type="text" class="form-control form-input" name="name" placeholder="Name" maxlength="199" minlength="1" pattern=".*\S+.*" value="" required="">
                                  </div>
                                  <div class="form-group">
                                       <input type="email" class="form-control form-input" name="email" maxlength="199" placeholder="Email Address" value="" required="">
                                   </div>
                                   <div class="form-group">
                                       <textarea class="form-control form-input form-textarea" name="message" placeholder="Message" maxlength="4970" minlength="5" required=""></textarea>
                                   </div>                                     
                                   <div class="form-group">
                                           <button type="submit" class="btn btn-dark btn-custom pull-right">
                                               Submit
                                           </button>
                                   </div>                    
                       </form>
                       <!-- form end -->
                    </div>
                    </div>
                    </div>
                    </div><br><br>
                  </div>
                  </div>
                  </div>
                  </div>
    </section>
</div> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg- col-md-4 col-sm-4 col-xs-4">
      <iframe class="" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d113881
      .71652802815!2d75.773425!3d26.877979!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x
      0%3A0x9938d3c672498f9c!2sNirman+Ias+Jaipur!5e0!3m2!1sen!2sin!4v1547286852336"
       width="300" height="100" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <pre>Delhi(HEAD OFFICE)
           996, 1st Floor, Mukherjee Nagar 
           (Near - Gandhi Vihar Bandh), Delhi - 110009</pre>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <ul class="style-list:none">
    <p><b>Get in Touch</b></p>
    <li><span><i class="fa fa-phone">&nbsp;&nbsp;(+91) 11 4705-8219</i></span></li> 
    <li><span><i class="fa fa-phone">&nbsp;&nbsp;(+91) 9911581653</i></span></li>  
    <li><span><i class="fa fa-phone">&nbsp;&nbsp;(+91) 9717767797</i></span></li> 
  
  </ul>
      </div>
  </div>
</div>
