<div class="row ">
  <div class="h2 p-2 m-1 w-100 text-center bg-danger text-white">
    Nirman Batch Schedule
    <small><a href="../../../../assets/NIAS_Courses/Test_Series/NIRMAN-IAS-UPSC-Batch-Schedule.pdf" target="_blank" class="text-white">Download All Batch Schedules</a></small>
  </div>
</div>
<div class="container">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Batch Code </th>
        <th>Subject </th>
        <th>Time </th>
        <th>Faculty </th>
        <th>Batch Start Date </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of Result">
        <input type="hidden" value="{{x.batchID }}" />
        <td>{{x.batchCode }}</td>
        <td>{{x.subject }}</td>
        <td>{{x.time }}</td>
        <td>{{x.faculty}}</td>
        <td>{{x.batchStartDate}}</td>
      </tr>
    </tbody>
  </table>
</div>