<div class="row">
<h2 class="container-fluid bg-danger text-white text-center p-2 m-2">Current Affairs</h2>

<div class="container">
  <h2>Nirman IAS Current Affairs in PDF</h2>
  <table class="table table-hover table-fluid">
      <tr>
          <th>Topics</th>
          <th>Updated Date</th>
        </tr>
        <tr>
          <td>          
              <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/><a href="./assets/CurrentAffairs/NIAS_ई-कॉमर्स-भारत.pdf" target="_blank">ई-कॉमर्स-भारत</a>               
          </td>
          <td>26 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/><a href="./assets/CurrentAffairs/NIAS_स्मार्ट_इंडिया_हैकाथान-2019.pdf" target="_blank">स्मार्ट इंडिया हैकाथान - 2019</a>               
          </td>
          <td>26 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/><a href="./assets/CurrentAffairs/NIAS_Rashtrpati_4_Adhyayadesh.pdf" target="_blank">राष्ट्रपति द्वारा चार अध्यादेश को मंजूरी </a>               
          </td>
          <td>25 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/><a href="./assets/CurrentAffairs/NIAS_PASSPORT_POWER_RANKING_2019.pdf" target="_blank">PASSPORT POWER RANKING 2019 </a>               
          </td>
          <td>25 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <img src="../../../assets/new-animated-gif-4.gif" width="50" height="50" class="p-1"/><a href="./assets/CurrentAffairs/NIAS_FATF.pdf" target="_blank">Financial Action Task Force (FATF) (फाइनेंसियल एक्शन टॉस्क फोर्स )</a>               
          </td>
          <td>24 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_Digital_Bharat_Saksham_Bharat.pdf" target="_blank">डिजिटल भारत सक्षम भारत ( डिजिटल भारत दस्तावेज ) </a>               
          </td>
          <td>23 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_Angel.pdf" target="_blank">Angel Tax ( एंजेल टैक्स )  </a>               
          </td>
          <td>22 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_स्किल_इंडिया_का_पुनर्निर्माण.pdf" target="_blank">स्किल इंडिया का पुनर्निर्माण </a>               
          </td>
          <td>21 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_राष्ट्रीय_इलेक्ट्रॉनिक्स_नीति_2019.pdf" target="_blank">राष्ट्रीय इलेक्ट्रॉनिक्स नीति 2019 </a>               
          </td>
          <td>21 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_हिंदी_भाषा_एवं_न्यायालय.pdf" target="_blank">हिंदी भाषा एवं न्यायालय </a>               
          </td>
          <td>21 Feb 2019</td>
        </tr>

        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_Delhi_Sarkar.pdf" target="_blank">दिल्ली सरकार बनाम केंद्र सरकार के मध्य शक्तियो के विभाजन से संबंधित मुद्दे </a>               
          </td>
          <td>20 Feb 2019</td>
        </tr>
         <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_E_Visa.pdf" target="_blank">ई-वीजा क्यवस्था ( पर्यटक अनुकूल ) </a>               
          </td>
          <td>19 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/मिथाइल_एल्कोहल.pdf" target="_blank">मिथाइल एल्कोहल</a>               
          </td>
          <td>18 Feb 2019</td>
       </tr>
       <tr>
        <td>          
            <a href="./assets/CurrentAffairs/wages.pdf" target="_blank">डॉ. अनूप सतपथी विशेषज्ञ समिति (राष्ट्रीय न्यूनतम मजदूरी )</a>               
        </td>
        <td>17 Feb 2019</td>
      </tr>        
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/सिनेमैटोग्राफ_संशोधन_विधेयक.pdf" target="_blank">सिनेमैटोग्राफ संशोधन विधेयक</a>               
          </td>
          <td>17 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_भारत_ने_पाक_से_छीना_मोस्ट_फेवर्ड_नेशन_MFN_का_दर्जा.pdf" target="_blank">भारत ने पाक से छीना मोस्ट फेवर्ड नेशन (MFN) का दर्जा</a>               
          </td>
          <td>16 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_एनआरआई_विवाह_पंजीकरण_विधेयक.pdf" target="_blank">एनआरआई विवाह पंजीकरण विधेयक</a>               
          </td>
          <td>16 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_हेलिना_नाग_मिसाइल.pdf" target="_blank">हेलिना नाग मिसाइल</a>               
          </td>
          <td>15 Feb 2019</td>
        </tr>
        
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_भारत-फिनलैंड_समझौता.pdf" target="_blank">भारत - फिनलैंड समझौता</a>               
          </td>
          <td>14 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_स्वच्छ_शक्ति_2019.pdf" target="_blank">स्वच्छ शक्ति 2019</a>               
          </td>
          <td>14 Feb 2019</td>
        </tr>
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_लाइट_हाउस_परियोजना.pdf" target="_blank">लाइट हाउस परियोजना</a>               
          </td>
          <td>14 Feb 2019</td>
        </tr>
        <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_भारत_नॉर्वे_समुद्री_प्रदूषण_पहल.pdf" target="_blank">भारत - नॉर्वे  समुद्री प्रदूषण पहल</a>               
            </td>
            <td>13 Feb 2019</td>
          </tr>
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_जीईएम_और_सीसीआई_समझौता.pdf" target="_blank">जीईएम और सीसीआई समझौता</a>               
            </td>
            <td>13 Feb 2019</td>
          </tr>
          <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_रग-रग_में_गंगा.pdf" target="_blank">रग-रग में गंगा</a>               
            </td>
            <td>13 Feb 2019</td>
          </tr>
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_UNHCR_know_my_India.pdf" target="_blank">रोहिंग्या शरणाथी समस्या तथा यू एन एच् सी आर(UNHCR) / नो माई इंडिया (know my India)</a>               
          </td>
          <td>12 Feb 2019</td>
        </tr>
    <tr>
      <td>          
          <a href="./assets/CurrentAffairs/राफेल_डील.pdf" target="_blank">राफेल डील</a>               
      </td>
      <td>21 Jan 2019</td>
    </tr>
    <tr>
        <td>
            <a href="./assets/CurrentAffairs/भारत_में_वनाग्नि_प्रबंधन_पर_रिपोर्ट.pdf" target="_blank">भारत में वनाग्नि प्रबंधन पर रिपोर्ट</a>               
        </td>
        <td>20 Jan 2019</td>
      </tr>
  </table>
</div>
</div>