<div class="row">
  <h2 class="bg-danger text-white text-center p-2 m-2 w-100">Current News</h2>
  <div class="container">
    <div *ngFor="let x of CurrentAffairsList">
      <div class="shadow p-2">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 rounded  p-2">
            <img src={{x.currentAffairsImgPath}} class="p-1 img-fluid" style="width: 250px;height: 150px;" />
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 rounded  p-1">
            <a class="btn btn-success p-2 m-1" [routerLink]="['../ViewPDF']" target="_blank"
              [queryParams]="{ pdfSrc: (x.pdfPath) }" target="_blank" rel={{x.title}} title={{x.title}}
              class="border0 blink">
              <div class="p-1">
                <h5 class="h5">{{x.title}}</h5>
                <p class="text-justify small">{{x.summary}} </p>
                <p class="fa fa-clock-o small ">{{x.modifiedDate}}</p>
                <a class="float-right small" rel={{x.title}} title={{x.title}}>Read More...</a>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>