<h2 class="container-fluid bg-danger text-white text-center p-2 m-2">Current Affairs</h2>

<div class="container-fluid">
  <h2>Nirman IAS Current Affairs in PDF</h2>
  <table class="table table-hover table-fluid">
      <tr>
          <th>Topics</th>
          <th>Updated Date</th>
        </tr>
        <!-- <tr>
            <td>          
                <a href="./assets/CurrentAffairs/NIAS_गंगा.pdf" target="_blank">श्रृंखला रग रग में गंगा</a>               
            </td>
            <td>13 Feb 2019</td>
          </tr> -->
        <tr>
          <td>          
              <a href="./assets/CurrentAffairs/NIAS_UNHCR_know_my_India.pdf" target="_blank">रोहिंग्या शरणाथी समस्या तथा यू एन एच् सी आर(UNHCR) / नो माई इंडिया (know my India)</a>               
          </td>
          <td>12 Feb 2019</td>
        </tr>
    <tr>
      <td>          
          <a href="./assets/CurrentAffairs/राफेल_डील.pdf" target="_blank">राफेल डील</a>               
      </td>
      <td>21 Jan 2019</td>
    </tr>
    <tr>
        <td>
            <a href="./assets/CurrentAffairs/भारत_में_वनाग्नि_प्रबंधन_पर_रिपोर्ट.pdf" target="_blank">भारत में वनाग्नि प्रबंधन पर रिपोर्ट</a>               
        </td>
        <td>20 Jan 2019</td>
      </tr>
  </table>
</div>
