<div class="bg-primary text-white p-3 h3">Add New Master Record Info</div>
<div class="container-fluid">
  <form enctype="multipart/form-data" method="post" #MasterInfo="ngForm"(ngSubmit)="onSubmit()">
  <div class="form-group">
      <label >Master Value  </label>
  <input type="text" name="MasterValue  " required  #MasterValue   ="ngModel" class="form-control"  [(ngModel)]="MasterInfoModel.MasterValue  "  >
  
  <div class="validation-error" *ngIf="MasterValue.invalid && MasterValue.touched">Master Value field is required.</div>
   </div> 
  <div class="form-group">
       <label>Master Table  </label>
      <input type="text" name="MasterTable  " #MasterTable   ="ngModel" class="form-control"
      [(ngModel)]="MasterInfoModel.MasterTable  " required>
      <div class="validation-error" *ngIf="MasterTable .invalid && MasterTable .touched">Master Table Name is required.</div>
           </div>
       <div>
       <label>Sequence  </label>
       <input type="number" name="Sequence"  #Sequence ="ngModel" class="form-control" required
        [(ngModel)]="MasterInfoModel.Sequence">
       <div class="validation-error" *ngIf="Sequence.invalid && Sequence.touched">Sequence is required.</div>
       </div>
          <button [disabled]="!MasterInfo.valid" type="submit"  class="btn btn-primary btn-lg m-3 ">Submit Now</button> 
           </form>
  </div>