<div class="p-3 text-center bg-primary text-white">Faculty Information List</div>
<table class="table table-hover table-justified">
    <thead>
      <tr>
          <th>FacultyID</th>
          <th>FacultyName</th>
          <th>Subject </th>
          <th>RefeenceName</th>
          <th>Address</th>
          <th>EmailID</th>
          <th>ContactNo</th>
          <th>Remarks   </th>
          <th></th>
          <th></th>
          </tr>
      </thead>
    <tbody>
        <tr *ngFor="let x of result">
          <td>{{x.facultyID}}</td>
          <td>{{x.facultyName}}</td>
          <td>{{x.subject }}</td>
          <td>{{x.refeenceName}}</td>
          <td>{{x.address}}</td>
          <td>{{x.emailID}}</td>
          <td>{{x.contactNo}}</td>
          <td>{{x.remarks}}</td>
          <td><a class="btn btn-success p-2 m-1" [routerLink]="['/../admin/admin/update-facultyMaster']" target="_blank"  [queryParams]="{ facultyID: (x.facultyID) }"> Update</a></td>  
          <td><a class="btn btn-danger p-2 m-1" [routerLink]="['/../admin/admin/delete-facultyMaster']" target="_blank" [queryParams]="{ facultyID: (x.facultyID) }"> Delete</a></td>
  </tr>   
    </tbody>      
</table>
