<div class="row">
  <div class="container-fluid">
    <div class="row">
      <h2 class="container-fluid bg-danger text-white text-center p2">NIrman IAS : Course Fee For Civil Service Exam
      </h2>
      <div class="col-lg-4 col-md-4 col-12">
        <div class="p-2">
          <img src="./assets/NirmanIAS_Logo.webp" class="img-fluid img-thumbnail" style="width: 100%;" />
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-justify">
        <p class="p-2">Civil Service is one of the highly reputed competitive exam of the country. Future policy-makers
          and administrators are chosen through this exam. Union Public Service Commission and Public Service Commission
          of the several state organize the exams on time to time for various services.</p>
        <p class="p-2">This examination has three stages - Preliminary, Mains and Interview. Prelims is an objective
          type of examination. The most important exam is Mains which seeks the answers of the questions through
          conventional method with analytical form. Last stage of the examination is an interview round which includes
          the personality test of the candidate. Combined marks of Mains and interview are counted in merit list for
          getting selection. On the basis of merit candidate gets the choices of the services.</p>
        <p class="p-2">Public Service Commissions of several states hold the examination on the basis of above mentioned
          procedure. To be successful, it is desirable to prepare for the exam with an appropriate strategy and fair
          guidance. While observing the changing scenario of the exam, guidance matters much more.</p>
      </div>
    </div>
    <div class="row">
      <div class="container-fluid bg-danger text-white text-center p-2 m-2">GENERAL STUDIES</div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card m-2 p-2 shadow bg-secondary">
          <div class="card-header">
            <h2 class="text-white text-center">Preliminary Examination</h2>
          </div>
          <div class="card-body  text-white">
            <div>
              General Studies (Pre) 1st : 21,000/- + 3,780/-(GST 18%) <br>
              Total Fee : Rs. 24,780/-
            </div>
            <div>
              General Studies (Pre) 2nd (CSAT) : 18,000/- + 3,240/-(GST 18%)<br>
              Total Fee : Rs. 21,240/- 
            </div>
            <div>
              General Studies (Pre) 1st + 2nd (CSAT) : 39,000/- + 7,020/-(GST 18%)<br>
              Total Fee : Rs. 46,020/-
            </div>
          </div>
          <div class="card-footer bg-danger text-center text-white">
            <a [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }" class=" text-white">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card m-2 p-2 shadow bg-secondary">
          <div class="card-header">
            <h2 class="text-white text-center">Main Examination</h2>
          </div>
          <div class="card-body  text-white">
            General Studies (Mains) : Rs.66,000/- + Rs.11,880/-(GST 18%) <br>
            Total Fee : Rs.77,880/- 

          </div>
          <div class="card-footer bg-danger text-center text-white">
            <!-- <a [routerLink]="['/PrelimsGSSyllabus']"  class=" text-white">View Details
                              </a> -->
            <a  [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }"  class=" text-white">View Details</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container-fluid bg-danger text-white text-center p-2 m-2">OPTIONAL SUBJECT</div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card m-2 p-2 bg-secondary shadow">
          <div class="card-header">
            <h2 class="text-white text-center">HISTORY</h2>
          </div>
          <div class="card-body text-white">
            History : 39,500/- + Rs 7,110/-(GST 18%) <br>
            Total Fee : Rs 46,610/- 
          </div>
          <div class="card-footer bg-danger text-center text-white"> <a  [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }"  target="_blank" class=" text-white">View Details</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card m-2 p-2  bg-secondary shadow">
          <div class="card-header">
            <h2 class="text-white text-center">GEOGRAPHY</h2>
          </div>
          <div class="card-body text-white">
            Geography : 39,500/- + Rs 7,110/-(GST 18%) <br>
            Total Fee : Rs 46,610/- 
          </div>
          <div class="card-footer bg-danger text-center text-white"> <a  [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }"  target="_blank" class=" text-white">View Details</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card m-2 p-2  bg-secondary shadow">
          <div class="card-header">
            <h2 class="text-white text-center">SOCIOLOGY</h2>
          </div>
          <div class="card-body text-white">
            SOCIOLOGY : 39,500/- + Rs 7,110/-(GST 18%) <br>
            Total Fee : Rs 46,610/- 
          </div>
          <div class="card-footer bg-danger text-center text-white"> <a  [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }"  target="_blank" class=" text-white">View Details</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card m-2 p-2  bg-secondary shadow">
          <div class="card-header">
            <h2 class="text-white text-center">HINDI LITERATURE</h2>
          </div>
          <div class="card-body text-white">
            HINDI LITERATURE : 39,500/- + Rs 7,110/-(GST 18%) <br>
            Total Fee : Rs 46,610/- 
          </div>
          <div class="card-footer bg-danger text-center text-white"> <a [routerLink]="['./ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc: (pdfPath) }" target="_blank" class=" text-white">View Details</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card m-2 p-2  bg-secondary shadow">
          <div class="card-header">
            <h2 class="text-white text-center">Essay</h2>
          </div>
          <div class="card-body text-white">
            Essay : 6,500/- + Rs 1,170/-(GST 18%) <br>
            Total Fee : Rs 7,670/- 
          </div>
          <div class="card-footer bg-danger text-center text-white">
              <a  [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }"  target="_blank" class=" text-white">View Details</a> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container-fluid bg-danger text-white text-center p-2 m-2">Combind Fee Structure</div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card m-2 p-2  bg-secondary shadow">
          <div class="card-header">
            <h3 class="text-white text-center">GS(Pre 1st + Mains)</h3>
          </div>
          <div class="card-body text-white">
            <i class="fa fa-inr" aria-hidden="true"></i> Rs 84,500/- + 15,210/- (GST 18%) <br>Total Fee : Rs 99,710/- ( Pay in Two installment)<br>
            <i class="fa fa-inr" aria-hidden="true"></i> Rs 79,491/- + 14,308/- (GST 18%) <br>Total Fee : Rs 93,700/-( One Time Payment)
          </div>
          <div class="card-footer bg-danger text-center text-white"> <a  [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }"  target="_blank" class=" text-white">View Details</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card m-2 p-2  bg-secondary shadow">
          <div class="card-header">
            <h3 class="text-white text-center">GS(Pre 2nd + Mains)</h3>
          </div>
          <div class="card-body text-white">
            <i class="fa fa-inr" aria-hidden="true"></i> Rs 81,500/- + 14,670/- (GST 18%) <br>Total Fee : Rs 96,170/- ( Pay in Two installment)<br>
            <i class="fa fa-inr" aria-hidden="true"></i> Rs 76,610/- + 13,790/- (GST 18%) <br>Total Fee : Rs 90,400/- ( One Time Payment)

          </div>
          <div class="card-footer bg-danger text-center text-white"> <a  [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }"  target="_blank" class=" text-white">View Details</a></div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card m-2 p-2  bg-secondary shadow">
          <div class="card-header">
            <h3 class="text-white text-center">GS (Pre 1st & 2nd) + Mains</h3>
          </div>
          <div class="card-body text-white">
            <i class="fa fa-inr" aria-hidden="true"></i> 1,00,000/-  + 18,000/- (GST 18%) <br>Total Fee : Rs 1,18,000/-  ( Pay in Two installment)<br>
            <i class="fa fa-inr" aria-hidden="true"></i> 93,983/-  + 16,917/- (GST 18%) <br>Total Fee : Rs 1,10,900/- ( One Time Payment)
          </div>
          <div class="card-footer bg-danger text-center text-white"> <a  [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }"  target="_blank" class=" text-white">View Details</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card m-2 p-2  bg-secondary shadow">
          <div class="card-header">
            <h3 class="text-white text-center">Pre 1st + Mains + Optional</h3>
          </div>
          <div class="card-body text-white">
            <i class="fa fa-inr" aria-hidden="true"></i>  1,20,000/- + 21,600/- (GST 18%) <br>Total Fee :  1,41,600/-( Pay in Two installment)<br>
            <i class="fa fa-inr" aria-hidden="true"></i>  1,12,797/- + 20,303/- (GST 18%) <br>Total Fee :  1,33,100/-( One Time Payment)

          </div>
          <div class="card-footer bg-danger text-center text-white"> <a  [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }"  target="_blank" class=" text-white">View Details</a></div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card m-2 p-2  bg-secondary shadow">
          <div class="card-header">
            <h3 class="text-white text-center">GS (Mains + CSAT + Optional)</h3>
          </div>
          <div class="card-body text-white">
            <i class="fa fa-inr" aria-hidden="true"></i> 1,17,000/- + 21,060/- (GST 18%) <br>Total Fee :  1,38,060/-( Pay in Two installment)<br>
            <i class="fa fa-inr" aria-hidden="true"></i> 1,10,000/- + 19,800/- (GST 18%) <br>Total Fee :  1,29,800/-( One Time Payment)

          </div>
          <div class="card-footer bg-danger text-center text-white"> <a  [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }"  target="_blank" class=" text-white">View Details</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card m-2 p-2  bg-secondary shadow">
          <div class="card-header">
            <h3 class="text-white text-center">GS (Pre 1st & 2nd + Mains + Optional)</h3>
          </div>
          <div class="card-body text-white">
            <i class="fa fa-inr" aria-hidden="true"></i> 1,35,500/-  + 24,390/- (GST 18%) <br>Total Fee :  1,59,890/-( Pay in Three installment)<br>
            <i class="fa fa-inr" aria-hidden="true"></i> 1,27,373/-  + 22,927/- (GST 18%) <br>Total Fee :  1,50,300/-( One Time Payment)

          </div>
          <div class="card-footer bg-danger text-center text-white"> <a  [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }"  target="_blank" class=" text-white">View Details</a></div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card m-2 p-2  bg-secondary shadow">
          <div class="card-header">
            <h3 class="text-white text-center">GS(MAINS)+OPTIONAL</h3>
          </div>
          <div class="card-body text-white">
            <i class="fa fa-inr" aria-hidden="true"></i> 1,01,500/-  + 18,270/- (GST 18%) <br>Total Fee :  1,19,770/-( Pay in Three installment)<br>
            <i class="fa fa-inr" aria-hidden="true"></i> 95,424/-  + 17,176/- (GST 18%) <br>Total Fee : Rs 1,12,600/-( One Time Payment)

          </div>
          <div class="card-footer bg-danger text-center text-white"> <a  [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }"  target="_blank" class=" text-white">View Details</a></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card m-2 p-2  bg-secondary shadow">
          <div class="card-header">
            <h3 class="text-white text-center">GS(PRE 1ST + MAINS)+CSAT + OPTIONAL+ESSAY</h3>
          </div>
          <div class="card-body text-white">
            <i class="fa fa-inr" aria-hidden="true"></i>1,42,000/-  + 25,560/- (GST 18%) <br>Total Fee : Rs 1,67,560/-( Pay in Three installment)<br>
            <i class="fa fa-inr" aria-hidden="true"></i>1,33,560/-  + 24,041/- (GST 18%) <br>Total Fee : Rs 1,57,600/-( One Time Payment)

          </div>
          <div class="card-footer bg-danger text-center text-white"> <a  [routerLink]="['../ViewPDF']" target="_blank"  [queryParams]="{ pdfSrc:'/assets/NIAS_Courses/NIAS_FEE_STRUCTURE_2019-20.pdf' }"  target="_blank" class=" text-white">View Details</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row bg-danger text-white p-2 m-2">
<h5 class="text-center">All Printed Material(Notes) Provided By Nirman IAS.</h5>
</div>
<div class="row bg-info text-center">

  <h4 class="bg-success m-2 p-2 text-white ml-5">THE COURSE DURATION OF GS MAINS IS ABOUT 10 MONTH</h4><br>
  <h4 class="m-2 p-2 bg-warning">GS (P+M) Course Duration IS ABOUT 15 MONTH</h4>
</div>