<div class="wrapper">

        <!-- Sidebar  -->
    
        <nav id="sidebar" >
            <div class="sidebar-header">
                <h3>User</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#" >
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-eye"></i>Enquiry
                </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a   [routerLink]="['admin/getEnquiry']">
                                 <i class="fa fa-eye" ></i>
                                  View</a>
                            </li>
                            <li>
                                <a  [routerLink]="['admin/Gallery']" >
                                <i class="fa fa-pencil"></i>      
                              Edit</a>
                            </li>
                            <li>
                                <a href="#">
                                  <i class="fa fa-upload"></i>       
                                Update</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-trash"></i> 
                                    Delete</a>
                            </li>
                        </ul>
                   
                </li>
                <li>
                        <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-book"></i>
                     Course
                 </a>
                 <ul class="collapse list-unstyled" id="pageSubmenu1">
                        <li>
                            <a href="#">
                             <i class="fa fa-eye"></i>
                              View</a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="fa fa-pencil"></i>      
                          Edit</a>
                        </li>
                        <li>
                            <a href="#">
                              <i class="fa fa-upload"></i>       
                            Update</a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="fa fa-trash"></i> 
                                Delete</a>
                        </li>
                    </ul>
                      
                </li>
                <li>
                    <a href="#bannerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-sliders"></i>
                     Banner
                    </a>
                    <ul class="collapse list-unstyled" id="bannerSubmenu">
                            <li>
                                <a href="#">
                                 <i class="fa fa-eye"></i>
                                  View</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-pencil"></i>      
                              Edit</a>
                            </li>
                            <li>
                                <a href="#">
                                  <i class="fa fa-upload"></i>       
                                Update</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-trash"></i> 
                                    Delete</a>
                            </li>
                        </ul>
                </li>
                <li>
                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-sign-out"></i>
                     Branch
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                            <li>
                                <a href="#">
                                 <i class="fa fa-eye"></i>
                                  View</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-pencil"></i>      
                              Edit</a>
                            </li>
                            <li>
                                <a href="#">
                                  <i class="fa fa-upload"></i>       
                                Update</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-trash"></i> 
                                    Delete</a>
                            </li>
                        </ul>
                </li>
                <li>
                    <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-commenting-o"></i>
                     Chat
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu4">
                            <li>
                                <a href="#">
                                 <i class="fa fa-eye"></i>
                                  View</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-pencil"></i>      
                              Edit</a>
                            </li>
                            <li>
                                <a href="#">
                                  <i class="fa fa-upload"></i>       
                                Update</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-trash"></i> 
                                    Delete</a>
                            </li>
                        </ul>
                </li>
                <li>
                    <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-share-square"></i>
                Social Media
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu5">
                            <li>
                                <a href="#">
                                 <i class="fa fa-eye"></i>
                                  View</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-pencil"></i>      
                              Edit</a>
                            </li>
                            <li>
                                <a href="#">
                                  <i class="fa fa-upload"></i>       
                                Update</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-trash"></i> 
                                    Delete</a>
                            </li>
                        </ul>
                </li>
                <li>
                    <a href="#pageSubmenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-user"></i>
                Student Detail
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu6">
                            <li>
                                <a href="#">
                                 <i class="fa fa-eye"></i>
                                  View</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-pencil"></i>      
                              Edit</a>
                            </li>
                            <li>
                                <a href="#">
                                  <i class="fa fa-upload"></i>       
                                Update</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-trash"></i> 
                                    Delete</a>
                            </li>
                        </ul>
                </li>
                <li>
                    <a href="#pageSubmenu7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-users"></i>
                Faculty Detail
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu7">
                            <li>
                                <a href="#">
                                 <i class="fa fa-eye"></i>
                                  View</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-pencil"></i>      
                              Edit</a>
                            </li>
                            <li>
                                <a href="#">
                                  <i class="fa fa-upload"></i>       
                                Update</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-trash"></i> 
                                    Delete</a>
                            </li>
                        </ul>
                </li>
               <!-- <li> <button class="dropdown-btn">Dropdown 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-container">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                  </div>
                </li> -->
                <li>
                    <a href="#">
                        <i class="fa fa-sign-out"></i>
                      LogOut
                    </a>
                </li>
          
            </ul>
          </nav>

        <!-- Page Content  -->
        <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>    

</div>