<div class="wrapper">

        <!-- Sidebar  -->
    
        <nav id="sidebar" >
            <div class="sidebar-header">
                <button class=" btn hideBtn btn-outline-info">Admin</button>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a [routerLink]="['/admin']" >
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li>
                <a [routerLink]="['admin/getEnquiry']" >
                  <i class="fa fa-eye"></i>Enquiry
                </a>
                </li>
                <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-picture-o"></i>
                     Gallery
                 </a>
                 <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                                <a  [routerLink]="['admin/insert-banner']" >
                                 <i class="fa fa-plus"></i>
                                  Add</a>
                            </li>    
                    <li>
                            <a [routerLink]="['/Gallery']" target="_blank" >
                             <i class="fa fa-eye"></i>
                              View</a>
                        </li>
                      </ul>
                      
                </li>

                <li>
                    <a href="#pageTestResult" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-picture-o"></i>
                        Test Result
             </a>
             <ul class="collapse list-unstyled" id="pageTestResult">
                    <li>
                            <a  [routerLink]="['admin/InsertTestStudentResult']" >
                             <i class="fa fa-plus"></i>
                              Add</a>
                        </li>    
                <li>
                        <a [routerLink]="['/GetTestStudentResultList']" target="_blank" >
                         <i class="fa fa-eye"></i>
                          View</a>
                    </li>
                  </ul>
                  
            </li>
                <li>
                    <a href="#bannerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-sliders"></i>
                     Banner
                    </a>
                    <ul class="collapse list-unstyled" id="bannerSubmenu">
                            <li>
                                    <a  [routerLink]="['admin/insert-banner']" >
                                     <i class="fa fa-plus"></i>
                                      Add</a>
                                </li>
                            <li>
                                <a [routerLink]="['/GetBannerList']" target="_blank" >
                                 <i class="fa fa-eye"></i>
                                  View</a>
                            </li>
                        </ul>
                </li>
                <li>
                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-sign-out"></i>
                     Branch
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                            <li>
                                    <a  [routerLink]="['admin/insert-branch']" >
                                     <i class="fa fa-plus"></i>
                                      Add</a>
                                </li> 
                            <li>
                                <a  [routerLink]="['/get-BranchList']" target="_blank">
                                 <i class="fa fa-eye"></i>
                                  View</a>
                            </li>
                        </ul>
                </li>
                <li>
                    <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-commenting-o"></i>
                     Chat
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu4">
                            <li>
                                <a   [routerLink]="['admin/getchat']" target="_blank" >
                                 <i class="fa fa-eye"></i>
                                  View</a>
                            </li>
                        </ul>
                </li>
                <li>
                    <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-share-square"></i>
                Social Media
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu5">
                            <li>
                                    <a  [routerLink]="['admin/InsertSocialmedia']" >
                                     <i class="fa fa-plus"></i>
                                      Add</a>
                                </li> 
                            <li>
                                <a   [routerLink]="['/get-socialmedia']" target="_blank" >
                                 <i class="fa fa-eye"></i>
                                  View</a>
                            </li>
                        </ul>
                </li>
                <li>
                    <a href="#pageSubmenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-user"></i>
                Student Detail
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu6">
                            <li>
                                    <a  [routerLink]="['admin/insert-studentmaster']" >
                                     <i class="fa fa-plus"></i>
                                      Add</a>
                                </li> 
                            <li>
                            <li>
                                <a   [routerLink]="['admin/GetStudentmaster']">
                                 <i class="fa fa-eye"></i>
                                  View</a>
                            </li>
                        </ul>
                </li>
                <li>
                    <a href="#pageSubmenu7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-users"></i>
                Faculty Detail
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu7">
                            <li>
                                    <a [routerLink]="['admin/insert-facultyMaster']">
                                     <i class="fa fa-user-plus"></i>
                                      Add</a>
                                </li>
                            <li>
                                <a [routerLink]="['admin/get-facultyMaster']">
                                 <i class="fa fa-eye"></i>
                                  View</a>
                            </li>
                        </ul>
                </li>
                <li>
                        <a href="#pageSubmenu8" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-newspaper-o"></i>
                            Current Affairs
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu8">
                                <li>
                                        <a [routerLink]="['admin/insert-current']">
                                         <i class="fa fa-plus"></i>
                                          Add</a>
                                    </li>
                                <li>
                                    <a [routerLink]="['/get-current']">
                                     <i class="fa fa-eye"></i>
                                      View</a>
                                </li>
                            </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu9" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-newspaper-o"></i>
                            Master Info
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu9">
                                <li>
                                        <a [routerLink]="['admin/InsertMaster']">
                                         <i class="fa fa-plus"></i>
                                          Add</a>
                                    </li>
                                <li>
                                    <a [routerLink]="['admin/Getmaster']">
                                     <i class="fa fa-eye"></i>
                                      View</a>
                                </li>
                            </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu10" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-newspaper-o"></i>
                            Category
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu10">
                                <li>
                                        <a [routerLink]="['admin/insert-category']">
                                         <i class="fa fa-plus"></i>
                                          Add</a>
                                    </li>
                                <li>
                                    <a [routerLink]="['admin/get-category']">
                                     <i class="fa fa-eye"></i>
                                      View</a>
                                </li>
                            </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu11" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-newspaper-o"></i>
                            Sub Category
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu11">
                                <li>
                                        <a [routerLink]="['admin/insert-subcategory']">
                                         <i class="fa fa-plus"></i>
                                          Add</a>
                                    </li>
                                <li>
                                    <a [routerLink]="['admin/get-subcategory']">
                                     <i class="fa fa-eye"></i>
                                      View</a>
                                </li>
                            </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu12" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-newspaper-o"></i>
                            Menu
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu12">
                                <li>
                                        <a [routerLink]="['admin/insert-current']">
                                         <i class="fa fa-plus"></i>
                                          Add</a>
                                    </li>
                                <li>
                                    <a [routerLink]="['/get-current']">
                                     <i class="fa fa-eye"></i>
                                      View</a>
                                </li>
                            </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu13" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-newspaper-o"></i>
                            Courses
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu13">
                                <li>
                                        <a [routerLink]="['admin/insert-course']">
                                         <i class="fa fa-plus"></i>
                                          Add</a>
                                    </li>
                                <li>
                                    <a [routerLink]="['/get-course']" target="_blank">
                                     <i class="fa fa-eye"></i>
                                      View</a>
                                </li>
                            </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu14" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-newspaper-o"></i>
                            User
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu14">
                                <li>
                                        <a [routerLink]="['admin/insert-usermaster']">
                                         <i class="fa fa-plus"></i>
                                          Add</a>
                                    </li>
                                <li>
                                    <a [routerLink]="['admin/get-usermaster']">
                                     <i class="fa fa-eye"></i>
                                      View</a>
                                </li>
                            </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu19" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-newspaper-o"></i>
                            Batch Info
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu19">
                                <li>
                                        <a [routerLink]="['admin/InsertBatchInfo']">
                                         <i class="fa fa-plus"></i>
                                          Add</a>
                                    </li>
                                <li>
                                    <a [routerLink]="['/get-batchdetails']"  target="_blank">
                                     <i class="fa fa-eye"></i>
                                      View</a>
                                </li>
                              </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu15" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-newspaper-o"></i>
                            Batch Topics
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu15">
                                <li>
                                        <a [routerLink]="['admin/insert-batchtopicdetail']">
                                         <i class="fa fa-plus"></i>
                                          Add</a>
                                    </li>
                                <li>
                                    <a [routerLink]="['/get-batchtopicdetail']"  target="_blank">
                                     <i class="fa fa-eye"></i>
                                      View</a>
                                </li>
                            </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu16" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-newspaper-o"></i>
                            Notification
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu16">
                                <li>
                                        <a [routerLink]="['admin/insert-notification']">
                                         <i class="fa fa-plus"></i>
                                          Add</a>
                                    </li>
                                <li>
                                    <a [routerLink]="['/get-notification']" target="_blank">
                                     <i class="fa fa-eye"></i>
                                      View</a>
                                </li>
                            </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu17" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-newspaper-o"></i>
                            Video Lecture / YouTube
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu17">
                                <li>
                                        <a [routerLink]="['admin/insert-VideoLecture']">
                                         <i class="fa fa-plus"></i>
                                          Add</a>
                                    </li>
                                <li>
                                    <a [routerLink]="['/get-VideoLecture']" target="_blank">
                                     <i class="fa fa-eye"></i>
                                      View</a>
                                </li>
                            </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu18" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-newspaper-o"></i>
                            NIAS RESULT
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu18">
                                <li>
                                        <a [routerLink]="['admin/insert-nirmanresult']">
                                         <i class="fa fa-plus"></i>
                                          Add</a>
                                    </li>
                                <li>
                                    <a [routerLink]="['/get-nirmanresult']" target="_blank">
                                     <i class="fa fa-eye"></i>
                                      View</a>
                                </li>
                            </ul>
                    </li>

                    <li>
                            <a href="#pageSubmenu19" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <i class="fa fa-newspaper-o"></i>
                                Video Masters
                            </a>
                            <ul class="collapse list-unstyled" id="pageSubmenu19">
                                    <li>
                                            <a [routerLink]="['admin/InsertInsertVideoMaster']">
                                             <i class="fa fa-plus"></i>
                                              Add</a>
                                        </li>
                                    <li>
                                        <a [routerLink]="['/GetVideoMasterList']" target="_blank">
                                         <i class="fa fa-eye"></i>
                                          View</a>
                                    </li>
                                </ul>
                        </li>
                        <li>
                                <a href="#pageSubmenu20" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                    <i class="fa fa-newspaper-o"></i>
                                    Previous Year Q &amp; A
                                </a>
                                <ul class="collapse list-unstyled" id="pageSubmenu20">
                                        <li>
                                                <a [routerLink]="['admin/InsertPreviousYearQuestion']">
                                                 <i class="fa fa-plus"></i>
                                                  Add</a>
                                            </li>
                                        <li>
                                            <a [routerLink]="['/ListPreviousYearQuestionAnswer']" target="_blank">
                                             <i class="fa fa-eye"></i>
                                              View</a>
                                        </li>
                                    </ul>
                            </li>
    

              <li>
                    <a [routerLink]="['/login']">
                        <i class="fa fa-sign-out"></i>
                      LogOut
                    </a>
                </li>
          
            </ul>
          </nav>

        <!-- Page Content  -->
   <div class="container">
       <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            
    <router-outlet></router-outlet>
   </div>       
           </div>
       </div>

</div>