<div class="container-fluid p-2">
   <h2 class="bg-info text-white p-2">Nirman IAS Magazine</h2>
   <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  p-2">
               <a href="./assets/NIAS_MagazineCover/Magazine/Nirman_Magazine_May_2019.pdf" target="_blank"
                  title="March 2019" class="p-2 m-2  text-white text-center">
                  <img src="./assets/NIAS_MagazineCover/NIAS_May_2019.webp" class="img-fluid img-thumbnail p-2" />
               </a>
            </div>
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  p-2">
               <a href="./assets/NIAS_MagazineCover/Magazine/Nirman_Magazine_Apr_2019.pdf" target="_blank"
                  title="March 2019" class="p-2 m-2  text-white text-center">
                  <img src="./assets/NIAS_MagazineCover/NIAS_Apr_2019.jpeg" class="img-fluid img-thumbnail p-2" />
               </a>
            </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  p-2">
         <a href="./assets/NIAS_MagazineCover/Magazine/Nirman_Magazine_Mar_2019.pdf" target="_blank"
            title="March 2019" class="p-2 m-2  text-white text-center">
            <img src="./assets/NIAS_MagazineCover/NIAS_Mar_2019.jpeg" class="img-fluid img-thumbnail p-2" />
         </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  p-2">
         <a href="./assets/NIAS_MagazineCover/Magazine/Nirman_Magazine_Feb_2019.pdf" target="_blank"
            title="Feb 2019" class="p-2 m-2  text-white text-center">
            <img src="./assets/NIAS_MagazineCover/NIAS_Feb_2019.JPG" class="img-fluid img-thumbnail p-2" />
         </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  p-2">
            <a href="./assets/NIAS_MagazineCover/Magazine/Nirman_Magazine_Jan_2019.pdf" target="_blank"
            title="Jan 2019" class="p-2 m-2  text-white text-center">
         <img src="./assets/NIAS_MagazineCover/NIAS_Jan_2019.JPG" class="img-fluid img-thumbnail p-2" />
         </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  p-2">
            <a href="./assets/NIAS_MagazineCover/Magazine/Nirman_Magazine_Dec_2018.pdf" target="_blank"
            title="Dec 2018" class="p-2 m-2  text-white text-center">
         <img src="./assets/NIAS_MagazineCover/NIAS_Dec_2018.PNG" class="img-fluid img-thumbnail p-2" />
         </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  p-2">
            <a href="./assets/NIAS_MagazineCover/Magazine/Nirman_Magazine_Nov_2018.pdf" target="_blank"
            title="Nov 2018" class="p-2 m-2  text-white text-center">
         <img src="./assets/NIAS_MagazineCover/NIAS_Nov_2018.JPG" class="img-fluid img-thumbnail p-2" />
         </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  p-2">
            <a href="./assets/NIAS_MagazineCover/Magazine/Nirman_Magazine_Oct_2018.pdf" target="_blank"
            title="Oct 2018" class="p-2 m-2  text-white text-center">
         <img src="./assets/NIAS_MagazineCover/NIAS_Oct_2018.JPG" class="img-fluid img-thumbnail p-2" />
         </a>
      </div>
   </div>
</div>