<div class="row">
  <div class="container-fluid">
    <div class="row">
        <h2 class="container-fluid bg-danger text-white text-center p2">CIVIL SERVICE EXAM UPSC</h2>
      <div class="col-lg-4 col-md-4 col-12">
        <div class="p-2">
        <img src="./assets/upsc_NIAS.jpeg" class="img-fluid img-thumbnail" style="width: 100%;" />
        </div>
        <div class="p-2">
        <img src="./assets/NirmanIAS_Logo.png" class="img-fluid img-thumbnail" style="width: 100%;" />
      </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-justify">
      <p class="p-2">Civil Service is one of the highly reputed competitive exam of the country. Future policy-makers and administrators are chosen through this exam. Union Public Service Commission and Public Service Commission of the several state organize the exams on time to time for various services.</p>
      <p  class="p-2">This examination has three stages - Preliminary, Mains and Interview. Prelims is an objective type of examination. The most important exam is Mains which seeks the answers of the questions through conventional method with analytical form. Last stage of the examination is an interview round which includes the personality test of the candidate. Combined marks of Mains and interview are counted in merit list for getting selection. On the basis of merit candidate gets the choices of the services.</p>
      <p  class="p-2">Public Service Commissions of several states hold the examination on the basis of above mentioned procedure. To be successful, it is desirable to prepare for the exam with an appropriate strategy and fair guidance. While observing the changing scenario of the exam, guidance matters much more.</p>
      </div>
    </div>
    <div class="row">
      <div class="container-fluid bg-danger text-white text-center p-2 m-2">GENERAL STUDIES</div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card m-2 p-2 bg-secondary shadow" >
              <div class="card-body">
                 <h2 class="text-white text-center">Preliminary Examination</h2>
              </div>
              <div class="card-footer bg-danger text-center text-white"> 
                  <a [routerLink]="['/PrelimsGSSyllabus']"  class=" text-white">View Details
                    </a>
              </div>
            </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card m-2 p-2  bg-secondary shadow" >
              <div class="card-body">
                 <h2 class="text-white  text-center">Main Examination</h2> 
              </div>
              <div class="card-footer bg-danger text-center text-white"> <a [routerLink]="['/GSMainsSyllabus']"  class=" text-white">View Details
              </a></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid bg-danger text-white text-center p-2 m-2">OPTIONAL SUBJECT</div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card m-2 p-2 bg-secondary shadow" >
                <div class="card-body">
                   <h2 class="text-white text-center">HISTORY</h2>
                </div>
                <div class="card-footer bg-danger text-center text-white"> View Details</div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card m-2 p-2  bg-secondary shadow" >
                <div class="card-body">
                   <h2 class="text-white  text-center">GEOGRAPHY</h2> 
                </div>
                <div class="card-footer bg-danger text-center text-white"> View Details</div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="card m-2 p-2  bg-secondary shadow" >
                  <div class="card-body">
                     <h2 class="text-white  text-center">SOCIALOGY</h2> 
                  </div>
                  <div class="card-footer bg-danger text-center text-white"> View Details</div>
                </div>
            </div>
      </div>
      <div class="row">
          <div class="container-fluid bg-danger text-white text-center p-2 m-2">INTERVIEW</div>
          <div class="offset-lg-2 col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="card m-2 p-2 bg-secondary shadow" >
                  <div class="card-body">
                     <h2 class="text-white text-center">MOCK INTERVIEW</h2>
                  </div>
                  <div class="card-footer bg-danger text-center text-white"> View Details</div>
                </div>
          </div>
     </div>
  </div>

</div>