<div class="container-fluid">
  <form enctype="multipart/form-data" method="post" #SocialMediaMastersForm="ngForm"(ngSubmit)="onSubmit()">
    <div class="form-group">      <label>SocialMediaID </label>
      <input type="text" name="SocialMediaID "
      #SocialMediaID ="ngModel" class="form-control"  [(ngModel)]="SocialMediaModel .SocialMediaID"  required >  
  <div class="validation-error" *ngIf="SocialMediaID.invalid && SocialMediaID.touched">This field is required.</div>          
 </div>
  <div class="form-group">
      <label >SocialMediaName </label>
  <input type="text" name="SocialMediaName " required  #SocialMediaName  ="ngModel" class="form-control"  [(ngModel)]="SocialMediaModel.SocialMediaName "  >
  
  <div class="validation-error" *ngIf="SocialMediaName.invalid && SocialMediaName.touched">This field is required.</div>
   </div> 
  <div class="form-group">
       <label>Address </label>
      <input type="text" name="Address " #Address  ="ngModel" class="form-control"
      [(ngModel)]="SocialMediaModel.Address " required>
      <div class="validation-error" *ngIf="Address.invalid && Address.touched">This field is required.</div>
           </div>
       <div>
       <label>Notes </label>
       <textarea type="text" name="Notes "  #Notes  ="ngModel" class="form-control" required
        [(ngModel)]="SocialMediaModel.Notes "></textarea>
       <div class="validation-error" *ngIf="Notes.invalid && Notes.touched">This field is required.</div>
       </div>
       <div>
        <label>CreatedBy </label>
        <textarea type="text" name="CreatedBy "  #CreatedBy  ="ngModel" class="form-control" required
         [(ngModel)]="SocialMediaModel.CreatedBy "></textarea>
        <div class="validation-error" *ngIf="CreatedBy .invalid && CreatedBy .touched">This field is required.</div>
        </div>
        <div>
          <label>CreatedDate </label>
          <textarea type="text" name="CreatedDate "  #CreatedDate  ="ngModel" class="form-control" required
           [(ngModel)]="SocialMediaModel.CreatedDate "></textarea>
          <div class="validation-error" *ngIf="CreatedDate .invalid && CreatedDate .touched">This field is required.</div>
          </div>
          <div>
            <label>ModifiedBy </label>
            <textarea type="text" name="ModifiedBy "  #ModifiedBy  ="ngModel" class="form-control" required
             [(ngModel)]="SocialMediaModel.ModifiedBy "></textarea>
            <div class="validation-error" *ngIf="ModifiedBy .invalid && ModifiedBy .touched">This field is required.</div>
            </div>
            <div>
              <label>ModifiedDate </label>
              <textarea type="text" name="ModifiedDate "  #ModifiedDate  ="ngModel" class="form-control" required
               [(ngModel)]="SocialMediaModel.ModifiedDate "></textarea>
              <div class="validation-error" *ngIf="ModifiedDate .invalid && ModifiedDate .touched">This field is required.</div>
              </div>
                  <div>
                    <label>Active</label>
                    <textarea type="text" name="Active"  #Active ="ngModel" class="form-control" required
                     [(ngModel)]="SocialMediaModel.Active"></textarea>
                    <div class="validation-error" *ngIf="Active.invalid && Active.touched">This field is required.</div>
                    </div>
          <button [disabled]="!SocialMediaMastersForm.valid" type="submit"  class="btn btn-primary btn-lg m-3 ">Submit Now</button> 
           </form>
  </div>