<div class="container-fluid">
  <h1>Nirman IAS SocialMedia </h1>
  <form #CourceForm="ngForm"(ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>SocialMediaID</label>
      <input type="text" name="SocialMediaID" class="form-control" [(ngModel)]="socialmedia.SocialMediaID">
    </div>
    <div class="form-group">
      <label>SocialMediaName</label>
      <input type="text" name="SocialMediaName" class="form-control" [(ngModel)]="socialmedia.SocialMediaName">
    </div>
    <div class="form-group">
      <label>Address</label>
      <input type="text" name="Address" class="form-control" [(ngModel)]="socialmedia.Address">
    </div>
    <div>
    <label>Notes</label>
    <textarea type="text" name="Notes" class="form-control" [(ngModel)]="socialmedia.Notes"></textarea>
    </div>
    <div class="form-group">
      <label>CreatedBy</label>
      <input type="text" name="CreatedBy" class="form-control" [(ngModel)]="Category.CreatedBy">
    </div>
    <div class="form-group">
      <label>CreatedDate</label>
      <input type="text" name="CreatedDate" class="form-control" [(ngModel)]="Category.CreatedDate">
    </div>
    <div class="form-group">
      <label>ModifiedBy</label>
      <input type="text" name="ModifiedBy" class="form-control" [(ngModel)]="Category.ModifiedBy">
    </div>
    <div class="form-group">
      <label>ModifiedDate</label>
      <input type="text" name="ModifiedDate" class="form-control" [(ngModel)]="Category.ModifiedDate">
    </div>
    <div class="form-group">
      <label>Active</label>
      <input type="boolean" name="Active" class="form-control" [(ngModel)]="Category.Active">
    </div>
    <button type="submit"  class="btn btn-primary btn-lg ml-2">Submit Now</button>
    </form>
  </div>